Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Proper resource management and new internal structure
  src/neptune/cli/clear.py
  src/neptune/cli/container_manager.py
  src/neptune/cli/status.py
  src/neptune/cli/sync.py
  src/neptune/core/components/abstract.py
  src/neptune/core/components/metadata_file.py
  src/neptune/core/components/operation_storage.py
  src/neptune/core/components/queue/disk_queue.py
  src/neptune/core/components/queue/json_file_splitter.py
  src/neptune/core/components/queue/log_file.py
  src/neptune/core/components/queue/sync_offset_file.py
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  src/neptune/internal/utils/files.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_multiple.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/cli/test_status.py
  tests/unit/neptune/new/cli/test_sync.py
  tests/unit/neptune/new/cli/test_utils.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/core/components/queue/test_disk_queue.py
  tests/unit/neptune/new/core/components/test_metadata_file.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_offline_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG
  CHANGELOG.md
Due: none

Self code review
  pyproject.toml
  src/neptune/core/__init__.py
  src/neptune/core/components/__init__.py
  src/neptune/core/components/abstract.py
  src/neptune/core/components/metadata_file.py
  src/neptune/core/components/queue/__init__.py
  src/neptune/core/components/queue/log_file.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/core/__init__.py
  tests/unit/neptune/new/core/components/__init__.py
  tests/unit/neptune/new/core/components/queue/__init__.py
  tests/unit/neptune/new/core/components/queue/test_disk_queue.py
  tests/unit/neptune/new/core/components/queue/test_json_file_splitter.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_offline_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Command-line interface support and cleanup fixes
  src/neptune/cli/clear.py
  src/neptune/cli/collect.py
  src/neptune/cli/commands.py
  src/neptune/cli/container_manager.py
  src/neptune/cli/containers.py
  src/neptune/cli/path_option.py
  src/neptune/cli/status.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/core/components/queue/disk_queue.py
  src/neptune/core/components/queue/json_file_splitter.py
  src/neptune/core/components/queue/log_file.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  src/neptune/metadata_containers/structure_version.py
  tests/e2e/standard/test_cli.py
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/cli/test_status.py
  tests/unit/neptune/new/cli/test_sync.py
  tests/unit/neptune/new/cli/test_utils.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/core/components/queue/test_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/cli/status.py
  src/neptune/cli/sync.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Partitioned operation processor support
  src/neptune/cli/utils.py
  tests/e2e/standard/test_cli.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pre-commit and imports
  src/neptune/cli/containers.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review part 1
  src/neptune/core/components/operation_storage.py
  src/neptune/core/components/queue/log_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

code review part 2
  src/neptune/core/components/queue/disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

auto review
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/metadata_containers/structure_version.py
  tests/unit/neptune/new/cli/test_clear.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes
  tests/unit/neptune/new/cli/test_clear.py
Due: none

Proof of Concept
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix mypy warning checking + mypy
  src/neptune/core/components/queue/disk_queue.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

incidental: warning -> info in logging still waiting ops
  src/neptune/internal/operation_processors/operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix logger unit + comment
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: none

release pytest version req
  pyproject.toml
Due: none

fix pytest warning checking + mypy (#1629)
  pyproject.toml
  src/neptune/core/components/queue/disk_queue.py
  src/neptune/internal/operation_processors/operation_logger.py
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/api/searching_entries.py
  src/neptune/attributes/atoms/artifact.py
  src/neptune/attributes/atoms/file.py
  src/neptune/attributes/file_set.py
  src/neptune/attributes/series/file_series.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  src/neptune/internal/backends/utils.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/metadata_containers_table.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/typing.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

use ExitStack
  src/neptune/internal/backends/hosted_file_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Code review
  src/neptune/cli/collect.py
  src/neptune/cli/containers.py
  src/neptune/cli/status.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/core/components/abstract.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix the other case of deprecated pytest warning
  tests/unit/neptune/new/internal/utils/test_deprecation.py
Due: none

Use progress bar in downloading File and FileSet (#1620)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/attributes/atoms/artifact.py
  src/neptune/attributes/atoms/file.py
  src/neptune/attributes/file_set.py
  src/neptune/attributes/series/file_series.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  src/neptune/internal/backends/utils.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/metadata_containers_table.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/typing.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/internal/backends/test_hosted_file_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add progress bar to fetching FloatSeries and StringSeries
  src/neptune/attributes/series/fetchable_series.py
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

Fix the other case of deprecated pytest warning (#1632)
  tests/unit/neptune/new/internal/utils/test_deprecation.py
Due: none

take the first fetch into account
  src/neptune/attributes/series/fetchable_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Restored
  src/neptune/cli/status.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update integrations
  README.md
Due: none

user limit phrasing
  README.md
Due: none

people update
  README.md
Due: none

add fetching with iterators (#1585)
  CHANGELOG.md
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/metadata_containers/metadata_containers_table.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add limit parameter to fetch_*_table (#1593)
  CHANGELOG.md
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Sorting for `fetch_*_table` (#1595)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add `ascending` parameter to `fetch_*_table` (#1602)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix sorting bug (#1601)
  src/neptune/internal/backends/hosted_neptune_backend.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Progress bars in `fetch_*_table` (#1599)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/utils.py
  src/neptune/internal/utils/runningmode.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/typing.py
  src/neptune/utils.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/internal/backends/test_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Better value validation for state parameter of `fetch_*_table` (#1616)
  CHANGELOG.md
  src/neptune/internal/utils/__init__.py
  src/neptune/metadata_containers/project.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
