Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Add neptune-api dependency (#1823)
  CHANGELOG.md
  pyproject.toml
Due: none

No macos with python 3.7 in Integrations matrix
  .github/workflows/integrations.yml
Due: none

rebase correction
  CHANGELOG.md
Due: none

Serialize operations to protobuf (#1822)
  CHANGELOG.md
  src/neptune/api/operation_to_api.py
  src/neptune/api/operations.py
  src/neptune/api/proto/neptune_pb/ingest/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/common_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/common_pb2.pyi
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/client_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/client_pb2.pyi
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/ingest_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/ingest_pb2.pyi
  tests/unit/neptune/new/api/test_operation_to_api_visitor.py
  tests/unit/neptune/new/api/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

No macos with python 3.7 in Integrations matrix (#1824)
  .github/workflows/integrations.yml
Due: none

add super basic HostedNeptuneBackendV2
  pyproject.toml
  src/neptune/internal/backends/api_client.py
  src/neptune/internal/backends/hosted_neptune_backend_v2.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend_v2.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

fix typing issues
  .pre-commit-config.yaml
  pyproject.toml
  src/neptune/internal/backends/api_client.py
  src/neptune/internal/backends/hosted_neptune_backend_v2.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

change with multiline syntax
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend_v2.py
Due: none

Add basic HostedNeptuneBackendV2 (#1826)
  .pre-commit-config.yaml
  src/neptune/internal/backends/api_client.py
  src/neptune/internal/backends/hosted_neptune_backend_v2.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend_v2.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

All remaining vendor packages removed
  .pre-commit-config.yaml
  codecov.yml
  src/neptune/internal/backends/hosted_neptune_backend_v2.py
  src/neptune/vendor/__init__.py
  src/neptune/vendor/lib_programname.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_libprogramname.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Fixed mypy for neptune.version
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Minor version refactor
  src/neptune/core/operation_processors/utils.py
  src/neptune/integrations/python_logger.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/version.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Fixed mypy for neptune.version and version refactor (#1828)
  .pre-commit-config.yaml
  pyproject.toml
  src/neptune/core/operation_processors/utils.py
  src/neptune/integrations/python_logger.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/version.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

All remaining vendor packages removed (#1827)
  .pre-commit-config.yaml
  codecov.yml
  src/neptune/internal/backends/hosted_neptune_backend_v2.py
  src/neptune/vendor/__init__.py
  src/neptune/vendor/lib_programname.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_libprogramname.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

chore(client): Remove env var to test group tags in client
  tests/e2e/base.py
  tests/e2e/standard/test_base.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
Due: none

code reviewe
  tests/e2e/base.py
Due: none

chore(client): Remove env var to test group tags in client (#1829)
  tests/e2e/base.py
  tests/e2e/standard/test_base.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
Due: none

fix listing runs (#1810)
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/nql.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

POC for a project in read-only state
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

poc for read only project
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Add a super class to handle backend connection for neptune objects
  pyproject.toml
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/utils.py
  src/neptune/objects/with_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

add a test case for fetching runs table
  tests/unit/neptune/new/client/test_run_tables.py
Due: none

changelog
  CHANGELOG.md
Due: none

code review
  pyproject.toml
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/with_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

fix
  src/neptune/objects/project.py
  src/neptune/objects/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

code review
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/with_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

add AggregatingDiskQueue
  src/neptune/core/components/queue/aggregating_disk_queue.py
  tests/unit/neptune/new/core/components/queue/test_aggregaring_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

AggregatingDiskQueue is WithResources
  src/neptune/core/components/queue/aggregating_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

use AggregatingDiskQueue instead of DiskQueue in async_op_processor
  src/neptune/core/components/queue/aggregating_disk_queue.py
  src/neptune/core/operation_processors/async_operation_processor/processing_resources.py
  src/neptune/core/operation_processors/async_operation_processor/queue_observer.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

current
  src/neptune/objects/project.py
  src/neptune/objects/with_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Add a super class to handle backend connection for neptune objects (#1832)
  CHANGELOG.md
  pyproject.toml
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/utils.py
  src/neptune/objects/with_backend.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Run on self-hosted
  .github/workflows/e2e.yml
Due: none

use aggregating disk queue in async operation processor
  src/neptune/core/components/queue/aggregating_disk_queue.py
  src/neptune/core/operation_processors/async_operation_processor/async_operation_processor.py
  src/neptune/core/operation_processors/async_operation_processor/processing_resources.py
  src/neptune/core/operations/utils.py
  tests/unit/neptune/new/core/components/queue/test_aggregaring_disk_queue.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_async_operation_processor.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Integrations e2e disabled and self-hosted runner test
  .github/workflows/e2e.yml
  tests/e2e/integrations/__init__.py
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/integrations/test_lightning.py
  tests/e2e/integrations/test_mosaicml.py
  tests/e2e/integrations/test_zenml.py
  tests/e2e/pytest.ini
Due: none

Title fixed
  .github/workflows/e2e.yml
Due: none

Notifications removed
  .github/workflows/e2e.yml
Due: none

Inpput variables
  .github/actions/install-package/action.yml
  .github/actions/test-e2e/action.yml
  .github/workflows/e2e.yml
Due: none

Run as a module
  .github/actions/test-e2e/action.yml
Due: none

Debug
  .github/actions/test-e2e/action.yml
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  py3.11: any of: src/neptune
  py3.12: any of: src/neptune
  e2e-standard: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/objects/**, src/neptune/new/**, src/neptune/types/**, src/neptune/vendor/**, src/neptune/*.py
