Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

Visitor in searching after
  src/neptune/api/field_visitor.py
  src/neptune/api/searching_entries.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

e2e fixes
  src/neptune/api/field_visitor.py
  src/neptune/api/models.py
  src/neptune/attributes/file_set.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/offline_neptune_backend.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/utils.py
  tests/unit/neptune/new/client/test_project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

RunState mapping
  src/neptune/api/field_visitor.py
  src/neptune/api/models.py
  src/neptune/integrations/pandas/__init__.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pre-commit suggestions
  src/neptune/api/field_visitor.py
  src/neptune/api/models.py
  src/neptune/api/searching_entries.py
  src/neptune/attributes/utils.py
  src/neptune/integrations/pandas/__init__.py
  src/neptune/internal/backends/hosted_artifact_operations.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  src/neptune/objects/neptune_object.py
  src/neptune/table.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/attributes/test_attribute_utils.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/client/test_run_tables.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add setuptools as dependency for py >= 3.12
  pyproject.toml
Due: none

changelog
  CHANGELOG.md
Due: none

Fixes and Bravado model deserialization
  src/neptune/api/field_visitor.py
  src/neptune/api/models.py
  src/neptune/integrations/pandas/__init__.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Unittests fixes
  src/neptune/api/models.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/client/test_run_tables.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
  tests/unit/neptune/new/internal/test_file_entry.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

More tests
  src/neptune/api/field_visitor.py
  src/neptune/api/models.py
  src/neptune/integrations/pandas/__init__.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  tests/unit/neptune/new/api/test_models.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

More tests
  src/neptune/api/models.py
  tests/unit/neptune/new/api/test_models.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

CHANGELOG
  CHANGELOG.md
Due: none

FileEntry tests moved
  tests/unit/neptune/new/api/test_models.py
  tests/unit/neptune/new/internal/test_file_entry.py
Due: none

Add setuptools as dependency for py >= 3.12 (#1721)
  CHANGELOG.md
  pyproject.toml
Due: none

Add setuptools as dependency for python >= 3.12
  pyproject.toml
Due: none

Self review part 1
  tests/unit/neptune/new/client/test_run_tables.py
Due: none

Self review part 2
  src/neptune/internal/backends/hosted_artifact_operations.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix PTL import (#1719)
  CHANGELOG.md
  src/neptune/integrations/pytorch_lightning/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Self review part 3
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Add setuptools as dependency for python >= 3.12 (#1723)
  CHANGELOG.md
  pyproject.toml
Due: none

Removed minor tests only unused methods
  tests/unit/neptune/new/internal/artifacts/utils.py
  tests/unit/neptune/new/internal/utils/test_hashing.py
Due: none

update changelog
  CHANGELOG.md
Due: none

stop using default `sys/name` (#1720)
  CHANGELOG.md
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Code review
  src/neptune/api/models.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Code review 2
  src/neptune/api/models.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Protobuffers added
  .pre-commit-config.yaml
  dev_requirements.txt
  pyproject.toml
  src/neptune/api/proto/__init__.py
  src/neptune/api/proto/neptune_pb/__init__.py
  src/neptune/api/proto/neptune_pb/api/__init__.py
  src/neptune/api/proto/neptune_pb/api/model/__init__.py
  src/neptune/api/proto/neptune_pb/api/model/attributes_pb2.py
  src/neptune/api/proto/neptune_pb/api/model/attributes_pb2.pyi
  src/neptune/api/proto/neptune_pb/api/model/leaderboard_entries_pb2.py
  src/neptune/api/proto/neptune_pb/api/model/leaderboard_entries_pb2.pyi
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Disable item deletion and popping
  src/neptune/attributes/namespace.py
  src/neptune/exceptions.py
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG updated
  CHANGELOG.md
Due: none

Added converters
  src/neptune/api/models.py
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

skip tests that rely on deleting
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
Due: none

disable del and pop in handler
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

skip relevant tests
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
Due: none

Implemented all methods and unittests added
  src/neptune/api/models.py
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  tests/unit/neptune/new/api/test_models.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

xfail relevant tests
  tests/e2e/standard/test_base.py
  tests/e2e/standard/test_files.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
Due: none

Unittests skiped and minor adjustments
  src/neptune/api/models.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

TODOs removed
  src/neptune/api/models.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Environment variable and removed debug
  src/neptune/api/models.py
  src/neptune/api/searching_entries.py
  src/neptune/envs.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Test fixes and field lookup
  src/neptune/api/models.py
  tests/unit/neptune/new/api/test_models.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3
