Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

Max 4 partitions as pool size
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Unittests
  tests/unit/neptune/new/attributes/atoms/test_file.py
Due: none

No print logs
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pool size
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add dynamic (mon increasing) batch size at async operation processor (#1533)
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/utils/monotonic_inc_batch_size.py
  tests/unit/neptune/new/internal/utils/test_monotonic_inc_batch_size.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed neptune cli
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_copy.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

No experimental mode
  src/neptune/internal/operation_processors/factory.py
  src/neptune/types/mode.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed neptune cli
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
  tests/e2e/standard/test_cli.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

No experimental mode part 2
  src/neptune/internal/backends/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update warning messages as in code review
  CHANGELOG.md
  src/neptune/types/series/float_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

add exception to warn_once
  src/neptune/common/warnings.py
  src/neptune/types/series/float_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

changelog
  CHANGELOG.md
Due: none

NeptuneModelKeyAlreadyExistsError exception msg (#1536)
  CHANGELOG.md
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Partitioned Operations Processor (#1524)
  CHANGELOG.md
  src/neptune/attributes/atoms/file.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/common/backends/utils.py
  src/neptune/envs.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
  src/neptune/internal/utils/monotonic_inc_batch_size.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_copy.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
  tests/unit/neptune/new/internal/utils/test_monotonic_inc_batch_size.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Draft PoC
  src/neptune/internal/backends/factory.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/types/mode.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Debug removed
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Removed
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Beeing able to fetch more than 10k of runs
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/nql.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Direct fetch instead of using bravado
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/metadata_containers/metadata_containers_table.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Unittests fixed
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: none

Thread pool general
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Inner pool
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Changelog updated
  CHANGELOG.md
Due: none

Fixed number of threads
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add handling unsupported nans in stringifying_unsupported
  CHANGELOG.md
  src/neptune/common/warnings.py
  src/neptune/internal/types/stringify_value.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

code review
  CHANGELOG.md
Due: none

add warnings for unsupported floats
  CHANGELOG.md
  src/neptune/attributes/atoms/float.py
  src/neptune/common/warnings.py
  src/neptune/types/series/float_series.py
  src/neptune/utils.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

code review
  src/neptune/types/series/float_series.py
  src/neptune/utils.py
  tests/unit/neptune/new/attributes/atoms/test_float.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

delete simplejson upperbound
  pyproject.toml
Due: none

add skip to changelog
  CHANGELOG.md
Due: none

Update warning message
  src/neptune/attributes/atoms/float.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  tests/unit/neptune/new/attributes/atoms/test_float.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
Due: none

rebase
  src/neptune/common/warnings.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

code review
  src/neptune/types/series/float_series.py
  src/neptune/utils.py
  tests/unit/neptune/new/attributes/atoms/test_float.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

zenml drop 3.7, lightning add windows
  .github/workflows/integrations.yml
Due: none
