Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Fixed conda package (#1652)
  CHANGELOG.md
  pyproject.toml
Due: none

Remove default values in iter_over_pages
  src/neptune/api/searching_entries.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

pre-commit
  tests/unit/neptune/new/api/test_searching_entries.py
Due: none

update get_single_page + changelog
  CHANGELOG.md
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

changelog
  CHANGELOG.md
Due: none

make type hints more precise
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Remove default values in iter_over_pages (#1653)
  src/neptune/api/searching_entries.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Poetry lock bare minimum
  poetry.lock
Due: none

Moved to neptune.table
  pyproject.toml
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/new/runs_table.py
  src/neptune/table.py
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/management/test_management.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_model_tables.py
  tests/unit/neptune/new/client/test_model_version_tables.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add missing args to get_single_page call (fix e2e)
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

update unit tests
  src/neptune/api/searching_entries.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Mypy suggestions
  pyproject.toml
  src/neptune/table.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Separated pandas integration
  src/neptune/integrations/pandas/__init__.py
  src/neptune/table.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add missing args to get_single_page call (fix e2e) (#1655)
  src/neptune/api/searching_entries.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Poetry lock bare minimum (#1654)
  poetry.lock
Due: none

Add LazyOperationProcessorWrapper and use it as operation processor in metadata_container
  src/neptune/internal/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
  tests/unit/neptune/new/test_experiment.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move operation processor start() to side effect of lazy init in child fork handling
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

skip test that requires os.fork on windows machine
  tests/unit/neptune/new/test_experiment.py
Due: none

add trigger side effect to LazyOperationProcessorWrapper
  src/neptune/internal/operation_processors/lazy_operation_processor_wrapper.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add LazyOperationProcessorWrapper class
  src/neptune/internal/operation_processors/lazy_operation_processor_wrapper.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

adapt test for metadatacontainer using LazyOpertionProcessorWrapper
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/test_experiment.py
Due: none

add unit test checking operation processor lazy init
  tests/unit/neptune/new/test_experiment.py
Due: none

fix path to operation processor in e2e tests
  tests/e2e/standard/test_cli.py
Due: none

make sure fork children in tests always gets killed
  tests/unit/neptune/new/test_experiment.py
Due: none

update changelog
  CHANGELOG.md
Due: none

cr suggestions. Move logger to inside of metadata_container class, change loglevel in fork handler
  src/neptune/internal/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/internal/utils/logger.py
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Cleanup in metadata_containers_table (#1656)
  pyproject.toml
  src/neptune/integrations/pandas/__init__.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/new/runs_table.py
  src/neptune/table.py
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/management/test_management.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_model_tables.py
  tests/unit/neptune/new/client/test_model_version_tables.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Lazy initialization of operation processor when forking (#1649)
  CHANGELOG.md
  src/neptune/internal/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/internal/utils/logger.py
  src/neptune/metadata_containers/metadata_container.py
  tests/e2e/standard/test_cli.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
  tests/unit/neptune/new/test_experiment.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

bugfix op_processor retrieval in e2e tests
  tests/e2e/standard/test_cli.py
Due: none

Revert "Lazy initialization of operation processor when forking (#1649)"
  CHANGELOG.md
  src/neptune/internal/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/internal/utils/logger.py
  src/neptune/metadata_containers/metadata_container.py
  tests/e2e/standard/test_cli.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
  tests/unit/neptune/new/test_experiment.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

simplify test
  tests/e2e/standard/test_cli.py
Due: none

Lazy initialization of operation processor hotfix (#1659)
  tests/e2e/standard/test_cli.py
Due: none

Restored support for SSL verification exception
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Changelog
  CHANGELOG.md
Due: none

Restored support for SSL verification exception (#1661)
  CHANGELOG.md
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Api added
  src/neptune/management/__init__.py
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

Test added
  src/neptune/management/internal/api.py
  tests/e2e/management/test_management.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
