Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Implement exception-free mode for Metadata Containers
  src/neptune/__init__.py
  src/neptune/envs.py
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix condition
  src/neptune/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Draft
  src/neptune/__init__.py
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add OperationsPreprocessor to queueing (#1485)
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Upgraded performance of sending series data to Neptune (#1483)
  CHANGELOG.md
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/queue/__init__.py
  src/neptune/internal/queue/disk_queue.py
  src/neptune/internal/queue/json_file_splitter.py
  src/neptune/internal/queue/sync_offset_file.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/queue/__init__.py
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/queue/test_json_file_splitter.py
  tests/unit/neptune/new/internal/test_disk_queue.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Gzip request body if server support it (#1476)
  CHANGELOG.md
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Upgraded performance of sending series data to Neptune (#1483)
  CHANGELOG.md
Due: none

Fixed, refactored, covered with tests and proper typings for batching (#1488)
  pyproject.toml
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/batcher.py
  src/neptune/internal/preprocessor/__init__.py
  src/neptune/internal/preprocessor/accumulated_operations.py
  src/neptune/internal/preprocessor/exceptions.py
  src/neptune/internal/preprocessor/operations_accumulator.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
  src/neptune/internal/queue/disk_queue.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
  tests/unit/neptune/new/internal/operation_processors/__init__.py
  tests/unit/neptune/new/internal/operation_processors/test_batcher.py
  tests/unit/neptune/new/internal/preprocessor/__init__.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_accumulator.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Support for batch processing parameters from env variables
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: implement safe mode for all containers
  src/neptune/__init__.py
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: implement safe mode for all containers
  src/neptune/__init__.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/run.py
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: implement safe mode for all containers
  .github/workflows/e2e.yml
Due: none

chore: implement safe mode for all containers
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Working proof of concept
  src/neptune/internal/backends/factory.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/partitioned_op_processor.py
  src/neptune/internal/queue/disk_queue.py
  src/neptune/types/mode.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: warn_once log up to 10k messages
  src/neptune/common/warnings.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

TODOs
  src/neptune/internal/operation_processors/partitioned_op_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

No cleaning up parent directory
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/queue/disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: warn_once ignore exceptions
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: warn_once sha256 to python hash
  src/neptune/common/warnings.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

chore: revert gh actions
  .github/workflows/e2e.yml
Due: none

chore: Call get_callback as a static method.
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Refactor and same path structure for all container types
  pyproject.toml
  src/neptune/cli/sync.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/operation_processors/read_only_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Minor fixes
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  src/neptune/internal/queue/disk_queue.py
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Introduce env flag to disable WS connections
  src/neptune/envs.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/hosted_alpha_leaderboard_api_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Fix typo in envs
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/hosted_alpha_leaderboard_api_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

chore: Add `safe_function` to MetaDataContainer and Handler, optionally with default value.
  src/neptune/handler.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/run.py
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Add `safe_function` to MetaDataContainer and Handler, optionally with default value.
  src/neptune/handler.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add 'enable_remote_signals' flag to init_run to manage of signals processing background job
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

More tests fixed
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
Due: none

cover 'enable_remote_signals' flag by tests
  tests/unit/neptune/new/client/test_run.py
Due: none

fix typo at run.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Added more safe checking to last ack
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG
  CHANGELOG.md
Due: none

add "NEPTUNE_DISABLE_LOCALFILES_CLEANUP" flag for disable deleting local files
  src/neptune/envs.py
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation_processors/operation_storage.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
  tests/unit/neptune/new/internal/test_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md to reflect all latest changes
  CHANGELOG.md
Due: none

Change behavior of flag for disable local cleanup
  CHANGELOG.md
  src/neptune/envs.py
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation_processors/operation_storage.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
  tests/unit/neptune/new/internal/test_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: Retry bravado RecursiveCallException
  CHANGELOG.md
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Extract remove parent folder code to utils
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/utils/files.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
