Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

revert
  dev_requirements.txt
Due: none

Do not run management tests as a part of standard
  .github/workflows/e2e.yml
Due: none

Do not run management tests as a part of standard (#1758)
  .github/workflows/e2e.yml
Due: none

add minimal init code
  src/neptune/core/operations/__init__.py
  src/neptune/core/operations/operation.py
  src/neptune/core/operations/operation_visitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

expose operations
  src/neptune/core/operations/__init__.py
  src/neptune/core/operations/operation.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

add unit tests
  src/neptune/core/operations/operation.py
  tests/unit/neptune/new/core/operations/__init__.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

changelog
  CHANGELOG.md
  tests/unit/neptune/new/core/operations/__init__.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: none

refactor - use _registry to initialize operations from dict with string name
  src/neptune/core/operations/operation.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

code review
  src/neptune/core/operations/operation.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Add initial operations (#1759)
  CHANGELOG.md
  src/neptune/core/operations/__init__.py
  src/neptune/core/operations/operation.py
  src/neptune/core/operations/operation_visitor.py
  tests/unit/neptune/new/core/operations/__init__.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

add unit test to neptune.core.operation_processors
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/objects/model_version.py
  tests/unit/neptune/core/operation_processors/test_lazy_operation_processor_wrapper.py
  tests/unit/neptune/core/operation_processors/test_offline_operation_processor.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move all operation processors to neptune.core.operation_processors
  src/neptune/core/operation_processors/async_operation_processor.py
  src/neptune/core/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/core/operation_processors/offline_operation_processor.py
  src/neptune/core/operation_processors/operation_processor.py
  src/neptune/core/operation_processors/read_only_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/objects/neptune_object.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update imports
  src/neptune/internal/operation_processors/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

add __init__.py to neptune.core.operation_processors
  src/neptune/core/operation_processors/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

move operation processors to `neptune.core.operation_processor` (#1760)
  CHANGELOG.md
  src/neptune/core/operation_processors/__init__.py
  src/neptune/core/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/core/operation_processors/offline_operation_processor.py
  src/neptune/core/operation_processors/operation_processor.py
  src/neptune/core/operation_processors/read_only_operation_processor.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  tests/unit/neptune/core/operation_processors/test_lazy_operation_processor_wrapper.py
  tests/unit/neptune/core/operation_processors/test_offline_operation_processor.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

generate custom id if not provided
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

change handling of too long custom run id
  src/neptune/internal/utils/limits.py
  src/neptune/objects/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

cr fixes
  src/neptune/objects/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

change handling of too long custom run id (#1761)
  CHANGELOG.md
  src/neptune/internal/utils/limits.py
  src/neptune/objects/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

refactor + unit tests
  src/neptune/objects/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

(btw commit) add __init__ files to core test package
  tests/unit/neptune/core/__init__.py
  tests/unit/neptune/core/operation_processors/__init__.py
Due: none

changelog
  CHANGELOG.md
Due: none

refactor
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

move tests around
  tests/unit/neptune/core/__init__.py
  tests/unit/neptune/core/operation_processors/__init__.py
  tests/unit/neptune/new/core/operation_processors/__init__.py
  tests/unit/neptune/new/core/operation_processors/test_lazy_operation_processor_wrapper.py
  tests/unit/neptune/new/core/operation_processors/test_offline_operation_processor.py
Due: none

update imports in core.operation_processors
  src/neptune/core/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/core/operation_processors/offline_operation_processor.py
  src/neptune/core/operation_processors/operation_processor.py
  src/neptune/core/operation_processors/read_only_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

update imports in core.operation_processors (#1763)
  src/neptune/core/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/core/operation_processors/offline_operation_processor.py
  src/neptune/core/operation_processors/operation_processor.py
  src/neptune/core/operation_processors/read_only_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

move tensorflow tests to integrations
  .github/workflows/integrations.yml
  dev_requirements.txt
  tests/e2e/integrations/test_tensorflow_images.py
  tests/e2e/pytest.ini
  tests/unit/neptune/legacy/internal/utils/test_image.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: none

current
  .github/workflows/integrations.yml
Due: none

current
  tests/e2e/integrations/test_tensorflow_images.py
Due: none

macos units py3.8
  .github/workflows/unit-in-pull-request.yml
Due: none

skip test using gitpython
  pyproject.toml
  tests/e2e/conftest.py
Due: none

import fix
  tests/unit/neptune/new/internal/utils/test_git.py
Due: none

Generate custom run id if not provided (#1762)
  CHANGELOG.md
  src/neptune/objects/run.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/core/operation_processors/__init__.py
  tests/unit/neptune/new/core/operation_processors/test_lazy_operation_processor_wrapper.py
  tests/unit/neptune/new/core/operation_processors/test_offline_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

move tensorflow tests to integrations (#1764)
  .github/workflows/integrations.yml
  .github/workflows/unit-in-pull-request.yml
  dev_requirements.txt
  tests/e2e/integrations/test_tensorflow_images.py
  tests/e2e/pytest.ini
  tests/unit/neptune/legacy/internal/utils/test_image.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
