Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

implement thread-safe repo
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add boolean dunder
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix is_running
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix SSL errors after forking process (#1360)
  CHANGELOG.md
  src/neptune/common/backends/utils.py
  src/neptune/common/utils.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backgroud_job_list.py
  src/neptune/internal/background_job.py
  src/neptune/internal/disk_queue.py
  src/neptune/internal/hardware/hardware_metric_reporting_job.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/streams/std_capture_background_job.py
  src/neptune/internal/streams/std_stream_capture_logger.py
  src/neptune/internal/threading/daemon.py
  src/neptune/internal/utils/ping_background_job.py
  src/neptune/internal/utils/traceback_job.py
  src/neptune/internal/websockets/websocket_signals_background_job.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

implement run-level lock
  src/neptune/internal/utils/git.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

start fixing tests
  tests/unit/neptune/new/attributes/atoms/test_file.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/internal/utils/test_git.py
Due: none

fix: Add lock in _is_interrupted
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix daemon sleeping after interruption
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix: Add lock in _is_interrupted
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix: Fix
  src/neptune/internal/threading/daemon.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix: Fix
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add locks
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add lock
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix daemon sleeping after interruption (#1364)
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Temporarly skip one unittest on Windows
  tests/unit/neptune/new/client/test_run.py
Due: none

Temporarly skip one unittest on Windows (#1367)
  tests/unit/neptune/new/client/test_run.py
Due: none

add tensorboard integration support
  CHANGELOG.md
  pyproject.toml
  src/neptune/integrations/tensorboard/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

update changelog
  CHANGELOG.md
Due: none

link error message to docs help page
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix extension
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Link error message to docs help page (#1370)
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

address review
  CHANGELOG.md
Due: none

Test no index
  .github/workflows/unit-in-pull-request.yml
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Cleanup
  .github/workflows/unit-in-pull-request.yml
  CHANGELOG.md
Due: none

Fixed GitPython `is_dirty` failing on Windows (#1371)
  CHANGELOG.md
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Restored skipped test
  .github/workflows/unit-in-pull-request.yml
  tests/unit/neptune/new/client/test_run.py
Due: none

Changelog updated, cleanup and removed pull-requests trigger
  .github/workflows/unit-in-pull-request.yml
  CHANGELOG.md
Due: none

Restored skipped test, changelog cleanup and removed trigger for pull-requests (#1372)
  .github/workflows/unit-in-pull-request.yml
  CHANGELOG.md
  tests/unit/neptune/new/client/test_run.py
Due: none

Handle MetadataContainer keys that parse to empty path #1346
  src/neptune/internal/utils/paths.py
  tests/e2e/standard/test_base.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Handle MetadataContainer keys that parse to empty path #1346"
  src/neptune/internal/utils/paths.py
  tests/e2e/standard/test_base.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed support of stringify value in series attributes with step
  src/neptune/attributes/series/series.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG updated
  CHANGELOG.md
Due: none

Raise error when empty key is used in a Namespace #1346
  src/neptune/attributes/namespace.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Changelog update
  CHANGELOG.md
Due: none

Using "" as dict key results in a warning instead of an exception #1346
  src/neptune/attributes/namespace.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update Changelog
  CHANGELOG.md
Due: none

fix: Set index = false on every call repo.is_dirty
  src/neptune/common/utils.py
  tests/e2e/standard/test_init.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

fix: Set index = false on every call repo.is_dirty (#1375)
  src/neptune/common/utils.py
  tests/e2e/standard/test_init.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy
