Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

CHANGELOG
  CHANGELOG.md
Due: none

Test added
  tests/unit/neptune/new/attributes/atoms/test_file.py
Due: none

Flag added for cleaning internal data (#1589)
  CHANGELOG.md
  src/neptune/envs.py
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/utils/files.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Removed NEPTUNE_DISABLE_PARENT_DIR_DELETION flag
  src/neptune/.DS_Store
  src/neptune/envs.py
  src/neptune/internal/.DS_Store
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/utils/.DS_Store
  src/neptune/internal/utils/files.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Removed .DS_Store
  src/neptune/.DS_Store
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Removed .DS_Store
  src/neptune/internal/.DS_Store
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Removed .DS_Store
  src/neptune/internal/utils/.DS_Store
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Made old neptune-client pyproject.toml up-to-date
  .github/neptune_client_pyproject.toml
Due: none

Made old neptune-client pyproject.toml up-to-date (#1591)
  .github/neptune_client_pyproject.toml
Due: none

Composer e2e
  .github/workflows/integrations.yml
  tests/e2e/integrations/test_composer.py
Due: none

fix
  .github/workflows/integrations.yml
Due: none

maybe a fix?
  .github/actions/install-package/action.yml
  .github/workflows/integrations.yml
Due: none

better location
  .github/actions/install-package/action.yml
  .github/actions/test-e2e/action.yml
Due: none

Add limit parameter to fetch_*_table
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

unit tests
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: none

changelog
  CHANGELOG.md
Due: none

one-liner
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add limit parameter to fetch_*_table (#1593)
  CHANGELOG.md
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Implement sort_by for runs table
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

sort by for model and model version table
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix tests
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

adjust tests
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

e2e + test fix
  .github/workflows/e2e.yml
  src/neptune/metadata_containers/metadata_container.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

test adjustment
  .github/workflows/e2e.yml
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: none

uncomment back
  .github/workflows/e2e.yml
Due: none

docstrings
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

self review
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

more self review
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/internal/backends/neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Moved to lightning.pytorch in Pytorch Lightning e2e tests
  tests/e2e/integrations/test_lightning.py
Due: none

Improved float fetching performance
  src/neptune/attributes/series/fetchable_series.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Protobuf poc
  src/neptune/attributes/series/fetchable_series.py
  src/neptune/common/backends/utils.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/proto/__init__.py
  src/neptune/proto/values_pb2.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Proof of concept
  src/neptune/internal/backends/factory.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/subprocess_operation_processor.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/run.py
  src/neptune/types/mode.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
