Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

introduce ProgressBarType
  src/neptune/api/searching_entries.py
  src/neptune/attributes/atoms/file.py
  src/neptune/attributes/file_set.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/utils.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/metadata_containers_table.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/typing.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add progress_bar param to artifact and file series fetching
  src/neptune/attributes/atoms/artifact.py
  src/neptune/attributes/series/file_series.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

handler download docstring
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

stringify handler paths
  src/neptune/handler.py
  src/neptune/internal/utils/paths.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

unit test
  tests/unit/neptune/new/test_handler.py
Due: none

enable assigning dicts with non-string keys
  src/neptune/internal/utils/paths.py
  tests/unit/neptune/new/test_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

stringify handler paths (#1623)
  CHANGELOG.md
  src/neptune/handler.py
  src/neptune/internal/utils/paths.py
  tests/unit/neptune/new/test_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add processor id info to signal data
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

adjust tests
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
Due: none

Pined dev requirements
  pyproject.toml
Due: none

Pined dev requirements (#1626)
  pyproject.toml
Due: none

Add processor id to `ProcessorStopSignalData` (#1625)
  CHANGELOG.md
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_logger.py
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

replace click echo with neptune.internal.utils.logger
  src/neptune/legacy/internal/api_clients/hosted_api_clients/hosted_backend_api_client.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/mixins.py
  src/neptune/legacy/projects.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, legacy

update changelog
  CHANGELOG.md
Due: none

update const var name
  src/neptune/internal/utils/logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

make root logger CommonPrefixLogger instance, add unit tests for logging
  src/neptune/internal/utils/logger.py
  tests/unit/neptune/new/cli/test_status.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_logging.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

revert some tests to version without log prefix change
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/cli/test_status.py
  tests/unit/neptune/new/internal/utils/test_images.py
  tests/unit/neptune/new/test_handler.py
Due: none

move logging setup order
  src/neptune/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Introduce global logger class with common stdout handler formatter
  src/neptune/internal/utils/logger.py
  tests/unit/neptune/new/test_log_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

WIP: desc below
  src/neptune/__init__.py
  src/neptune/attributes/atoms/integer.py
  src/neptune/attributes/atoms/string.py
  src/neptune/attributes/namespace.py
  src/neptune/attributes/series/string_series.py
  src/neptune/cli/clear.py
  src/neptune/cli/status.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/threading/daemon.py
  src/neptune/internal/types/stringify_value.py
  src/neptune/internal/utils/dependency_tracking.py
  src/neptune/internal/utils/files.py
  src/neptune/internal/utils/images.py
  src/neptune/internal/utils/logger.py
  src/neptune/internal/websockets/websocket_signals_background_job.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/hosted_backend_api_client.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/mixins.py
  src/neptune/legacy/projects.py
  src/neptune/management/internal/api.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/types/namespace.py
  src/neptune/types/series/file_series.py
  src/neptune/utils.py
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/cli/test_status.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

code review bugfix
  src/neptune/legacy/internal/api_clients/hosted_api_clients/hosted_backend_api_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, legacy

remove changes applied to legacy client
  src/neptune/legacy/__init__.py
  src/neptune/legacy/experiments.py
  src/neptune/legacy/internal/api_clients/credentials.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/hosted_alpha_leaderboard_api_client.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/hosted_backend_api_client.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/mixins.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/utils.py
  src/neptune/legacy/internal/api_clients/offline_backend.py
  src/neptune/legacy/internal/channels/channels_values_sender.py
  src/neptune/legacy/internal/execution/execution_context.py
  src/neptune/legacy/internal/notebooks/comm.py
  src/neptune/legacy/internal/notebooks/notebooks.py
  src/neptune/legacy/internal/threads/hardware_metric_reporting_thread.py
  src/neptune/legacy/internal/threads/ping_thread.py
  src/neptune/legacy/internal/utils/http.py
  src/neptune/legacy/internal/utils/http_utils.py
  src/neptune/legacy/projects.py
  src/neptune/legacy/sessions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, legacy

Fixed NVML
  src/neptune/common/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Format adjustments, nvml warning
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/internal/operation_processors/operation_logger.py
  src/neptune/internal/utils/logger.py
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
  tests/unit/neptune/new/utils/logging.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Update src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

No logger for neptune cli
  src/neptune/cli/clear.py
  src/neptune/cli/status.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/utils/logger.py
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/cli/test_status.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

small bugfix
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/backends/utils.py
  tests/unit/neptune/new/test_logging.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

init logging in internal.utils.logger and unit test update
  src/neptune/__init__.py
  src/neptune/internal/utils/logger.py
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/cli/test_status.py
  tests/unit/neptune/new/internal/utils/test_images.py
  tests/unit/neptune/new/test_logging.py
  tests/unit/neptune/new/utils/logging.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

restructure log messages when starting and stoping run
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

MetadataFile, OperationStorage and DiskQueue moved to core.components and mypy suggestions applied
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/core/__init__.py
  src/neptune/core/components/__init__.py
  src/neptune/core/components/metadata_file.py
  src/neptune/core/components/operation_storage.py
  src/neptune/core/components/queue/__init__.py
  src/neptune/core/components/queue/disk_queue.py
  src/neptune/core/components/queue/json_file_splitter.py
  src/neptune/core/components/queue/sync_offset_file.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/core/__init__.py
  tests/unit/neptune/new/core/components/__init__.py
  tests/unit/neptune/new/core/components/queue/__init__.py
  tests/unit/neptune/new/core/components/queue/test_disk_queue.py
  tests/unit/neptune/new/core/components/queue/test_json_file_splitter.py
  tests/unit/neptune/new/core/components/test_metadata_file.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
  tests/unit/neptune/new/internal/test_disk_queue.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Changed offline directories internal path structure
  CHANGELOG.md
  src/neptune/cli/sync.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  tests/e2e/standard/test_cli.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactors
  src/neptune/attributes/atoms/file.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client
