Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

add grpcio + remove unnessesary constraints
  pyproject.toml
Due: none

changelog
  CHANGELOG.md
Due: none

custom slack notification message 1/2 (#1791)
  .github/actions/workflow-notify-v2/action.yml
  .github/workflows/e2e.yml
  .github/workflows/unit.yml
Due: none

custom slack notification message 2/2 (#1792)
  .github/actions/job-notify-v2/action.yml
  .github/actions/workflow-notify-v2/action.yml
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

Removed get url
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

set job status based on workflow-conclusion
  .github/actions/workflow-notify-v2/action.yml
Due: none

dev change to validate failing notif
  .github/workflows/unit.yml
Due: none

add color coding to messages
  .github/actions/workflow-notify-v2/action.yml
Due: none

reformat message
  .github/actions/workflow-notify-v2/action.yml
Due: none

bugfix
  .github/actions/workflow-notify-v2/action.yml
Due: none

dev change
  .github/workflows/unit.yml
Due: none

revert dev changes
  .github/workflows/unit.yml
Due: none

use similar msg format as in master + dev change
  .github/actions/job-notify-v2/action.yml
  .github/actions/workflow-notify-v2/action.yml
  .github/workflows/unit.yml
Due: none

revert dev changes (fr fr)
  .github/workflows/unit.yml
Due: none

swap env display logic
  .github/actions/job-notify-v2/action.yml
  .github/actions/workflow-notify-v2/action.yml
Due: none

swap environment display logic
  .github/actions/workflow-notify-v2/action.yml
Due: none

Get rid of printing URL and use custom id instead (#1795)
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

neptune.internal.hardware removed (#1783)
  pyproject.toml
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/hardware/__init__.py
  src/neptune/internal/hardware/cgroup/__init__.py
  src/neptune/internal/hardware/cgroup/cgroup_filesystem_reader.py
  src/neptune/internal/hardware/cgroup/cgroup_monitor.py
  src/neptune/internal/hardware/constants.py
  src/neptune/internal/hardware/gauges/__init__.py
  src/neptune/internal/hardware/gauges/cpu.py
  src/neptune/internal/hardware/gauges/gauge.py
  src/neptune/internal/hardware/gauges/gauge_factory.py
  src/neptune/internal/hardware/gauges/gauge_mode.py
  src/neptune/internal/hardware/gauges/gpu.py
  src/neptune/internal/hardware/gauges/memory.py
  src/neptune/internal/hardware/gpu/__init__.py
  src/neptune/internal/hardware/gpu/gpu_monitor.py
  src/neptune/internal/hardware/hardware_metric_reporting_job.py
  src/neptune/internal/hardware/metrics/__init__.py
  src/neptune/internal/hardware/metrics/metric.py
  src/neptune/internal/hardware/metrics/metrics_container.py
  src/neptune/internal/hardware/metrics/metrics_factory.py
  src/neptune/internal/hardware/metrics/reports/__init__.py
  src/neptune/internal/hardware/metrics/reports/metric_report.py
  src/neptune/internal/hardware/metrics/reports/metric_reporter.py
  src/neptune/internal/hardware/metrics/reports/metric_reporter_factory.py
  src/neptune/internal/hardware/metrics/service/__init__.py
  src/neptune/internal/hardware/metrics/service/metric_service.py
  src/neptune/internal/hardware/metrics/service/metric_service_factory.py
  src/neptune/internal/hardware/resources/__init__.py
  src/neptune/internal/hardware/resources/gpu_card_indices_provider.py
  src/neptune/internal/hardware/resources/system_resource_info.py
  src/neptune/internal/hardware/resources/system_resource_info_factory.py
  src/neptune/internal/hardware/system/__init__.py
  src/neptune/internal/hardware/system/system_monitor.py
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Moved neptune.internal.init.parameters to neptune.internal.parameters
  pyproject.toml
  src/neptune/api/searching_entries.py
  src/neptune/core/operation_processors/async_operation_processor/constants.py
  src/neptune/internal/init/__init__.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/parameters.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Moved neptune.internal.threading.daemon to neptune.internal.daemon
  pyproject.toml
  src/neptune/core/operation_processors/async_operation_processor/consumer_thread.py
  src/neptune/internal/daemon.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/internal/streams/std_stream_capture_logger.py
  src/neptune/internal/threading/__init__.py
  src/neptune/internal/utils/ping_background_job.py
  src/neptune/internal/websockets/websocket_signals_background_job.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes after rebase
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Minor package refactors (#1784)
  pyproject.toml
  src/neptune/api/searching_entries.py
  src/neptune/core/operation_processors/async_operation_processor/constants.py
  src/neptune/core/operation_processors/async_operation_processor/consumer_thread.py
  src/neptune/internal/daemon.py
  src/neptune/internal/init/__init__.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/parameters.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/internal/streams/std_stream_capture_logger.py
  src/neptune/internal/threading/__init__.py
  src/neptune/internal/utils/ping_background_job.py
  src/neptune/internal/websockets/websocket_signals_background_job.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  pyproject.toml
Due: none

fix slack notif on Production (#1796)
  .github/actions/workflow-notify-v2/action.yml
Due: none

fix slack notif on Production 1.x (#1797)
  .github/actions/job-notify-v2/action.yml
  .github/actions/workflow-notify-v2/action.yml
Due: none

Upgrade min python requirement to 3.8 (#1794)
  .github/workflows/e2e.yml
  .github/workflows/unit-in-pull-request.yml
  .github/workflows/unit.yml
  CHANGELOG.md
  pyproject.toml
  src/neptune/internal/extensions.py
  src/neptune/internal/utils/dependency_tracking.py
  src/neptune/version.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add custom id to metadata + change container path
  src/neptune/core/operation_processors/async_operation_processor/async_operation_processor.py
  src/neptune/core/operation_processors/async_operation_processor/processing_resources.py
  src/neptune/core/operation_processors/sync_operation_processor.py
  src/neptune/core/operation_processors/utils.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_async_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_processing_resources.py
  tests/unit/neptune/new/core/operation_processors/test_sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

stop creating containers on neptune_object init
  src/neptune/attributes/attribute.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  tests/unit/neptune/new/attributes/atoms/test_artifact.py
  tests/unit/neptune/new/attributes/atoms/test_float.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
  tests/unit/neptune/new/attributes/test_attribute_base.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

GitInfo removed
  pyproject.toml
  src/neptune/__init__.py
  src/neptune/api/field_visitor.py
  src/neptune/api/models.py
  src/neptune/attributes/__init__.py
  src/neptune/attributes/atoms/__init__.py
  src/neptune/attributes/atoms/git_ref.py
  src/neptune/attributes/utils.py
  src/neptune/integrations/pandas/__init__.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/constants.py
  src/neptune/internal/utils/generic_attribute_mapper.py
  src/neptune/internal/utils/git.py
  src/neptune/internal/utils/git_info.py
  src/neptune/internal/utils/utils.py
  src/neptune/internal/value_to_attribute_visitor.py
  src/neptune/objects/run.py
  src/neptune/types/__init__.py
  src/neptune/types/atoms/__init__.py
  src/neptune/types/atoms/git_ref.py
  src/neptune/types/value_visitor.py
  tests/e2e/conftest.py
  tests/e2e/standard/test_init.py
  tests/unit/neptune/new/api/test_models.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/internal/utils/test_git.py
  tests/unit/neptune/new/test_imports.py
  tests/unit/neptune/new/types/atoms/test_git_ref.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG
  CHANGELOG.md
Due: none

Pynvml removed
  pyproject.toml
  src/neptune/vendor/pynvml.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Minor mypy suggestions applied
  pyproject.toml
  src/neptune/internal/utils/runningmode.py
  src/neptune/internal/utils/traceback_job.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add custom id to metadata + change container path (#1798)
  CHANGELOG.md
  src/neptune/core/operation_processors/async_operation_processor/async_operation_processor.py
  src/neptune/core/operation_processors/async_operation_processor/processing_resources.py
  src/neptune/core/operation_processors/sync_operation_processor.py
  src/neptune/core/operation_processors/utils.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_async_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_processing_resources.py
  tests/unit/neptune/new/core/operation_processors/test_sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Pynvml removed (#1802)
  pyproject.toml
  src/neptune/vendor/pynvml.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Mypy fixed for two minor modules (#1803)
  pyproject.toml
  src/neptune/internal/utils/runningmode.py
  src/neptune/internal/utils/traceback_job.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update src/neptune/objects/neptune_object.py
  src/neptune/objects/neptune_object.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

bring NeptuneObject closer to async container creation (#1799)
  src/neptune/attributes/attribute.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  tests/unit/neptune/new/attributes/atoms/test_artifact.py
  tests/unit/neptune/new/attributes/atoms/test_float.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
  tests/unit/neptune/new/attributes/test_attribute_base.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client
