Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

code review
  src/neptune/exceptions.py
  src/neptune/internal/utils/disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix e2e (#1563)
  tests/e2e/standard/test_cli.py
Due: none

Introduce disk utilization error handler (#1559)
  CHANGELOG.md
  src/neptune/exceptions.py
  src/neptune/internal/utils/disk_utilization.py
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md (#1562)
  CHANGELOG.md
Due: none

clarify MetadataContainerNotFound message (#1551)
  CHANGELOG.md
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Post-run-creation action
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

Disk utilization naming adjusted
  src/neptune/envs.py
  src/neptune/internal/utils/disk_utilization.py
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Changelog
  CHANGELOG.md
Due: none

Disk utilization naming adjusted (#1565)
  CHANGELOG.md
  src/neptune/envs.py
  src/neptune/internal/utils/disk_utilization.py
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix and revert the tests for docker functionalities
  src/neptune/common/hardware/cgroup/cgroup_monitor.py
  src/neptune/common/hardware/cgroup/cgroup_v1_filesystem_reader.py
  src/neptune/common/hardware/cgroup/cgroup_v2_filesystem_reader.py
  tests/unit/neptune/legacy/internal/hardware/gauges/docker_checker.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_cpu_gauges.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_memory_gauges.py
  tests/unit/neptune/legacy/internal/hardware/resources/test_system_resource_info_factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

add GitHub actions for docker infrastructure
  .github/actions/test-docker/action.yml
  .github/workflows/TEST-run-docker-only-tests.yml
  .github/workflows/run-docker-only-tests.yml
  tests/cgrouptest.Dockerfile
Due: none

add tests that were disabled and fix failing ones
  src/neptune/common/hardware/cgroup/cgroup_monitor.py
  src/neptune/common/hardware/cgroup/cgroup_v1_filesystem_reader.py
  src/neptune/common/hardware/cgroup/cgroup_v2_filesystem_reader.py
  tests/unit/neptune/legacy/internal/hardware/gauges/docker_checker.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_cpu_gauges.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_memory_gauges.py
  tests/unit/neptune/legacy/internal/hardware/resources/test_system_resource_info_factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

add docker infrastructure for testing
  .github/actions/test-docker/action.yml
  .github/workflows/run-docker-only-tests.yml
  tests/cgrouptest.Dockerfile
Due: none

fix typo in test setup
  .github/actions/test-docker/action.yml
Due: none

Initial
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/signals_processor.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Current state
  src/neptune/internal/signals_processing/__init__.py
  src/neptune/internal/signals_processing/signals.py
  src/neptune/internal/signals_processor.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Move prepare_nql_query to a separate function
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog:
  CHANGELOG.md
Due: none

unit tests
  src/neptune/metadata_containers/utils.py
  tests/unit/neptune/new/client/test_project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Move prepare_nql_query to a separate function (#1568)
  CHANGELOG.md
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/utils.py
  tests/unit/neptune/new/client/test_project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#1570)
  CHANGELOG.md
Due: none

download hook
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/download_hook.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

3 separate hooks
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/download_hook.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

len(chunk)
  src/neptune/internal/backends/hosted_file_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

tests
  tests/unit/neptune/new/internal/backends/test_hosted_file_operations.py
Due: none

Added timestamp of operation put to disk queue
  src/neptune/internal/disk_queue.py
  tests/unit/neptune/new/internal/test_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Changelog updated
  CHANGELOG.md
Due: none

Type alias for timestamp
  src/neptune/internal/disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Added timestamp of operation put to disk queue (#1569)
  CHANGELOG.md
  src/neptune/internal/disk_queue.py
  tests/unit/neptune/new/internal/test_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed visitor calling
  src/neptune/internal/signals_processing/signals.py
  src/neptune/internal/signals_processing/signals_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Queue added to CallbacksMonitor
  src/neptune/internal/signals_processing/background_job.py
  src/neptune/internal/signals_processing/signals.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Queue creation and passing it to AsyncProcessor
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/signals_processing/no_op_queue.py
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Added signals processor worker
  src/neptune/internal/signals_processing/signals.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/internal/signals_processing/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Reverted old no sync callbacks implementation
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Background job added
  src/neptune/internal/signals_processing/__init__.py
  src/neptune/internal/signals_processing/background_job.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Signals visitor reworked
  src/neptune/internal/signals_processing/signals.py
  src/neptune/internal/signals_processing/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Tests added and fixes
  src/neptune/internal/signals_processing/signals_processor.py
  tests/unit/neptune/new/internal/signals_processing/__init__.py
  tests/unit/neptune/new/internal/signals_processing/signals_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
