Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

xfail only on True param
  tests/e2e/standard/test_files.py
Due: none

changelog
  CHANGELOG.md
Due: none

disable del and pop in handler (#1729)
  CHANGELOG.md
  src/neptune/handler.py
  tests/e2e/standard/test_base.py
  tests/e2e/standard/test_files.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

remove `AbstractNeptuneObject`
  src/neptune/objects/abstract.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/typing.py
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix docstring
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

remove unused import
  src/neptune/objects/neptune_object.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Fixed compatibility checks with pre release versions
  src/neptune/internal/backends/utils.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG
  CHANGELOG.md
Due: none

remove `AbstractNeptuneObject` (#1725)
  CHANGELOG.md
  src/neptune/objects/abstract.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/typing.py
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Test case for group tags
  tests/e2e/standard/test_base.py
Due: none

Disable artifact-related methods in handler + deco
  src/neptune/handler.py
  tests/unit/neptune/new/attributes/atoms/test_artifact.py
  tests/unit/neptune/new/test_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Official pyproject-flake8 pypi package
  .pre-commit-config.yaml
Due: none

fix
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update e2e
  tests/e2e/standard/test_artifacts.py
Due: none

Added Accept headers and compression
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Tests fixed
  tests/unit/neptune/new/api/test_searching_entries.py
Due: none

Added `Accept` and `Accept-Encoding` headers to protocol buffer requests (#1736)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Disable artifact-related methods in handler + deco (#1734)
  CHANGELOG.md
  src/neptune/handler.py
  tests/e2e/standard/test_artifacts.py
  tests/unit/neptune/new/attributes/atoms/test_artifact.py
  tests/unit/neptune/new/test_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

complete the test
  tests/e2e/standard/test_base.py
Due: none

Update dependency_tracking.py
  src/neptune/internal/utils/dependency_tracking.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update test_dependency_tracking.py
  tests/unit/neptune/new/internal/utils/test_dependency_tracking.py
Due: none

test fetching leaderboard entries by group tag
  tests/e2e/standard/test_fetch_tables.py
Due: none

pytest skipif
  tests/e2e/base.py
  tests/e2e/standard/test_base.py
  tests/e2e/standard/test_fetch_tables.py
Due: none

Update dependency_tracking.py (#1739)
  CHANGELOG.md
  src/neptune/internal/utils/dependency_tracking.py
  tests/unit/neptune/new/internal/utils/test_dependency_tracking.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Test case for group tags (#1737)
  tests/e2e/base.py
  tests/e2e/standard/test_base.py
  tests/e2e/standard/test_fetch_tables.py
Due: none

Fixed default params for getAttributesWithPathsFilter
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Changelog
  CHANGELOG.md
Due: none

Fixed default params for getAttributesWithPathsFilter (#1740)
  CHANGELOG.md
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

clarify autoscale param description
  CHANGELOG.md
  src/neptune/types/atoms/file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Added neptune-fetcher integrations tests workflow
  .github/workflows/integrations.yml
Due: none

Remove boto3
  pyproject.toml
  src/neptune/envs.py
  src/neptune/internal/artifacts/drivers/s3.py
  src/neptune/internal/utils/s3.py
  tests/e2e/standard/test_artifacts.py
  tests/unit/neptune/new/internal/artifacts/drivers/test_s3.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Clarify autoscale parameter description (#1742)
  CHANGELOG.md
  src/neptune/types/atoms/file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

remove moto
  dev_requirements.txt
Due: none
