Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  py3.11:
    paths:
      - src/neptune
    carryforward: true

  py3.12:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/objects/**
        - src/neptune/new/**
        - src/neptune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

Update README.md
  README.md
Due: none

Integrations e2e tests removed (#1847)
  .github/workflows/e2e.yml
  .github/workflows/help-command.yml
  .github/workflows/run-all-test-command.yml
  .github/workflows/run-integrations-command.yml
  .github/workflows/slash-commands.yml
  tests/e2e/integrations/__init__.py
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/integrations/test_lightning.py
  tests/e2e/integrations/test_mosaicml.py
  tests/e2e/integrations/test_zenml.py
  tests/e2e/pytest.ini
Due: none

Updated banner
  readme/Github-cover.png
  readme/github-banner.jpeg
Due: none

Updated banner (#1849)
  readme/Github-cover.png
  readme/github-banner.jpeg
Due: none

use AggregatingDiskQueue in Offline operation processor
  .pre-commit-config.yaml
  src/neptune/core/operation_processors/offline_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/test_offline_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

fix imports in try_get_step
  src/neptune/core/operations/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Bugfix operation utils (#1851)
  src/neptune/core/operations/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Added changes to record GPU power usage metrics by default under monitoring namespace
  src/neptune/common/hardware/constants.py
  src/neptune/common/hardware/gauges/gauge_factory.py
  src/neptune/common/hardware/gauges/gpu.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/common/hardware/metrics/metric.py
  src/neptune/common/hardware/metrics/metrics_container.py
  src/neptune/common/hardware/metrics/metrics_factory.py
  src/neptune/common/hardware/resources/system_resource_info.py
  src/neptune/common/hardware/resources/system_resource_info_factory.py
  src/neptune/internal/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Add py.typed file recommended by PEP 561
  src/neptune/py.typed
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Update README.md (#1848)
  README.md
Due: none

chore: ran precommit
  src/neptune/common/hardware/constants.py
  src/neptune/common/hardware/gauges/gauge_factory.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/common/hardware/resources/system_resource_info.py
  src/neptune/internal/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

chore: Added tests
  src/neptune/common/hardware/metrics/metrics_factory.py
  tests/unit/neptune/legacy/internal/hardware/gauges/gauges_fixture.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_gpu_gauges.py
  tests/unit/neptune/legacy/internal/hardware/metrics/test_metric_reporter_integration.py
  tests/unit/neptune/legacy/internal/hardware/metrics/test_metrics_factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

chore: Updated Changelog, Replaced nvmlDeviceGetPowerManagementLimit with nvmlDeviceGetEnforcedPowerLimitConstraints
  CHANGELOG.md
  src/neptune/common/hardware/gauges/gauge_factory.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/common/hardware/resources/system_resource_info_factory.py
  src/neptune/internal/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

chore: Refactoring
  src/neptune/internal/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Exposed lineage parameter
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Fixes
  src/neptune/api/fetching_series_values.py
  src/neptune/attributes/series/fetchable_series.py
  src/neptune/attributes/series/float_series.py
  src/neptune/attributes/series/string_series.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Simplified
  src/neptune/api/fetching_series_values.py
  src/neptune/attributes/series/fetchable_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Revert
  src/neptune/api/fetching_series_values.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Matrix mac python3.8
  .github/workflows/unit-in-pull-request.yml
  .github/workflows/unit.yml
Due: none

Revert "Matrix mac python3.8"
  .github/workflows/unit-in-pull-request.yml
  .github/workflows/unit.yml
Due: none

chore: Applied code-revew suggestions
  CHANGELOG.md
  src/neptune/common/hardware/constants.py
  src/neptune/common/hardware/gauges/gpu.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/internal/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

chore: Remove deprecated GPU monitoring code and update GPU metrics factory
  pyproject.toml
  src/neptune/common/hardware/metrics/metrics_factory.py
  src/neptune/internal/hardware/gpu/__init__.py
  src/neptune/internal/hardware/gpu/gpu_monitor.py
  src/neptune/internal/hardware/hardware_metric_reporting_job.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

bug: Fix for failing tests
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/common/hardware/metrics/metrics_factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

GPU power utilization added to monitoring namespace. (#1854)
  CHANGELOG.md
  pyproject.toml
  src/neptune/common/hardware/constants.py
  src/neptune/common/hardware/gauges/gauge_factory.py
  src/neptune/common/hardware/gauges/gpu.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/common/hardware/metrics/metric.py
  src/neptune/common/hardware/metrics/metrics_container.py
  src/neptune/common/hardware/metrics/metrics_factory.py
  src/neptune/common/hardware/resources/system_resource_info.py
  src/neptune/common/hardware/resources/system_resource_info_factory.py
  src/neptune/internal/hardware/gpu/__init__.py
  src/neptune/internal/hardware/gpu/gpu_monitor.py
  src/neptune/internal/hardware/hardware_metric_reporting_job.py
  tests/unit/neptune/legacy/internal/hardware/gauges/gauges_fixture.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_gpu_gauges.py
  tests/unit/neptune/legacy/internal/hardware/metrics/test_metric_reporter_integration.py
  tests/unit/neptune/legacy/internal/hardware/metrics/test_metrics_factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Update test_gpu_gauges.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_gpu_gauges.py
Due: none

chore: Fixed tests
  src/neptune/common/hardware/gpu/gpu_monitor.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_gpu_gauges.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

chore: Fix for tests
  src/neptune/common/hardware/gpu/gpu_monitor.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_gpu_gauges.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

fix: Fix GPU power utilization logging and error handling
  src/neptune/common/hardware/gauges/gpu.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Revert "fix: Fix GPU power utilization logging and error handling"
  src/neptune/common/hardware/gauges/gpu.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Fix: Fix GPU power usage and warning
  src/neptune/common/hardware/gauges/gpu.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

chore: Updated changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix: Fix GPU power usage and warning (#1861)
  CHANGELOG.md
  src/neptune/common/hardware/gauges/gpu.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

feat: `stringify_unsupported()` now expands lists
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Adjust neptune-client after endpoint changes
  src/neptune/internal/backends/nql.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

use queryAttributeDefinitionsWithinProject for sort_by column type fetching
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

use project id iwhile getting column type
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client
