Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

No parent root deletion and no child directories
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed, refactored, covered with tests and proper typings for batching (#1488)
  CHANGELOG.md
  pyproject.toml
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/batcher.py
  src/neptune/internal/preprocessor/__init__.py
  src/neptune/internal/preprocessor/accumulated_operations.py
  src/neptune/internal/preprocessor/exceptions.py
  src/neptune/internal/preprocessor/operations_accumulator.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
  src/neptune/internal/queue/disk_queue.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
  tests/unit/neptune/new/internal/operation_processors/__init__.py
  tests/unit/neptune/new/internal/operation_processors/test_batcher.py
  tests/unit/neptune/new/internal/preprocessor/__init__.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_accumulator.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small tweaks in error handling
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Support for NEPTUNE_ASYNC_BATCH_SIZE env variable
  src/neptune/envs.py
  src/neptune/internal/operation_processors/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Fixed, refactored, covered with tests and proper typings for batching (#1488)"
  CHANGELOG.md
  pyproject.toml
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/batcher.py
  src/neptune/internal/preprocessor/__init__.py
  src/neptune/internal/preprocessor/accumulated_operations.py
  src/neptune/internal/preprocessor/exceptions.py
  src/neptune/internal/preprocessor/operations_accumulator.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
  src/neptune/internal/queue/disk_queue.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
  tests/unit/neptune/new/internal/operation_processors/__init__.py
  tests/unit/neptune/new/internal/operation_processors/test_batcher.py
  tests/unit/neptune/new/internal/preprocessor/__init__.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_accumulator.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Gzip request body if server support it (#1476)"
  CHANGELOG.md
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Upgraded performance of sending series data to Neptune (#1483)"
  CHANGELOG.md
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/queue/__init__.py
  src/neptune/internal/utils/json_file_splitter.py
  src/neptune/internal/utils/sync_offset_file.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/queue/__init__.py
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/queue/test_json_file_splitter.py
  tests/unit/neptune/new/internal/test_disk_queue.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Add OperationsPreprocessor to queueing (#1485)"
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert new batching algorithm (#1491)
  CHANGELOG.md
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/batcher.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/preprocessor/__init__.py
  src/neptune/internal/preprocessor/accumulated_operations.py
  src/neptune/internal/preprocessor/exceptions.py
  src/neptune/internal/preprocessor/operations_accumulator.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
  src/neptune/internal/queue/__init__.py
  src/neptune/internal/utils/json_file_splitter.py
  src/neptune/internal/utils/sync_offset_file.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
  tests/unit/neptune/new/internal/operation_processors/__init__.py
  tests/unit/neptune/new/internal/operation_processors/test_batcher.py
  tests/unit/neptune/new/internal/preprocessor/__init__.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_accumulator.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_preprocessor.py
  tests/unit/neptune/new/internal/queue/__init__.py
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/queue/test_json_file_splitter.py
  tests/unit/neptune/new/internal/test_disk_queue.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small tweaks in error handling (#1490)
  src/neptune/common/backends/utils.py
  src/neptune/envs.py
  src/neptune/internal/operation_processors/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#1492)
  CHANGELOG.md
Due: none

Add OperationsPreprocessor to queueing (#1485)
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Upgraded performance of sending series data to Neptune (#1483)
  CHANGELOG.md
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/queue/__init__.py
  src/neptune/internal/queue/disk_queue.py
  src/neptune/internal/queue/json_file_splitter.py
  src/neptune/internal/queue/sync_offset_file.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/queue/__init__.py
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/queue/test_json_file_splitter.py
  tests/unit/neptune/new/internal/test_disk_queue.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Gzip request body if server support it (#1476)
  CHANGELOG.md
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Support for batch processing parameters from env variables
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG
  CHANGELOG.md
Due: none

Minimal poc
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/utils/disk_full.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Changelog
  CHANGELOG.md
Due: none

Sync support
  src/neptune/internal/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Support for batch processing parameters from env variables"
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Update CHANGELOG.md"
  CHANGELOG.md
Due: none

Revert "CHANGELOG"
  CHANGELOG.md
Due: none

Resolve conflicts
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Revert "Add OperationsPreprocessor to queueing (#1485)""
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Revert "Upgraded performance of sending series data to Neptune (#1483)""
  CHANGELOG.md
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/queue/__init__.py
  src/neptune/internal/queue/disk_queue.py
  src/neptune/internal/queue/json_file_splitter.py
  src/neptune/internal/queue/sync_offset_file.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/queue/__init__.py
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/queue/test_json_file_splitter.py
  tests/unit/neptune/new/internal/test_disk_queue.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Revert "Fixed, refactored, covered with tests and proper typings for batching (#1488)""
  CHANGELOG.md
  pyproject.toml
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/batcher.py
  src/neptune/internal/preprocessor/__init__.py
  src/neptune/internal/preprocessor/accumulated_operations.py
  src/neptune/internal/preprocessor/exceptions.py
  src/neptune/internal/preprocessor/operations_accumulator.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
  src/neptune/internal/queue/disk_queue.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
  tests/unit/neptune/new/internal/operation_processors/__init__.py
  tests/unit/neptune/new/internal/operation_processors/test_batcher.py
  tests/unit/neptune/new/internal/preprocessor/__init__.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_accumulator.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Revert "Gzip request body if server support it (#1476)""
  CHANGELOG.md
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Revert "Update CHANGELOG.md""
  CHANGELOG.md
Due: none

Revert "Revert "Support for batch processing parameters from env variables""
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

add "Fixes" heading
  CHANGELOG.md
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
