Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

MetadataFile added
  src/neptune/internal/metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG updated
  CHANGELOG.md
Due: none

Minor refactor
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  tests/unit/neptune/new/internal/operation_processors/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Test cleaning
  src/neptune/internal/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_offline_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Improve Neptune object docstrings: (#1516)
  CHANGELOG.md
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed warning
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix order in sync
  src/neptune/internal/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Made consistent with master branch
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Unittests fixed
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
Due: none

Attempt to fix e2e for windows
  src/neptune/internal/metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Unittests fixed
  tests/unit/neptune/new/internal/test_metadata_file.py
Due: none

update management docstrings (#1500)
  CHANGELOG.md
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

Added MetadataFile to store internal informations about Neptune objects (#1526)
  CHANGELOG.md
  src/neptune/internal/metadata_file.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/internal/operation_processors/__init__.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_offline_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_sync_operation_processor.py
  tests/unit/neptune/new/internal/test_metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed CHANGELOG.md
  CHANGELOG.md
Due: none

Fixed windows unittests
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
Due: none

Fixed CHANGELOG.md (#1527)
  CHANGELOG.md
Due: none

Test removed
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
Due: none

Fixed windows unittests (#1528)
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
Due: none

Minor tweaks and tests refactors in neptune.cli
  src/neptune/cli/clear.py
  src/neptune/cli/container_manager.py
  src/neptune/cli/sync.py
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/cli/test_status.py
  tests/unit/neptune/new/cli/test_sync.py
  tests/unit/neptune/new/cli/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Minor tweaks and tests refactors in neptune.cli (#1529)
  src/neptune/cli/clear.py
  src/neptune/cli/container_manager.py
  src/neptune/cli/sync.py
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/cli/test_status.py
  tests/unit/neptune/new/cli/test_sync.py
  tests/unit/neptune/new/cli/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG update
  CHANGELOG.md
Due: none

CHANGELOG update (#1530)
  CHANGELOG.md
Due: none

New internal directory structure
  CHANGELOG.md
  src/neptune/envs.py
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/utils.py
  src/neptune/internal/utils/files.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_offline_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes after rebase
  src/neptune/internal/metadata_file.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Tests fixed
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Tests added and ability to read existing file
  src/neptune/internal/metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes
  src/neptune/internal/metadata_file.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_multiple.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_offline_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Smaller timeouts + bigger connection pool size
  src/neptune/common/backends/utils.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Remove unnecessary log
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Lower number of connections in the conn pool
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix: Log actual exception in case of NeptuneAuthTokenExpired
  CHANGELOG.md
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Draft PoC
  src/neptune/envs.py
  src/neptune/internal/backends/factory.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
  src/neptune/types/mode.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix: Log actual exception in case of NeptuneAuthTokenExpired (#1531)
  CHANGELOG.md
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Changelog
  CHANGELOG.md
Due: none

Fixed file related errors
  src/neptune/attributes/atoms/file.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Unittests
  tests/unit/neptune/new/attributes/atoms/test_file.py
Due: none

Pool size
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Max 4 partitions as pool size
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

No print logs
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client
