Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Added support for protocol buffers
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Series calling backend fixed
  src/neptune/attributes/series/float_series.py
  src/neptune/attributes/series/string_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes and tests fixes
  src/neptune/api/fetching_series_values.py
  src/neptune/attributes/series/fetchable_series.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG updated
  CHANGELOG.md
Due: none

Unittest added
  src/neptune/api/fetching_series_values.py
  tests/unit/neptune/new/api/test_fetching_series_values.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Added dependabot for package
  .github/dependabot.yml
Due: none

Poetry lock added
  .github/neptune_client_pyproject.toml
  .github/poetry.lock
Due: none

Restored integrations
  .github/neptune_client_pyproject.toml
Due: none

code review
  tests/unit/neptune/new/attributes/series/test_file_series.py
  tests/unit/neptune/new/types/atoms/test_file.py
Due: none

fix for e2e
  tests/e2e/standard/test_series.py
  tests/e2e/utils.py
Due: none

Series values fetching reworked with protocol buffer support (#1744)
  CHANGELOG.md
  src/neptune/api/fetching_series_values.py
  src/neptune/attributes/series/fetchable_series.py
  src/neptune/attributes/series/float_series.py
  src/neptune/attributes/series/string_series.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  tests/unit/neptune/new/api/test_fetching_series_values.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Disable file logging (#1733)
  CHANGELOG.md
  src/neptune/handler.py
  tests/unit/neptune/new/test_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Remove pillow from dependencies (#1745)
  CHANGELOG.md
  pyproject.toml
  src/neptune/attributes/series/file_series.py
  tests/e2e/standard/test_series.py
  tests/e2e/utils.py
  tests/unit/neptune/new/attributes/series/test_file_series.py
  tests/unit/neptune/new/internal/utils/test_images.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/types/atoms/test_file.py
  tests/unit/neptune/new/types/test_file_casting.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Added remaining models and unittests
  src/neptune/api/models.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  tests/unit/neptune/new/api/test_models.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pre-commit
  src/neptune/api/models.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  tests/unit/neptune/new/api/test_models.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Current
  src/neptune/api/models.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG
  CHANGELOG.md
Due: none

Added dependabot for neptune-client package (#1750)
  .github/dependabot.yml
  .github/poetry.lock
Due: none

Pagination added
  src/neptune/api/pagination.py
  tests/unit/neptune/new/api/test_pagination.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Poetry lock update
  poetry.lock
Due: none

Fixes
  tests/unit/neptune/new/api/test_pagination.py
Due: none

Endpoints added for enchanced fields search (#1751)
  CHANGELOG.md
  src/neptune/api/models.py
  src/neptune/api/pagination.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  tests/unit/neptune/new/api/test_models.py
  tests/unit/neptune/new/api/test_pagination.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Poetry lock update (#1754)
  poetry.lock
Due: none

Mark run as failed in case of error using ctx manager
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

improve
  src/neptune/internal/utils/traceback_job.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

e2e test case
  tests/e2e/standard/test_init.py
Due: none

remake
  src/neptune/internal/utils/traceback_job.py
  src/neptune/internal/utils/uncaught_exception_handler.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

better testing
  tests/e2e/standard/test_init.py
Due: none

code review
  src/neptune/internal/utils/uncaught_exception_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

remove 'this'
  src/neptune/internal/utils/uncaught_exception_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Macos set to install Python 3.7 instead of 3.7.16
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

Macos-13
  .github/workflows/unit-in-pull-request.yml
Due: none

Python3.8 in place of Python3.7 for MacOS
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

Fix in PRs
  .github/workflows/unit-in-pull-request.yml
Due: none

Tensorflow removed from dev requirements
  dev_requirements.txt
Due: none

code review
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Python3.8 in place of Python3.7 for MacOS (#1757)
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit-in-pull-request.yml
  .github/workflows/unit.yml
  dev_requirements.txt
Due: none

cherry pick py3.8 for macos (unit in pull request)
  .github/workflows/unit-in-pull-request.yml
Due: none

fix
  dev_requirements.txt
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
