Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

use importskip for tensorflow
  tests/e2e/integrations/test_tensorflow_images.py
Due: none

macos 3.8
  .github/workflows/e2e.yml
Due: none

fix e2e after adding id generation
  tests/e2e/standard/test_fetch_tables.py
Due: none

remove gitpython dependency (#1752)
  CHANGELOG.md
  pyproject.toml
  tests/e2e/conftest.py
  tests/unit/neptune/new/internal/utils/test_git.py
Due: none

Use importskip for tensorflow (#1765)
  .github/workflows/e2e.yml
  tests/e2e/integrations/test_tensorflow_images.py
Due: none

fix
  tests/e2e/standard/test_fetch_tables.py
Due: none

Add support for NEPTUNE_ASYNC_BATCH_SIZE in neptune cli
  src/neptune/cli/containers.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix e2e after adding id generation (#1766)
  tests/e2e/standard/test_fetch_tables.py
Due: none

Add support for NEPTUNE_ASYNC_BATCH_SIZE in neptune cli (#1767)
  src/neptune/cli/containers.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update changelog for batch size env var in CLI
  CHANGELOG.md
Due: none

e2e workflow triggers e2e workflow on dev1.x branch
  .github/workflows/e2e.yml
Due: none

e2e workflow syntax fix
  .github/workflows/e2e.yml
Due: none

e2e.yml syntax fix
  .github/workflows/e2e.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

inherit all secrets in e2e_dev1_x workflow
  .github/workflows/e2e.yml
Due: none

Update CHANGELOG.md (#1769)
  CHANGELOG.md
Due: none

init code for async op processor
  src/neptune/core/operation_processors/async_operation_processor.py
  src/neptune/core/operation_processors/utils.py
  src/neptune/core/typing/__init__.py
  src/neptune/core/typing/container_type.py
  src/neptune/core/typing/id_formats.py
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

improve test structure
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: none

change integration workflow to reuse e2e workflow defined in dev/1.x branch
  .github/workflows/integrations.yml
Due: none

enqueue operations
  src/neptune/core/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

introduce ProcessingResources
  src/neptune/core/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

more tests to enqueue_operation
  src/neptune/core/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Changed to directly install package
  .github/workflows/release.yml
Due: none

Restored
  .github/workflows/release.yml
Due: none

introduce QueueObserver
  src/neptune/core/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

revert accidental rename
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
Due: none

remove slots
  src/neptune/core/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Changed to directly install package when releasing (#1772)
  .github/workflows/release.yml
Due: none

Draft: Package fix
  .github/workflows/release.yml
Due: none

Debug
  .github/workflows/release.yml
Due: none

Fixed typo in neptune client package name
  .github/workflows/release.yml
Due: none

Restore the proper status
  .github/workflows/release.yml
Due: none

test operation processor wait
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: none

Fixed typo in `neptune-client` package release (#1773)
  .github/workflows/release.yml
Due: none

test other processor methods
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: none

refactor usage of processor stop logger
  src/neptune/core/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

tests for customer thread
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: none

test calling signal_batch_lag in process_batch
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: none

tests for queue observer
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
