Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

code review
  CHANGELOG.md
  src/neptune/integrations/tensorflow_keras/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

fix integration imports (#1711)
  CHANGELOG.md
  src/neptune/integrations/aws/__init__.py
  src/neptune/integrations/detectron2/__init__.py
  src/neptune/integrations/fastai/__init__.py
  src/neptune/integrations/kedro/__init__.py
  src/neptune/integrations/lightgbm/__init__.py
  src/neptune/integrations/optuna/__init__.py
  src/neptune/integrations/pytorch/__init__.py
  src/neptune/integrations/sacred/__init__.py
  src/neptune/integrations/sklearn/__init__.py
  src/neptune/integrations/tensorboard/__init__.py
  src/neptune/integrations/tensorflow_keras/__init__.py
  src/neptune/integrations/xgboost/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Changelog updated with 2.0.0
  CHANGELOG.md
Due: none

Pyproject.toml updated with 2.0.0
  pyproject.toml
Due: none

Remove neptune.new (#1684)
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/neptune/new/__init__.py
  src/neptune/new/_compatibility.py
  src/neptune/new/constants.py
  src/neptune/new/envs.py
  src/neptune/new/exceptions.py
  src/neptune/new/handler.py
  src/neptune/new/project.py
  src/neptune/new/run.py
  src/neptune/new/runs_table.py
  src/neptune/new/utils.py
  src/neptune/new/version.py
  tests/unit/neptune/new/test_imports.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Remove neptune-client (#1699)
  .github/neptune_client_pyproject.toml
  .github/workflows/release.yml
  CHANGELOG.md
  src/neptune/exceptions.py
  src/neptune/integrations/python_logger.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/utils/logger.py
  src/neptune/utils.py
  src/neptune/version.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Remove neptune.logging package (#1698)
  CHANGELOG.md
  codecov.yml
  pyproject.toml
  src/neptune/integrations/python_logger.py
  src/neptune/internal/streams/std_stream_capture_logger.py
  src/neptune/logging/__init__.py
  src/neptune/logging/logger.py
  tests/unit/neptune/new/internal/test_streams.py
  tests/unit/neptune/new/test_imports.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Disable background jobs and metadata logging (#1703)
  src/neptune/objects/run.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_log_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

disable neptune model (#1701)
  CHANGELOG.md
  src/neptune/exceptions.py
  src/neptune/objects/model.py
  tests/e2e/base.py
  tests/e2e/conftest.py
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_copy.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
  tests/e2e/standard/test_multiple.py
  tests/e2e/standard/test_stage_transitions.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version_tables.py
  tests/unit/neptune/new/test_experiment.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

disable Project (#1709)
  CHANGELOG.md
  src/neptune/objects/project.py
  tests/e2e/base.py
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_init.py
  tests/unit/neptune/new/client/test_model_tables.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

disable ModelVersion (#1708)
  CHANGELOG.md
  src/neptune/objects/model_version.py
  tests/e2e/standard/test_stage_transitions.py
  tests/unit/neptune/new/client/test_model_version.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

After rebase
  src/neptune/internal/hardware/metrics/service/metric_service_factory.py
  tests/e2e/standard/test_multiprocessing.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes e2e and unittests
  src/neptune/objects/project.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
  tests/unit/neptune/new/client/test_model_tables.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run_tables.py
  tests/unit/neptune/new/internal/utils/test_git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Change 'xfail' to 'skip' in e2e tests
  tests/e2e/base.py
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
  tests/e2e/standard/test_stage_transitions.py
Due: none

Change 'xfail' to 'skip' in e2e tests (#1714)
  tests/e2e/base.py
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
  tests/e2e/standard/test_stage_transitions.py
Due: none

stop sending x-neptune-legacyclient header
  CHANGELOG.md
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

bugfix
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

stop sending x-neptune-legacyclient header (#1715)
  CHANGELOG.md
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

TQDM notebook only in notebooks
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG update
  CHANGELOG.md
Due: none

TQDM use auto
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG
  CHANGELOG.md
Due: none

AttributeDefinition
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Field and FieldDefinition
  src/neptune/api/searching_entries.py
  src/neptune/integrations/pandas/__init__.py
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  src/neptune/objects/utils.py
  src/neptune/table.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fields renamed
  src/neptune/api/searching_entries.py
  src/neptune/integrations/pandas/__init__.py
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/objects/utils.py
  src/neptune/table.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

disable cli commends
  src/neptune/cli/commands.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

mark cli test as xfailing
  tests/e2e/standard/test_cli.py
Due: none

Disable command line tool (#1718)
  CHANGELOG.md
  src/neptune/cli/commands.py
  tests/e2e/standard/test_cli.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix PTL import
  src/neptune/integrations/pytorch_lightning/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

stop sending defuault `sys/name` in run if value not provided
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Initial refactor
  src/neptune/api/dtos.py
  src/neptune/api/models.py
  src/neptune/api/searching_entries.py
  src/neptune/attributes/utils.py
  src/neptune/integrations/pandas/__init__.py
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_artifact_operations.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  src/neptune/internal/utils/generic_attribute_mapper.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/utils.py
  src/neptune/table.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/attributes/test_attribute_utils.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/client/test_run_tables.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes
  src/neptune/internal/backends/hosted_artifact_operations.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

AttributesDTO conversion
  src/neptune/api/field_visitor.py
  src/neptune/api/models.py
  src/neptune/api/searching_entries.py
  src/neptune/table.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
