Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  py3.11:
    paths:
      - src/neptune
    carryforward: true

  py3.12:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/objects/**
        - src/neptune/new/**
        - src/neptune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

Fix: Fix support for additional seaborn figure types
  CHANGELOG.md
  src/neptune/internal/utils/images.py
  src/neptune/legacy/internal/utils/image.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: Update Python versions in CI workflows
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit-in-pull-request.yml
  .github/workflows/unit.yml
Due: none

Add py.typed file recommended by PEP 561
  src/neptune/py.typed
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

chore: Add py.typed file to pyproject.toml
  pyproject.toml
Due: none

remove unused code
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

code review - removed explict null passing
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

changelog
  CHANGELOG.md
Due: none

include the column we sort by
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Adjust neptune-client after endpoint changes (#1863)
  CHANGELOG.md
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/nql.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

remove model registry gif
  README.md
Due: none

Added limit and page size to pagination
  CHANGELOG.md
  src/neptune/api/pagination.py
  tests/unit/neptune/new/api/test_pagination.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

CHANGELOG
  CHANGELOG.md
Due: none

Unittests
  tests/unit/neptune/new/api/test_pagination.py
Due: none

Code review
  src/neptune/api/pagination.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

tweak model registry content
  README.md
Due: none

Update README (#1867)
  README.md
Due: none

Expose `find_attribute`
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Add `NeptuneBackend.query_fields_within_project` + implementation
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Properly handle cases where field regex and field list are provided
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Added support for Protocol Buffers in queryAttributesWithinProject
  src/neptune/api/models.py
  src/neptune/api/proto/neptune_pb/api/model/attributes_pb2.py
  src/neptune/api/proto/neptune_pb/api/model/attributes_pb2.pyi
  src/neptune/api/proto/neptune_pb/api/model/leaderboard_entries_pb2.py
  src/neptune/api/proto/neptune_pb/api/model/series_values_pb2.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  tests/unit/neptune/new/api/test_models.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Emit `UnknownField` for unsupported fields
  src/neptune/api/field_visitor.py
  src/neptune/api/models.py
  src/neptune/integrations/pandas/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Ignore unsupported fields when deserializing `QueryFieldsExperimentResult` from proto
  src/neptune/api/models.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

feat: `stringify_unsupported()` now expands lists
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

chore: Added deprecation notice to model/model_version endpoints
  CHANGELOG.md
  src/neptune/internal/utils/deprecation.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Update deprecation.py
  src/neptune/internal/utils/deprecation.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Revert "chore: Add py.typed file to pyproject.toml"
  pyproject.toml
Due: none

chore: Dropped py3.7 tests
  .github/workflows/help-command.yml
  codecov.yml
Due: none

chore: Dropped py3.7 support
  .github/neptune_client_pyproject.toml
  pyproject.toml
Due: none

chore: Updated changelog
  CHANGELOG.md
Due: none

Update src/neptune/internal/utils/deprecation.py
  src/neptune/internal/utils/deprecation.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fixed support for additional seaborn images (#1864)
  .github/neptune_client_pyproject.toml
  .github/workflows/help-command.yml
  CHANGELOG.md
  codecov.yml
  pyproject.toml
  src/neptune/internal/utils/images.py
  src/neptune/legacy/internal/utils/image.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Added deprecation warning for model/model_version endpoints (#1876)
  CHANGELOG.md
  src/neptune/internal/utils/deprecation.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client
