Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

update changelog
  CHANGELOG.md
Due: none

update codecov.yml
  codecov.yml
Due: none

remove legacy mention from pre-commit config
  .pre-commit-config.yaml
Due: none

Update tests/unit/neptune/new/internal/utils/test_iso_dates.py
  tests/unit/neptune/new/internal/utils/test_iso_dates.py
Due: none

optimize imports
  tests/unit/neptune/new/internal/utils/test_iso_dates.py
Due: none

Flaky test marked as skiped
  tests/e2e/standard/test_fetch_tables.py
Due: none

Flaky test marked as skiped (#1687)
  tests/e2e/standard/test_fetch_tables.py
Due: none

remove deprecation warnings in fetch_runs_table() (#1686)
  CHANGELOG.md
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Introduce querying capabilities to `fetch_model_versions_table`
  CHANGELOG.md
  src/neptune/metadata_containers/model.py
  tests/e2e/conftest.py
  tests/e2e/standard/test_fetch_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Minor updates to made package compatible with Python 3.11 and 3.12 (#1678)
  .github/workflows/e2e.yml
  .github/workflows/help-command.yml
  .github/workflows/pre-commit-apply-command.yml
  .github/workflows/pre-commit.yml
  .github/workflows/unit.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  codecov.yml
  pyproject.toml
  src/neptune/attributes/atoms/copiable_atom.py
  src/neptune/cli/containers.py
  src/neptune/core/components/abstract.py
  src/neptune/exceptions.py
  src/neptune/internal/artifacts/file_hasher.py
  src/neptune/internal/artifacts/local_file_hash_storage.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  src/neptune/internal/signals_processing/signals.py
  src/neptune/internal/utils/dependency_tracking.py
  src/neptune/internal/utils/disk_utilization.py
  src/neptune/legacy/experiments.py
  src/neptune/metadata_containers/abstract.py
  src/neptune/metadata_containers/utils.py
  src/neptune/new/__init__.py
  src/neptune/new/_compatibility.py
  src/neptune/typing.py
  tests/unit/neptune/legacy/internal/hardware/gauges/gauges_fixture.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_gpu_gauges.py
  tests/unit/neptune/new/cli/test_sync.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/internal/artifacts/test_file_hasher.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
  tests/unit/neptune/new/internal/backends/test_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Added 10k column limit mention
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Introduce querying capabilities to `fetch_model_versions_table` (#1688)
  CHANGELOG.md
  src/neptune/metadata_containers/model.py
  tests/e2e/conftest.py
  tests/e2e/standard/test_fetch_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move common.exceptions
  src/neptune/attributes/utils.py
  src/neptune/cli/containers.py
  src/neptune/cli/utils.py
  src/neptune/common/backends/utils.py
  src/neptune/common/exceptions.py
  src/neptune/common/oauth.py
  src/neptune/common/storage/datastream.py
  src/neptune/common/utils.py
  src/neptune/exceptions.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/operation_api_name_visitor.py
  src/neptune/internal/backends/operation_api_object_converter.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/internal/credentials.py
  src/neptune/internal/exceptions.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/threading/daemon.py
  src/neptune/internal/types/file_types.py
  src/neptune/internal/utils/run_state.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
  tests/e2e/exceptions.py
  tests/e2e/standard/test_cli.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/internal/test_credentials.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

move common.warnings
  pyproject.toml
  src/neptune/attributes/atoms/float.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/utils.py
  src/neptune/internal/extensions.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/read_only_operation_processor.py
  src/neptune/internal/signals_processing/utils.py
  src/neptune/internal/utils/deprecation.py
  src/neptune/internal/utils/disk_utilization.py
  src/neptune/internal/warnings.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/run.py
  src/neptune/metadata_containers/utils.py
  src/neptune/types/series/float_series.py
  src/neptune/version.py
  tests/unit/neptune/new/attributes/atoms/test_float.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/internal/utils/test_deprecation.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

move other modules
  pyproject.toml
  src/neptune/common/backends/utils.py
  src/neptune/common/experiments.py
  src/neptune/envs.py
  src/neptune/exceptions.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/credentials.py
  src/neptune/internal/envs.py
  src/neptune/internal/exceptions.py
  src/neptune/internal/hardware/hardware_metric_reporting_job.py
  src/neptune/internal/oauth.py
  src/neptune/internal/utils/git_info.py
  src/neptune/internal/utils/patterns.py
  src/neptune/internal/utils/source_code.py
  src/neptune/internal/utils/utils.py
  src/neptune/management/internal/api.py
  src/neptune/management/internal/utils.py
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/management/internal/test_api.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/internal/backends/test_hosted_file_operations.py
  tests/unit/neptune/new/internal/utils/test_images.py
  tests/unit/neptune/new/test_experiment.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

move common.backends
  src/neptune/common/backends/__init__.py
  src/neptune/common/backends/api_model.py
  src/neptune/common/backends/utils.py
  src/neptune/common/storage/datastream.py
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_artifact_operations.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/utils.py
  src/neptune/internal/oauth.py
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

simplify
  src/neptune/internal/utils/iso_dates.py
  tests/unit/neptune/new/internal/utils/test_iso_dates.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update codecov
  codecov.yml
Due: none

Added 10k column limit mention (#1689)
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix sending data when in forked container
  src/neptune/internal/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/metadata_containers/metadata_container.py
  tests/e2e/standard/test_threading.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move hardware package
  pyproject.toml
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/common/hardware/metrics/reports/metric_reporter_factory.py
  src/neptune/common/hardware/metrics/service/__init__.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/hardware/cgroup/__init__.py
  src/neptune/internal/hardware/cgroup/cgroup_filesystem_reader.py
  src/neptune/internal/hardware/cgroup/cgroup_monitor.py
  src/neptune/internal/hardware/constants.py
  src/neptune/internal/hardware/gauges/__init__.py
  src/neptune/internal/hardware/gauges/cpu.py
  src/neptune/internal/hardware/gauges/gauge.py
  src/neptune/internal/hardware/gauges/gauge_factory.py
  src/neptune/internal/hardware/gauges/gauge_mode.py
  src/neptune/internal/hardware/gauges/gpu.py
  src/neptune/internal/hardware/gauges/memory.py
  src/neptune/internal/hardware/hardware_metric_reporting_job.py
  src/neptune/internal/hardware/metrics/__init__.py
  src/neptune/internal/hardware/metrics/metric.py
  src/neptune/internal/hardware/metrics/metrics_container.py
  src/neptune/internal/hardware/metrics/metrics_factory.py
  src/neptune/internal/hardware/metrics/reports/__init__.py
  src/neptune/internal/hardware/metrics/reports/metric_report.py
  src/neptune/internal/hardware/metrics/reports/metric_reporter.py
  src/neptune/internal/hardware/metrics/reports/metric_reporter_factory.py
  src/neptune/internal/hardware/metrics/service/__init__.py
  src/neptune/internal/hardware/metrics/service/metric_service.py
  src/neptune/internal/hardware/metrics/service/metric_service_factory.py
  src/neptune/internal/hardware/resources/__init__.py
  src/neptune/internal/hardware/resources/gpu_card_indices_provider.py
  src/neptune/internal/hardware/resources/system_resource_info.py
  src/neptune/internal/hardware/resources/system_resource_info_factory.py
  src/neptune/internal/hardware/system/__init__.py
  src/neptune/internal/hardware/system/system_monitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

move websockets
  pyproject.toml
  src/neptune/internal/websockets/reconnecting_websocket.py
  src/neptune/internal/websockets/websocket_client_adapter.py
  src/neptune/internal/websockets/websocket_signals_background_job.py
  src/neptune/internal/websockets/websockets_factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

remove common.websockets
  src/neptune/common/websockets/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

finish
  pyproject.toml
  src/neptune/__init__.py
  src/neptune/common/storage/__init__.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/patches/__init__.py
  src/neptune/internal/patches/bravado.py
  src/neptune/internal/storage/__init__.py
  src/neptune/internal/storage/datastream.py
  src/neptune/internal/storage/storage_utils.py
  src/neptune/internal/utils/source_code.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

fix imports
  src/neptune/internal/storage/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

Changelog updated with 2.0.0
  CHANGELOG.md
Due: none

Pyproject.toml updated with 2.0.0
  pyproject.toml
Due: none

Remove neptune.new (#1684)
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/neptune/new/__init__.py
  src/neptune/new/_compatibility.py
  src/neptune/new/constants.py
  src/neptune/new/envs.py
  src/neptune/new/exceptions.py
  src/neptune/new/handler.py
  src/neptune/new/project.py
  src/neptune/new/run.py
  src/neptune/new/runs_table.py
  src/neptune/new/utils.py
  src/neptune/new/version.py
  tests/unit/neptune/new/test_imports.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Switch to fork with Flake8 pyproject Python3.12 support
  .pre-commit-config.yaml
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
