Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

bugfixes & refinments
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_stage_transitions.py
Due: none

Allow to set step size for leaderboard entries fetching (#1704)
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Reworked lazy operation processor
  src/neptune/internal/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/internal/utils/evaluable.py
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Poetry lockupdated
  poetry.lock
Due: none

applied sugesstions from PR
  src/neptune/internal/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix sending from forked container (#1692)
  CHANGELOG.md
  src/neptune/internal/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/metadata_containers/metadata_container.py
  tests/e2e/standard/test_multiprocessing.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Poetry lock updated (#1707)
  poetry.lock
Due: none

Update CHANGELOG.md (#1706)
  CHANGELOG.md
Due: none

Disable background jobs and metadata logging (#1703)
  src/neptune/objects/run.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_log_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Update src/neptune/exceptions.py
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG fix (#1710)
  CHANGELOG.md
Due: none

disable neptune model (#1701)
  CHANGELOG.md
  src/neptune/exceptions.py
  src/neptune/objects/model.py
  tests/e2e/base.py
  tests/e2e/conftest.py
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_copy.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
  tests/e2e/standard/test_multiple.py
  tests/e2e/standard/test_stage_transitions.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version_tables.py
  tests/unit/neptune/new/test_experiment.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

disable neptune model
  src/neptune/exceptions.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version_tables.py
  tests/unit/neptune/new/test_experiment.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

skip e2e tests that include Model
  tests/e2e/base.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
  tests/e2e/utils.py
Due: none

rename sth
  tests/e2e/base.py
  tests/e2e/conftest.py
  tests/e2e/utils.py
Due: none

mark test as xfail instead of skipping them
  tests/e2e/conftest.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
  tests/e2e/utils.py
Due: none

bugfix
  tests/e2e/standard/test_init.py
Due: none

expect tests to fail instead of skipping them
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version_tables.py
  tests/unit/neptune/new/test_experiment.py
Due: none

enchance AVAILABLE_CONTAINERS to be pytest params
  tests/e2e/base.py
  tests/e2e/conftest.py
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_init.py
  tests/e2e/utils.py
Due: none

bugfixes & refinments
  tests/e2e/standard/test_fetch_tables.py
Due: none

disable ModelVersion
  src/neptune/objects/model_version.py
  tests/e2e/standard/test_stage_transitions.py
  tests/unit/neptune/new/client/test_model_version.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

bugfix
  tests/e2e/management/test_management.py
Due: none

update changelog
  CHANGELOG.md
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

disable ModelVersion (#1708)
  CHANGELOG.md
  src/neptune/objects/model_version.py
  tests/e2e/standard/test_stage_transitions.py
  tests/unit/neptune/new/client/test_model_version.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

update changelog
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

disable Project
  src/neptune/objects/project.py
  tests/e2e/base.py
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_init.py
  tests/unit/neptune/new/client/test_model_tables.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

update changelog
  CHANGELOG.md
Due: none

fix integration imports
  src/neptune/integrations/aws/__init__.py
  src/neptune/integrations/detectron2/__init__.py
  src/neptune/integrations/fastai/__init__.py
  src/neptune/integrations/kedro/__init__.py
  src/neptune/integrations/lightgbm/__init__.py
  src/neptune/integrations/optuna/__init__.py
  src/neptune/integrations/pytorch/__init__.py
  src/neptune/integrations/sacred/__init__.py
  src/neptune/integrations/sklearn/__init__.py
  src/neptune/integrations/tensorboard/__init__.py
  src/neptune/integrations/tensorflow_keras/__init__.py
  src/neptune/integrations/xgboost/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

changelog
  CHANGELOG.md
Due: none
