Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

tests for wait single cycle
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: none

self review
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: none

self review
  src/neptune/core/operation_processors/async_operation_processor.py
  src/neptune/core/operation_processors/operation_logger.py
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

self review
  src/neptune/core/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

changelog
  CHANGELOG.md
Due: none

revert one change after move
  src/neptune/internal/operation_processors/operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  CHANGELOG.md
  src/neptune/internal/utils/uncaught_exception_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

revert accidentally changed file
  .github/workflows/unit-in-pull-request.yml
Due: none

add input to integration workflow that allows to run tests from specified neptune branch
  .github/workflows/integrations.yml
Due: none

add input to unit test workflow that allows to run tests from specified neptune branch
  .github/workflows/unit.yml
Due: none

add input to e2e test workflow that allows to run tests from specified neptune branch
  .github/workflows/e2e.yml
Due: none

code review 1
  src/neptune/core/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

runs integration test workflow defined in dev/1.x based branch
  .github/workflows/integrations.yml
Due: none

use costom neptune branch in unit tests
  .github/workflows/unit.yml
Due: none

schedule unit and integration tests on dev/1.x branch
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

use costom neptune branch in e2e tests
  .github/workflows/e2e.yml
Due: none

move dev/1.x e2e job to separate workflow
  .github/workflows/dev1.x-e2e.yml
  .github/workflows/e2e.yml
Due: none

code review 2
  src/neptune/core/operation_processors/async_operation_processor.py
  src/neptune/core/operation_processors/async_operation_processor/__init__.py
  src/neptune/core/operation_processors/async_operation_processor/async_operation_processor.py
  src/neptune/core/operation_processors/async_operation_processor/constants.py
  src/neptune/core/operation_processors/async_operation_processor/consumer_thread.py
  src/neptune/core/operation_processors/async_operation_processor/operation_logger.py
  src/neptune/core/operation_processors/async_operation_processor/processing_resources.py
  src/neptune/core/operation_processors/async_operation_processor/queue_observer.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/__init__.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_async_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_consumer_thread.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_processing_resources.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_queue_observer.py
  tests/unit/neptune/new/core/operation_processors/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

fix
  src/neptune/core/operation_processors/async_operation_processor/processing_resources.py
  src/neptune/core/operation_processors/async_operation_processor/queue_observer.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

remove entry from mypy ignore section
  pyproject.toml
Due: none

typing fix
  src/neptune/internal/utils/uncaught_exception_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move dev/1.x unit, e2e, integrations jobs to separete workflows
  .github/workflows/dev1.x-integrations.yml
  .github/workflows/dev1.x-unit.yml
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

REMOVE_LATER: print debug info in unit workflow
  .github/workflows/unit.yml
Due: none

TEST_COMMIT: set neptune_ref to github.ref on default
  .github/workflows/unit.yml
Due: none

Mark run as failed in case of error using ctx manager (#1755)
  CHANGELOG.md
  pyproject.toml
  src/neptune/internal/utils/uncaught_exception_handler.py
  src/neptune/metadata_containers/metadata_container.py
  tests/e2e/standard/test_init.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add set_neptune_ref to unit workflow
  .github/workflows/unit.yml
Due: none

minor tweaks
  .github/workflows/unit.yml
Due: none

move set_neptue_ref to separete workflow
  .github/workflows/set_neptune_ref.yml
  .github/workflows/unit.yml
Due: none

tweaks
  .github/workflows/set_neptune_ref.yml
  .github/workflows/unit.yml
Due: none

clean unit.yml
  .github/workflows/unit.yml
Due: none

reuse set_neptune_ref workflow in unit, integration and e2e workflows
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

run workflow from custom branch (#1774)
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/set_neptune_ref.yml
  .github/workflows/unit.yml
Due: none

insert license header
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/__init__.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_consumer_thread.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_processing_resources.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_queue_observer.py
Due: none

adjustment after dev/1.x dependant change
  .github/workflows/dev1.x-e2e.yml
  .github/workflows/dev1.x-integrations.yml
  .github/workflows/dev1.x-unit.yml
Due: none

Hook workflows on dev/1.x to related workflows on master (#1775)
  .github/workflows/dev1.x-e2e.yml
  .github/workflows/dev1.x-integrations.yml
  .github/workflows/dev1.x-unit.yml
Due: none

docstring for pop()
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Make handling of sys/name dependend on config flag
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move name setting to write initial attrs
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client
