Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

Dynamic changes in batch size
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Divide support of cgroup into two versions, the proper version is used basing on mounts in /proc/mount
  src/neptune/common/hardware/cgroup/cgroup_filesystem_reader.py
  src/neptune/common/hardware/cgroup/cgroup_monitor.py
  src/neptune/common/hardware/cgroup/cgroup_v1_filesystem_reader.py
  src/neptune/common/hardware/cgroup/cgroup_v2_filesystem_reader.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

update changelog
  CHANGELOG.md
Due: none

restore cgroup tests on linux
  tests/unit/neptune/legacy/internal/hardware/gauges/test_cpu_gauges.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_memory_gauges.py
  tests/unit/neptune/legacy/internal/hardware/resources/test_system_resource_info_factory.py
Due: none

fix types in new methods
  src/neptune/common/hardware/cgroup/cgroup_v1_filesystem_reader.py
  src/neptune/common/hardware/cgroup/cgroup_v2_filesystem_reader.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

remove testing, the tests cannot be run because cgroups tests only run while within docker
  tests/unit/neptune/legacy/internal/hardware/gauges/test_cpu_gauges.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_memory_gauges.py
  tests/unit/neptune/legacy/internal/hardware/resources/test_system_resource_info_factory.py
Due: none

Added tests for new structure
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/cli/test_status.py
  tests/unit/neptune/new/cli/test_sync.py
  tests/unit/neptune/new/cli/utils.py
Due: none

Rename to key
  tests/unit/neptune/new/cli/test_clear.py
  tests/unit/neptune/new/cli/test_status.py
  tests/unit/neptune/new/cli/test_sync.py
  tests/unit/neptune/new/cli/utils.py
Due: none

Add dynamic (mon increasing) batch size at async operation processor
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/utils/monotonic_inc_batch_size.py
  tests/unit/neptune/new/internal/utils/test_monotonic_inc_batch_size.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix problem with import at tests
  tests/unit/neptune/new/internal/utils/test_monotonic_inc_batch_size.py
Due: none

Add dynamic (mon increasing) batch size at async operation processor (#1533)
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/utils/monotonic_inc_batch_size.py
  tests/unit/neptune/new/internal/utils/test_monotonic_inc_batch_size.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

list api methods used by client
  src/neptune/management/internal/list_api_methods.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

Supressing multiple errors per single step
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactor
  src/neptune/cli/clear.py
  src/neptune/cli/container_manager.py
  src/neptune/cli/status.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

simplejson = '<3.19.0'
  pyproject.toml
Due: none

NeptuneModelKeyAlreadyExistsError exception msg
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

add simple docker file and action.
  .github/actions/test-docker/action.yml
  Dockerfile
Due: none

add simple workflow
  .github/workflows/TEST-run-docker-only-tests.yml
Due: none

add on_pull_request in order to test it without merging to master
  .github/workflows/TEST-run-docker-only-tests.yml
Due: none

simplejson = '<3.19.0' (#1535)
  CHANGELOG.md
  pyproject.toml
Due: none

fix the wrong name
  .github/workflows/TEST-run-docker-only-tests.yml
Due: none

clarify message
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add stringifying for unsupported floats
  CHANGELOG.md
  src/neptune/attributes/atoms/float.py
  src/neptune/constants.py
  src/neptune/internal/types/stringify_value.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add code review
  CHANGELOG.md
Due: none

add warinig for float series
  src/neptune/types/series/float_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

apply code review
  src/neptune/attributes/atoms/float.py
  src/neptune/constants.py
  src/neptune/internal/types/stringify_value.py
  src/neptune/types/series/float_series.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add errors processor for async operations
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operations_errors_processor.py
  tests/unit/neptune/new/internal/utils/test_operations_errors_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix tests for processor operations errors
  tests/unit/neptune/new/internal/utils/test_operations_errors_processor.py
Due: none

Rewrite tests / introduce env var / update changelog
  CHANGELOG.md
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operations_errors_processor.py
  tests/unit/neptune/new/internal/utils/test_operations_errors_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

use List instead of list to support py 3.7
  src/neptune/internal/operation_processors/operations_errors_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

use Set instead of set to support py 3.7
  src/neptune/internal/operation_processors/operations_errors_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

use set() instead of Set to support py 3.7
  src/neptune/internal/operation_processors/operations_errors_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add some parallelization to fetch runs table
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add errors processor for async operations (#1539)
  CHANGELOG.md
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operations_errors_processor.py
  tests/unit/neptune/new/internal/utils/test_operations_errors_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add code review
  src/neptune/attributes/atoms/float.py
  src/neptune/constants.py
  src/neptune/internal/types/stringify_value.py
  src/neptune/types/series/float_series.py
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Draft PoC
  src/neptune/envs.py
  src/neptune/internal/backends/factory.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
  src/neptune/types/mode.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix: Log actual exception in case of NeptuneAuthTokenExpired (#1531)
  CHANGELOG.md
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Changelog
  CHANGELOG.md
Due: none

Fixed file related errors
  src/neptune/attributes/atoms/file.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client
