Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

OperationPreprocessor.process() should not throw RequiresPreviousCompleted
  src/neptune/internal/backends/operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

apply code review
  CHANGELOG.md
  src/neptune/common/backends/utils.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

chore: Compress (gzip) request if server support it
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Compress (gzip) request if server support it - PR
  CHANGELOG.md
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Gzip upload flag in ClientConfig
  src/neptune/internal/backends/api_model.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Compress (gzip) request if server support it - PR
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Compress (gzip) request if server support it - PR
  CHANGELOG.md
Due: none

Fix List[] vs list[]
  src/neptune/internal/backends/operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

apply code review
  CHANGELOG.md
Due: none

Changelog updated
  CHANGELOG.md
Due: none

Changelog updated with PR id
  CHANGELOG.md
Due: none

Moved to separate package and proper typings added
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/queue/__init__.py
  src/neptune/internal/queue/disk_queue.py
  src/neptune/internal/queue/json_file_splitter.py
  src/neptune/internal/queue/sync_offset_file.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/queue/__init__.py
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/queue/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Unittest tests rewritten to pytest
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/queue/test_json_file_splitter.py
Due: none

Tests refactor
  src/neptune/internal/queue/json_file_splitter.py
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/queue/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Use OperationsPreprocessor to regulate the size of a batch
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix Final not available in Python 3.7
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Disk queue tests
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
Due: none

Mocked rmtree
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
Due: none

Test fixes
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
Due: none

code review 1
  src/neptune/management/internal/api.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

code review 2
  src/neptune/management/internal/api.py
  src/neptune/management/internal/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

fiz unit tests
  tests/unit/neptune/management/internal/test_api.py
Due: none

apply code review
  CHANGELOG.md
  src/neptune/common/backends/utils.py
  src/neptune/common/utils.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

programmatically delete trashed objects (#1475)
  CHANGELOG.md
  src/neptune/management/__init__.py
  src/neptune/management/internal/api.py
  src/neptune/metadata_containers/project.py
  tests/e2e/management/test_management.py
  tests/unit/neptune/management/internal/test_api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

Code review
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
Due: none

add code review
  src/neptune/common/backends/utils.py
  src/neptune/common/utils.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix - replace AccumulatedOperations with List[Operation]
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

WIP DO NOT MERGE - log daemon errors
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md (#1486)
  CHANGELOG.md
Due: none

Revert "WIP DO NOT MERGE - log daemon errors"
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md (#1487)
  CHANGELOG.md
Due: none

Fix CopyAttribute special handling
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add OperationsPreprocessor to queueing (#1485)
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client
