Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Adjust CHANGELOG.md
  CHANGELOG.md
Due: none

Wrap listdir by try catch
  src/neptune/internal/utils/files.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix: Retry bravado RecursiveCallException (#1512)
  CHANGELOG.md
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Fix typo at changelog
  CHANGELOG.md
Due: none

chore: Return Handler from __getitem__
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Removed operation processors from mypy exclusions
  pyproject.toml
Due: none

Improve Neptune object docstrings: - Fix minor error in ModelVersion param description - More name and description info - Standardize language
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

avoid confusing compounds
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

check if diff is not an empty string first
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

Added mypy suggestions and minor refactors to operation processors
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/read_only_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Made ensure_disk_not_full more reliable for env specific errors
  CHANGELOG.md
  src/neptune/internal/utils/disk_full.py
  tests/unit/neptune/new/internal/utils/test_full_disk.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

check if diff is not an empty string first (#1517)
  CHANGELOG.md
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Removed neptune.cli from mypy exclusion list
  pyproject.toml
Due: none

fix: Run _async_no_progress_callback and _async_lag_callback in new thread.
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/streams/std_stream_capture_logger.py
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix: Run _async_no_progress_callback and _async_lag_callback in new thread. - revert std capture logger
  src/neptune/internal/streams/std_stream_capture_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed mypy for neptune.cli
  .pre-commit-config.yaml
  src/neptune/cli/__main__.py
  src/neptune/cli/clear.py
  src/neptune/cli/commands.py
  src/neptune/cli/container_manager.py
  src/neptune/cli/path_option.py
  src/neptune/cli/status.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update changelog
  CHANGELOG.md
Due: none

Draft PoC
  src/neptune/envs.py
  src/neptune/internal/backends/factory.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
  src/neptune/types/mode.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix failed tests
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Change condition for checking of disk usage
  src/neptune/internal/utils/disk_full.py
  tests/unit/neptune/new/internal/utils/test_full_disk.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Change tests flows for full_disk
  tests/unit/neptune/new/internal/utils/test_full_disk.py
Due: none

Revert changes of ensure_disk_not_full decorator
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/utils/disk_full.py
  tests/unit/neptune/new/internal/utils/test_full_disk.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Remove redundant lines
  src/neptune/internal/utils/disk_full.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Better handle boolean git_ref value
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add a check in e2e
  tests/e2e/standard/test_init.py
Due: none

temp turn on standard e2e
  .github/workflows/e2e.yml
Due: none

disable e2e in PR
  .github/workflows/e2e.yml
Due: none

Better handle boolean git_ref value (#1525)
  CHANGELOG.md
  src/neptune/metadata_containers/run.py
  tests/e2e/standard/test_init.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Usages of metadata file in op processors
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Removed metadata_path property
  src/neptune/internal/metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Tests fixed
  tests/unit/neptune/new/client/test_run.py
Due: none

Tests added and ability to read existing file
  src/neptune/internal/metadata_file.py
  tests/unit/neptune/new/internal/test_metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes in implementation and tests
  src/neptune/internal/metadata_file.py
  tests/unit/neptune/new/internal/test_metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Minor test refactor
  tests/unit/neptune/new/internal/test_metadata_file.py
Due: none

Double comment removed
  src/neptune/internal/metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Added initial metadata
  src/neptune/internal/metadata_file.py
  tests/unit/neptune/new/internal/test_metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
