Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

fix?
  tests/unit/conftest.py
  tests/unit/neptune/new/test_logging.py
Due: none

fix?
  tests/unit/neptune/new/test_logging.py
Due: none

use fixture for tear down
  tests/unit/neptune/new/test_logging.py
Due: none

code review
  src/neptune/internal/utils/logger.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

introduce env var
  src/neptune/envs.py
  src/neptune/internal/utils/logger.py
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/new/test_logging.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

introduce disabled logger
  src/neptune/envs.py
  src/neptune/internal/utils/logger.py
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/conftest.py
  tests/unit/neptune/new/test_logging.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Improve date parsing
  src/neptune/metadata_containers/utils.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Allow user to control logging level (#1679)
  CHANGELOG.md
  src/neptune/internal/utils/logger.py
  src/neptune/metadata_containers/metadata_container.py
  tests/unit/neptune/new/test_logging.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

use isodate package
  src/neptune/metadata_containers/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

add isodate to pyproject
  pyproject.toml
Due: none

fix
  src/neptune/metadata_containers/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Mypy import checks supressed
  pyproject.toml
  src/neptune/integrations/aws/__init__.py
  src/neptune/integrations/detectron2/__init__.py
  src/neptune/integrations/fastai/__init__.py
  src/neptune/integrations/kedro/__init__.py
  src/neptune/integrations/lightgbm/__init__.py
  src/neptune/integrations/optuna/__init__.py
  src/neptune/integrations/prophet/__init__.py
  src/neptune/integrations/pytorch/__init__.py
  src/neptune/integrations/pytorch_lightning/__init__.py
  src/neptune/integrations/sacred/__init__.py
  src/neptune/integrations/sklearn/__init__.py
  src/neptune/integrations/tensorboard/__init__.py
  src/neptune/integrations/tensorflow_keras/__init__.py
  src/neptune/integrations/transformers/__init__.py
  src/neptune/integrations/xgboost/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Changelog updated with 2.0.0
  CHANGELOG.md
Due: none

Pyproject.toml updated with 2.0.0
  pyproject.toml
Due: none

skip flaky e2e test on MacOS
  tests/e2e/standard/test_fetch_tables.py
Due: none

Delete neptune.new
  .github/workflows/release.yml
  pyproject.toml
  src/neptune/new/__init__.py
  src/neptune/new/_compatibility.py
  src/neptune/new/constants.py
  src/neptune/new/envs.py
  src/neptune/new/exceptions.py
  src/neptune/new/handler.py
  src/neptune/new/project.py
  src/neptune/new/run.py
  src/neptune/new/runs_table.py
  src/neptune/new/utils.py
  src/neptune/new/version.py
  tests/unit/neptune/new/test_imports.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

manually check two date formats
  pyproject.toml
  src/neptune/internal/utils/iso_dates.py
  src/neptune/metadata_containers/utils.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run_tables.py
  tests/unit/neptune/new/internal/utils/test_iso_dates.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

more thorough date validation
  src/neptune/internal/utils/iso_dates.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

more tests
  tests/unit/neptune/new/internal/utils/test_iso_dates.py
Due: none

Code review
  pyproject.toml
  src/neptune/integrations/aws/__init__.py
  src/neptune/integrations/detectron2/__init__.py
  src/neptune/integrations/fastai/__init__.py
  src/neptune/integrations/kedro/__init__.py
  src/neptune/integrations/lightgbm/__init__.py
  src/neptune/integrations/mosaicml/__init__.py
  src/neptune/integrations/optuna/__init__.py
  src/neptune/integrations/prophet/__init__.py
  src/neptune/integrations/pytorch/__init__.py
  src/neptune/integrations/pytorch_lightning/__init__.py
  src/neptune/integrations/sacred/__init__.py
  src/neptune/integrations/sklearn/__init__.py
  src/neptune/integrations/tensorboard/__init__.py
  src/neptune/integrations/tensorflow_keras/__init__.py
  src/neptune/integrations/transformers/__init__.py
  src/neptune/integrations/xgboost/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

code review
  .github/workflows/release.yml
Due: none

Remove neptune.new (#1684)
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/neptune/new/__init__.py
  src/neptune/new/_compatibility.py
  src/neptune/new/constants.py
  src/neptune/new/envs.py
  src/neptune/new/exceptions.py
  src/neptune/new/handler.py
  src/neptune/new/project.py
  src/neptune/new/run.py
  src/neptune/new/runs_table.py
  src/neptune/new/utils.py
  src/neptune/new/version.py
  tests/unit/neptune/new/test_imports.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

make e2e test more flakeproof (#1682)
  tests/e2e/standard/test_fetch_tables.py
Due: none

update tests
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
  tests/unit/neptune/new/test_imports.py
Due: none

update after deleting legacy
  src/neptune/common/storage/storage_utils.py
  src/neptune/common/websockets/websocket_client_adapter.py
  src/neptune/exceptions.py
  src/neptune/integrations/utils.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

remove LEGACY_METHODS
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Mypy import checks supressed for integrations (#1681)
  pyproject.toml
  src/neptune/integrations/mosaicml/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Introduce querying capabilities to `fetch_models_table` (#1677)
  CHANGELOG.md
  src/neptune/metadata_containers/project.py
  tests/e2e/standard/test_fetch_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Python versions testing matrix extended and minor fixes
  .github/workflows/e2e.yml
  .github/workflows/help-command.yml
  .github/workflows/pre-commit-apply-command.yml
  .github/workflows/unit.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  src/neptune/internal/artifacts/file_hasher.py
  src/neptune/internal/artifacts/local_file_hash_storage.py
  tests/e2e/standard/test_init.py
  tests/unit/neptune/new/cli/test_sync.py
  tests/unit/neptune/new/internal/artifacts/test_file_hasher.py
  tests/unit/neptune/new/test_imports.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Black suggestions applied with Python 3.12
  .pre-commit-config.yaml
  pyproject.toml
  src/neptune/attributes/atoms/copiable_atom.py
  src/neptune/cli/containers.py
  src/neptune/core/components/abstract.py
  src/neptune/exceptions.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/signals_processing/signals.py
  src/neptune/internal/utils/dependency_tracking.py
  src/neptune/internal/utils/disk_utilization.py
  src/neptune/legacy/experiments.py
  src/neptune/metadata_containers/abstract.py
  src/neptune/metadata_containers/utils.py
  src/neptune/new/__init__.py
  src/neptune/typing.py
  tests/unit/neptune/legacy/internal/hardware/gauges/gauges_fixture.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_gpu_gauges.py
  tests/unit/neptune/new/client/test_model_version.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
  tests/unit/neptune/new/internal/backends/test_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Made neptune.new compatibility layer Python 3.12 compatible
  src/neptune/new/_compatibility.py
  tests/unit/neptune/new/test_imports.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed git tests due to datetime deprecation
  src/neptune/internal/operation_processors/utils.py
  tests/e2e/standard/test_init.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Flake8 fixed in pre-commit
  .github/workflows/pre-commit-apply-command.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG
  CHANGELOG.md
Due: none

Codecov io
  codecov.yml
Due: none

remove deprecation warnings in fetch_runs_table()
  CHANGELOG.md
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
