Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

change API reference link to object-agnostic
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

fix set_neptue_ref job to handle scheduled triggers
  .github/workflows/set-neptune-ref.yml
Due: none

rename set_neptune_ref workflow file
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

Make handling of sys/name dependend on config flag (#1777)
  CHANGELOG.md
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

set-neptune-ref fix (#1778)
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/set-neptune-ref.yml
  .github/workflows/unit.yml
Due: none

apply review suggestion
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

init code for async op processor (#1770)
  CHANGELOG.md
  src/neptune/core/operation_processors/async_operation_processor/__init__.py
  src/neptune/core/operation_processors/async_operation_processor/async_operation_processor.py
  src/neptune/core/operation_processors/async_operation_processor/constants.py
  src/neptune/core/operation_processors/async_operation_processor/consumer_thread.py
  src/neptune/core/operation_processors/async_operation_processor/operation_logger.py
  src/neptune/core/operation_processors/async_operation_processor/processing_resources.py
  src/neptune/core/operation_processors/async_operation_processor/queue_observer.py
  src/neptune/core/operation_processors/utils.py
  src/neptune/core/typing/__init__.py
  src/neptune/core/typing/container_type.py
  src/neptune/core/typing/id_formats.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/__init__.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_async_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_consumer_thread.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_processing_resources.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_queue_observer.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Init code for SyncOperationProcessor
  src/neptune/core/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/test_sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

more tests
  src/neptune/core/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/core/operation_processors/test_sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Add an inequality nql operator
  src/neptune/internal/backends/nql.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review - CustomId
  src/neptune/core/operation_processors/async_operation_processor/async_operation_processor.py
  src/neptune/core/operation_processors/async_operation_processor/processing_resources.py
  src/neptune/core/operation_processors/sync_operation_processor.py
  src/neptune/core/operation_processors/utils.py
  src/neptune/core/typing/id_formats.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

add docstring for pop()
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

neptune.internal.notebooks removed
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/notebooks/__init__.py
  src/neptune/internal/notebooks/comm.py
  src/neptune/internal/notebooks/notebooks.py
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

neptune.internal.hardware removed
  pyproject.toml
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/hardware/__init__.py
  src/neptune/internal/hardware/cgroup/__init__.py
  src/neptune/internal/hardware/cgroup/cgroup_filesystem_reader.py
  src/neptune/internal/hardware/cgroup/cgroup_monitor.py
  src/neptune/internal/hardware/constants.py
  src/neptune/internal/hardware/gauges/__init__.py
  src/neptune/internal/hardware/gauges/cpu.py
  src/neptune/internal/hardware/gauges/gauge.py
  src/neptune/internal/hardware/gauges/gauge_factory.py
  src/neptune/internal/hardware/gauges/gauge_mode.py
  src/neptune/internal/hardware/gauges/gpu.py
  src/neptune/internal/hardware/gauges/memory.py
  src/neptune/internal/hardware/gpu/__init__.py
  src/neptune/internal/hardware/gpu/gpu_monitor.py
  src/neptune/internal/hardware/hardware_metric_reporting_job.py
  src/neptune/internal/hardware/metrics/__init__.py
  src/neptune/internal/hardware/metrics/metric.py
  src/neptune/internal/hardware/metrics/metrics_container.py
  src/neptune/internal/hardware/metrics/metrics_factory.py
  src/neptune/internal/hardware/metrics/reports/__init__.py
  src/neptune/internal/hardware/metrics/reports/metric_report.py
  src/neptune/internal/hardware/metrics/reports/metric_reporter.py
  src/neptune/internal/hardware/metrics/reports/metric_reporter_factory.py
  src/neptune/internal/hardware/metrics/service/__init__.py
  src/neptune/internal/hardware/metrics/service/metric_service.py
  src/neptune/internal/hardware/metrics/service/metric_service_factory.py
  src/neptune/internal/hardware/resources/__init__.py
  src/neptune/internal/hardware/resources/gpu_card_indices_provider.py
  src/neptune/internal/hardware/resources/system_resource_info.py
  src/neptune/internal/hardware/resources/system_resource_info_factory.py
  src/neptune/internal/hardware/system/__init__.py
  src/neptune/internal/hardware/system/system_monitor.py
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

mypy
  pyproject.toml
Due: none

neptune.internal.notebooks removed (#1782)
  pyproject.toml
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/notebooks/__init__.py
  src/neptune/internal/notebooks/comm.py
  src/neptune/internal/notebooks/notebooks.py
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Docstring for pop() (#1776)
  CHANGELOG.md
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

delete SysId type
  src/neptune/core/typing/id_formats.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Init code for SyncOperationProcessor (#1779)
  CHANGELOG.md
  src/neptune/core/operation_processors/async_operation_processor/async_operation_processor.py
  src/neptune/core/operation_processors/async_operation_processor/processing_resources.py
  src/neptune/core/operation_processors/sync_operation_processor.py
  src/neptune/core/operation_processors/utils.py
  src/neptune/core/typing/id_formats.py
  tests/unit/neptune/new/core/operation_processors/test_sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

run notify jobs independently from github.ref check
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

Docstring for pop() (#1781)
  CHANGELOG.md
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add notif test workflow
  .github/workflows/notif-test.yml
Due: none

dev change
  .github/workflows/notif-test.yml
  .github/workflows/unit.yml
Due: none

dev test
  .github/workflows/unit.yml
Due: none

remove dev changes
  .github/workflows/unit.yml
Due: none

Set e2e to use Production environment
  .github/workflows/e2e.yml
Due: none

Add an inequality nql operator (#1780)
  src/neptune/internal/backends/nql.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Use user
  .github/workflows/e2e.yml
Due: none

Single test
  tests/e2e/management/test_management.py
Due: none

Proper api
  .github/workflows/e2e.yml
Due: none

Vars context
  .github/workflows/e2e.yml
Due: none

Restored
  .github/workflows/e2e.yml
Due: none

Restored
  tests/e2e/management/test_management.py
Due: none

Newlines
  tests/e2e/management/test_management.py
Due: none

Use environments for workflow
  .github/workflows/e2e.yml
Due: none

Minimal
  .github/workflows/e2e.yml
  tests/e2e/management/test_management.py
Due: none
