Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Multipart config removed
  src/neptune/internal/backends/api_model.py
  tests/unit/neptune/backend_test_mixin.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG update
  CHANGELOG.md
Due: none

Get rid of Python 3.7 on MacOS from unittests matrix (#1813)
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

code review
  tests/e2e/plot_utils.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_init.py
  tests/e2e/standard/test_series.py
  tests/e2e/utils.py
Due: none

Add group tags to expected fetched structure
  tests/e2e/standard/test_init.py
Due: none

Add group tags to expected fetched structure (#1815)
  tests/e2e/standard/test_init.py
Due: none

Management functionality removed temporarly
  .github/workflows/e2e.yml
  codecov.yml
  pyproject.toml
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/management/__init__.py
  src/neptune/management/exceptions.py
  src/neptune/management/internal/__init__.py
  src/neptune/management/internal/api.py
  src/neptune/management/internal/dto.py
  src/neptune/management/internal/types.py
  src/neptune/management/internal/utils.py
  src/neptune/objects/project.py
  tests/e2e/conftest.py
  tests/e2e/management/__init__.py
  tests/e2e/management/test_management.py
  tests/e2e/pytest.ini
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/utils.py
  tests/unit/neptune/management/__init__.py
  tests/unit/neptune/management/internal/__init__.py
  tests/unit/neptune/management/internal/test_api.py
  tests/unit/neptune/management/internal/test_utils.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

CHANGELOG
  CHANGELOG.md
Due: none

introduce RunCreation operation
  src/neptune/core/operation_processors/async_operation_processor/consumer_thread.py
  src/neptune/core/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/core/operation_processors/sync_operation_processor.py
  src/neptune/core/operations/operation.py
  src/neptune/core/operations/operation_visitor.py
  src/neptune/objects/neptune_object.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

current
  src/neptune/core/operation_processors/async_operation_processor/consumer_thread.py
  src/neptune/core/operation_processors/lazy_operation_processor_wrapper.py
  src/neptune/core/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

temp disable run creation
  src/neptune/objects/neptune_object.py
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

fix
  src/neptune/objects/neptune_object.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

changelog
  CHANGELOG.md
Due: none

code review
  src/neptune/core/operations/operation_visitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

introduce RunCreation operation (#1817)
  CHANGELOG.md
  src/neptune/core/operations/operation.py
  src/neptune/core/operations/operation_visitor.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/run.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Improve warning about interactive sessions
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Management functionality removed temporarly (#1816)
  .github/workflows/e2e.yml
  CHANGELOG.md
  codecov.yml
  pyproject.toml
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/management/__init__.py
  src/neptune/management/exceptions.py
  src/neptune/management/internal/__init__.py
  src/neptune/management/internal/api.py
  src/neptune/management/internal/dto.py
  src/neptune/management/internal/types.py
  src/neptune/management/internal/utils.py
  src/neptune/objects/project.py
  tests/e2e/conftest.py
  tests/e2e/management/__init__.py
  tests/e2e/management/test_management.py
  tests/e2e/pytest.ini
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/utils.py
  tests/unit/neptune/management/__init__.py
  tests/unit/neptune/management/internal/__init__.py
  tests/unit/neptune/management/internal/test_api.py
  tests/unit/neptune/management/internal/test_utils.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

Moved neptune.types.mode to neptune.objects
  pyproject.toml
  src/neptune/internal/backends/factory.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/objects/mode.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Moved neptune.types restored
  pyproject.toml
  src/neptune/internal/backgroud_job_list.py
  src/neptune/internal/background_job.py
  src/neptune/internal/types/stringify_value.py
  src/neptune/internal/utils/hashing.py
  src/neptune/internal/utils/limits.py
  src/neptune/types/atoms/atom.py
  src/neptune/types/value.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Restored stringify value
  pyproject.toml
  src/neptune/internal/types/stringify_value.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Minor mypy related changes and structure refactors (#1820)
  pyproject.toml
  src/neptune/internal/backends/factory.py
  src/neptune/internal/backgroud_job_list.py
  src/neptune/internal/background_job.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/types/stringify_value.py
  src/neptune/internal/utils/hashing.py
  src/neptune/internal/utils/limits.py
  src/neptune/objects/mode.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/types/atoms/atom.py
  src/neptune/types/value.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Removed old operation processors
  src/neptune/core/operation_processors/async_operation_processor/async_operation_processor.py
  src/neptune/core/operation_processors/factory.py
  src/neptune/core/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  src/neptune/objects/neptune_object.py
  tests/unit/neptune/new/attributes/atoms/test_datetime.py
  tests/unit/neptune/new/attributes/atoms/test_float.py
  tests/unit/neptune/new/attributes/atoms/test_string.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/core/operation_processors/test_offline_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_sync_operation_processor.py
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

generate from proto
  src/neptune/api/proto/neptune_pb/api/client_pb2.py
  src/neptune/api/proto/neptune_pb/api/client_pb2.pyi
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

current
  src/neptune/api/proto/neptune_pb/client_pb2.py
  src/neptune/api/proto/neptune_pb/client_pb2.pyi
  src/neptune/api/proto/neptune_pb/ingest_pb2.py
  src/neptune/api/proto/neptune_pb/ingest_pb2.pyi
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

current
  src/neptune/api/operations.py
  src/neptune/api/proto/client_pb2.py
  src/neptune/api/proto/client_pb2.pyi
  src/neptune/api/proto/ingest_pb2.py
  src/neptune/api/proto/ingest_pb2.pyi
  src/neptune/api/proto/neptune_pb/ingest/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/common_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/common_pb2.pyi
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

current
  src/neptune/api/operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

current
  src/neptune/api/operations.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/client_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/client_pb2.pyi
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/ingest_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/ingest_pb2.pyi
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

add operation to api visitor
  src/neptune/api/operation_to_api.py
  src/neptune/api/operations.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/ingest_pb2.pyi
  tests/unit/neptune/new/api/test_operation_to_api_visitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

implement serializable base class
  src/neptune/api/operation_to_api.py
  src/neptune/api/operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

current
  CHANGELOG.md
  src/neptune/api/operations.py
  tests/unit/neptune/new/api/test_operation_to_api_visitor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Removed old operation processors (#1821)
  src/neptune/core/operation_processors/async_operation_processor/async_operation_processor.py
  src/neptune/core/operation_processors/factory.py
  src/neptune/core/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  src/neptune/objects/neptune_object.py
  tests/unit/neptune/new/attributes/atoms/test_datetime.py
  tests/unit/neptune/new/attributes/atoms/test_float.py
  tests/unit/neptune/new/attributes/atoms/test_string.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/core/operation_processors/test_offline_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_sync_operation_processor.py
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

cr 1
  src/neptune/api/operation_to_api.py
  src/neptune/api/operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

cr 2
  src/neptune/api/operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

cr 3
  src/neptune/api/operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

cr 4
  tests/unit/neptune/new/api/test_operations.py
Due: none

adds neptune-api dependency
  pyproject.toml
Due: none

update changelog
  CHANGELOG.md
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
