Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

implement file generation and uploading
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

None -> type(None)
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add pipreqs to pyproject.toml
  pyproject.toml
Due: none

add test for dependency inferring
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

apply code review suggestions
  pyproject.toml
  tests/e2e/integrations/test_huggingface.py
Due: none

refactor - use decorator
  tests/unit/neptune/new/client/test_run.py
Due: none

update docstring
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

add unit tests for default case and pipreqs error case
  tests/unit/neptune/new/client/test_run.py
Due: none

string layout fix
  tests/unit/neptune/new/client/test_run.py
Due: none

add test for invalid requirements path
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

WIP/PoC - Privacy Restricted e2e test
  src/neptune/internal/backends/swagger_client_wrapper.py
  tests/e2e/management/test_management.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update docstring
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

More details in VISIBILITY_RESTRICTED error message
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/management/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

Fix: wrong test expectation for updated error msg
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: none

apply code review suggestions
  CHANGELOG.md
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix unit tests
  tests/unit/neptune/new/client/test_run.py
Due: none

tweak error messages and docstring
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

change upload path to a new namespace
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Client-side handling of the "VISIBILITY_RESTRICTED" API error
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/management/exceptions.py
  src/neptune/management/internal/api.py
  tests/e2e/management/test_management.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

add exception handling and logging
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

abstract upload logic to seperate classes
  src/neptune/internal/utils/dependency_tracking.py
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add unit tests for dependency_tracking
  tests/unit/neptune/new/internal/utils/test_dependency_tracking.py
Due: none

add unit test for empty dependency string in infer mode
  tests/unit/neptune/new/internal/utils/test_dependency_tracking.py
Due: none

apply code review
  src/neptune/internal/utils/dependency_tracking.py
  src/neptune/metadata_containers/run.py
  tests/e2e/standard/test_init.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/internal/utils/test_dependency_tracking.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add e2e test for dependency file upload
  tests/e2e/standard/test_init.py
Due: none

code review + context manager for other test cases
  src/neptune/internal/utils/dependency_tracking.py
  tests/e2e/standard/test_init.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Added support of active projects exception
  CHANGELOG.md
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/management/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

CHANGELOG updated
  CHANGELOG.md
Due: none

Review
  src/neptune/internal/backends/swagger_client_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add function to create patch between index and HEAD
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

implement as a class
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add diff between most recent upstream commit and index
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

only execute core methods if repo exists and is dirty
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

refactor attribute names and create property for sha
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

simplify design by accepting repo in the constructor
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add simple test cases
  tests/unit/neptune/new/internal/utils/test_git.py
Due: none

add unit test for a case where active branch has no tracking branch
  tests/unit/neptune/new/internal/utils/test_git.py
Due: none

add test case for detached head
  tests/unit/neptune/new/internal/utils/test_git.py
Due: none

track uncommitted changes in init_run
  src/neptune/internal/utils/git.py
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
