Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

install from dev
  .github/actions/test-e2e/action.yml
Due: none

python >= 3.9
  .github/workflows/integrations.yml
Due: none

Minor cleanup and mypy
  pyproject.toml
  src/neptune/metadata_containers/metadata_containers_table.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

README updated
  README.md
Due: none

less flaky e2e
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_fetch_tables.py
Due: none

less flaky e2e (#1640)
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_fetch_tables.py
Due: none

alternate pricing line
  README.md
Due: none

fix + register marker
  tests/e2e/integrations/test_composer.py
  tests/e2e/pytest.ini
Due: none

environment fixture
  tests/e2e/integrations/test_composer.py
Due: none

Current
  pyproject.toml
  src/neptune/integrations/pandas/__init__.py
  src/neptune/metadata_containers/metadata_containers_table.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CODEOWNERS added
  .github/CODEOWNERS
Due: none

Directly users
  .github/CODEOWNERS
Due: none

Fix
  .github/CODEOWNERS
Due: none

Whitespaces
  .github/CODEOWNERS
Due: none

Bump kedro min py version in e2e
  .github/workflows/integrations.yml
Due: none

Bump kedro min py version in e2e (#1643)
  .github/workflows/integrations.yml
Due: none

Current
  src/neptune/api/searching_entries.py
  src/neptune/attributes/atoms/copiable_atom.py
  src/neptune/legacy/experiments.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/metadata_containers_table.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/tables.py
  src/neptune/new/runs_table.py
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_cli.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_model_tables.py
  tests/unit/neptune/new/client/test_model_version_tables.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Better handle limit in fetch_*_table
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update unit tests
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: none

changelog
  CHANGELOG.md
Due: none

test if limit param passed correctly
  tests/unit/neptune/new/api/test_searching_entries.py
Due: none

add e2e test case
  tests/e2e/standard/test_fetch_tables.py
Due: none

simplify if statements with NoLimit
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Current 3
  src/neptune/integrations/pandas/__init__.py
  src/neptune/metadata_containers/tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Infer full model name from project
  src/neptune/metadata_containers/model_version.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

unit test
  tests/unit/neptune/new/client/test_model_version.py
Due: none

Restored
  pyproject.toml
  src/neptune/api/searching_entries.py
  src/neptune/attributes/atoms/copiable_atom.py
  src/neptune/integrations/pandas/__init__.py
  src/neptune/legacy/experiments.py
  src/neptune/metadata_containers/tables.py
  tests/e2e/standard/test_cli.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Poetry lock added
  .github/actions/install-package/action.yml
  .gitignore
  dev_requirements.txt
  poetry.lock
  pyproject.toml
Due: none

Moved to neptune.tables
  src/neptune/integrations/pandas/__init__.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/new/runs_table.py
  src/neptune/tables.py
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/management/test_management.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_model_tables.py
  tests/unit/neptune/new/client/test_model_version_tables.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Moved to neptune.tables
  src/neptune/integrations/pandas/__init__.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/project.py
  src/neptune/new/runs_table.py
  src/neptune/tables.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Better handle limit in fetch_*_table (#1644)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/metadata_containers/metadata_container.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Release of 1.9.0 (#1650)
  CHANGELOG.md
Due: none

Fix pagination handling in table fetching
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/nql.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog + import update
  CHANGELOG.md
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Fix pagination handling in table fetching (#1651)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/nql.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed conda package
  pyproject.toml
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
