Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

back to 3.8
  .github/workflows/integrations.yml
Due: none

cleanup ci changes
  .github/workflows/integrations.yml
Due: none

update changelog
  CHANGELOG.md
Due: none

fix bad conflict resolve
  CHANGELOG.md
Due: none

update version to 1.4.0
  CHANGELOG.md
Due: none

add support for mlflow e2e (#1381)
  .github/workflows/integrations.yml
  CHANGELOG.md
  pyproject.toml
Due: none

fix unittest by patching os.listdir (#1399)
  tests/unit/neptune/new/client/test_run.py
Due: none

add tensorboard integration support (#1368)
  CHANGELOG.md
  pyproject.toml
  src/neptune/integrations/tensorboard/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

fix: Retry request when ChunkedEncodingError occurred.
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

fix: Retry request when ChunkedEncodingError occurred. - changelog
  CHANGELOG.md
Due: none

fix typo in mlflow e2e setup
  .github/workflows/integrations.yml
Due: none

fix typo in mlflow e2e setup (#1404)
  .github/workflows/integrations.yml
Due: none

update changelog (#1403)
  CHANGELOG.md
Due: none

fix: Ensure daemon.py sleeps only when in the WORKING state Websocket connection not closing during forking process. (it is time-consuming operation that caused significant slowdown during forking)
  src/neptune/internal/threading/daemon.py
  src/neptune/internal/websockets/websocket_signals_background_job.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix performance issues on forking process (Linux) (#1407)
  src/neptune/internal/threading/daemon.py
  src/neptune/internal/websockets/websocket_signals_background_job.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix: Retry request when ChunkedEncodingError occurred. (#1402)
  CHANGELOG.md
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

chore: update changelog
  CHANGELOG.md
Due: none

create .neptune in tmp folder if on AWS lambda
  src/neptune/constants.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

better env var
  src/neptune/constants.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix path
  src/neptune/constants.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update version to 1.5.0
  CHANGELOG.md
Due: none

use env variable for neptune data dir
  src/neptune/constants.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

get_container_dir as a function
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: update changelog (#1408)
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

load plug-ins in try..except block (#1392)
  CHANGELOG.md
  src/neptune/cli/__main__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix: Use condition in ConnectionRetryWrapper. Logs exceptions on Network errors.
  src/neptune/cli/sync.py
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

prototype fetch_fileset_files
  src/neptune/attributes/file_set.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  src/neptune/internal/files/__init__.py
  src/neptune/internal/files/types.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

pass attribute and container_id from fileset
  src/neptune/attributes/file_set.py
  src/neptune/exceptions.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Added pid to sync operation processor directory
  src/neptune/internal/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG
  CHANGELOG.md
Due: none

Sync proper closing and stopping
  src/neptune/internal/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANEGLOG updated
  CHANGELOG.md
Due: none

add tests
  src/neptune/attributes/file_set.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  tests/e2e/standard/test_files.py
  tests/unit/neptune/new/attributes/sets/test_file_set.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
