Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Fixed non-generic Queue type for Python3.7
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/signals_processing/background_job.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/internal/signals_processing/utils.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Changelog updated
  CHANGELOG.md
Due: none

Added support for forking
  src/neptune/internal/signals_processing/no_op_queue.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Added support for no progress callback
  src/neptune/internal/init/parameters.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/signals_processing/signals.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/internal/signals_processing/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Any order
  tests/unit/neptune/new/internal/signals_processing/test_signals_processor.py
Due: none

Visitor fixed
  src/neptune/internal/signals_processing/signals.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Added support for lag callbacks
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/signals_processing/signals.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/internal/signals_processing/utils.py
  tests/unit/neptune/new/internal/signals_processing/test_signals_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Assertions changed
  tests/unit/neptune/new/internal/signals_processing/test_signals_processor.py
Due: none

Small fix
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Do not accept operations
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

No async in tests
  src/neptune/internal/signals_processing/signals_processor.py
  tests/unit/neptune/new/internal/signals_processing/test_signals_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Added batch started and batch ack signals types
  src/neptune/internal/signals_processing/signals.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/internal/signals_processing/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/internal/backends/hosted_file_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

download hook (#1571)
  CHANGELOG.md
  src/neptune/internal/backends/hosted_file_operations.py
  tests/unit/neptune/new/internal/backends/test_hosted_file_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

No synchronization callbacks reworked (#1567)
  CHANGELOG.md
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/signals_processing/__init__.py
  src/neptune/internal/signals_processing/background_job.py
  src/neptune/internal/signals_processing/signals.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/internal/signals_processing/utils.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/signals_processing/__init__.py
  tests/unit/neptune/new/internal/signals_processing/test_signals_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#1572)
  CHANGELOG.md
Due: none

Initial refactor
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Tests added
  src/neptune/api/searching_entries.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

List comprehension
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

simplify NeptuneLimitExceedException message
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

No bravado deserialization
  src/neptune/api/searching_entries.py
  src/neptune/metadata_containers/metadata_containers_table.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Auto review
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Use generators
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Refactor
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Tests fixed
  tests/unit/neptune/new/api/test_searching_entries.py
Due: none

Fetch runs table without Bravado deserialization (#1573)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/metadata_containers/metadata_containers_table.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/client/abstract_tables_test.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Do not create monitoring namespace if all relevant flags are set to False
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

more unit tests
  tests/unit/neptune/new/client/test_run.py
Due: none

changelog
  CHANGELOG.md
Due: none

code review
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Do not create monitoring namespace if all relevant flags are set to False (#1575)
  CHANGELOG.md
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add context and link to app
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

revert workflow file
  .github/workflows/integrations.yml
Due: none

restore lightning
  .github/workflows/integrations.yml
Due: none

Without passing callable
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Support for 10k poc
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/nql.py
  src/neptune/internal/init/parameters.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
