Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

document classes exposed by neptune
  src/neptune/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add management package docstring
  src/neptune/management/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

add utils module docstring
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

tweak package docstrings
  src/neptune/__init__.py
  src/neptune/management/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

tweak docstring wording
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add changelog entry
  CHANGELOG.md
Due: none

Sabine/module docstrings (#1332)
  CHANGELOG.md
  src/neptune/__init__.py
  src/neptune/management/__init__.py
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

create invite_to_workspace_function
  src/neptune/management/__init__.py
  src/neptune/management/internal/api.py
  src/neptune/management/internal/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

add unit tests
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: none

update changelog
  CHANGELOG.md
Due: none

add exception handling and custom exceptions
  src/neptune/management/exceptions.py
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

fix typo in docstring
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

add e2e tests
  tests/e2e/management/test_management.py
Due: none

Apply suggestions from code review
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

Update people
  README.md
Due: none

Fix crashing syncing thread when logging big integers
  CHANGELOG.md
  src/neptune/attributes/atoms/integer.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update people (#1334)
  README.md
Due: none

add PyTorch integration support
  CHANGELOG.md
  pyproject.toml
  src/neptune/integrations/pytorch/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Review fixes
  src/neptune/attributes/atoms/integer.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix
  src/neptune/attributes/atoms/integer.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix crashing syncing thread when logging big integers (#1336)
  CHANGELOG.md
  src/neptune/attributes/atoms/integer.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

apply code review suggestions
  src/neptune/management/exceptions.py
  src/neptune/management/internal/api.py
  src/neptune/management/internal/utils.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

add PyTorch integration support (#1337)
  CHANGELOG.md
  pyproject.toml
  src/neptune/integrations/pytorch/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

disallow owner as role string; add tests
  src/neptune/management/internal/api.py
  tests/e2e/management/test_management.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

apply code review suggestions
  src/neptune/management/internal/api.py
  src/neptune/management/internal/utils.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

Bump the minor
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Bump the minor (#1339)
  CHANGELOG.md
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1341)
  README.md
Due: none

update role arg of invite_to_workspace() docstring
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

Add a separate exception for VISIBILITY_RESTRICTED
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/management/exceptions.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

Move handling of ProjectsLimitReached to the wrapper
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

Refactor handle_neptune_http_errors to use a dict
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/management/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

Repair test using `dict | dict` operator
  src/neptune/management/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

add accelerate to e2e requirements
  pyproject.toml
Due: none

add dependencies to constructor
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add outline of the feature
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix kwarg bug
  tests/e2e/integrations/test_huggingface.py
Due: none

disable tests checking for monitoring/cpu etc - path changed in new client
  tests/e2e/integrations/test_huggingface.py
Due: none
