Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

importskip
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/integrations/test_lightning.py
Due: none

comma
  src/neptune/internal/utils/images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add pixel ranges
  src/neptune/types/atoms/file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

adjust test
  tests/unit/neptune/new/internal/utils/test_images.py
Due: none

fix tests
  .github/workflows/integrations.yml
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/integrations/test_lightning.py
Due: none

Added `get_workspace_status` method to management API (#1662)
  CHANGELOG.md
  src/neptune/management/__init__.py
  src/neptune/management/internal/api.py
  tests/e2e/management/test_management.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

torch and tensorflow are required by unit tests
  dev_requirements.txt
  tests/e2e/integrations/test_huggingface.py
Due: none

current
  .github/workflows/integrations.yml
  tests/e2e/integrations/test_huggingface.py
Due: none

current
  tests/e2e/integrations/test_huggingface.py
Due: none

add typing_extensions>=4.6.0 to huggingface pip url
  .github/workflows/integrations.yml
Due: none

typing_extensions in dev_requirements
  .github/workflows/integrations.yml
  dev_requirements.txt
Due: none

restore integrations.yml
  .github/workflows/integrations.yml
Due: none

undo that comma I guess
  src/neptune/internal/utils/images.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

more specific description
  src/neptune/types/atoms/file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Install integration dependencies in seperate GH action step (#1666)
  .github/actions/install-package/action.yml
  .github/actions/test-e2e/action.yml
  .github/workflows/integrations.yml
  dev_requirements.txt
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/integrations/test_lightning.py
Due: none

scale images to [0,1] range (#1664)
  CHANGELOG.md
  src/neptune/internal/utils/images.py
  src/neptune/types/atoms/file.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

rebase
  .github/actions/install-package/action.yml
  .github/actions/test-e2e/action.yml
  .github/workflows/integrations.yml
  dev_requirements.txt
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/integrations/test_lightning.py
Due: none

Add composer e2e tests
  .github/workflows/integrations.yml
  tests/e2e/integrations/test_mosaicml.py
  tests/e2e/pytest.ini
Due: none

current
  .github/workflows/integrations.yml
Due: none

current
  .github/neptune_client_pyproject.toml
  tests/e2e/integrations/test_mosaicml.py
Due: none

pyproject too
  pyproject.toml
Due: none

better importskip
  tests/e2e/integrations/test_mosaicml.py
Due: none

Adjust as_image() docstring (#1667)
  src/neptune/types/atoms/file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Add composer e2e tests (#1668)
  .github/neptune_client_pyproject.toml
  .github/workflows/integrations.yml
  pyproject.toml
  tests/e2e/integrations/test_mosaicml.py
  tests/e2e/pytest.ini
Due: none

Runtime dependencies check
  src/neptune/exceptions.py
  src/neptune/utils.py
  tests/unit/neptune/new/test_requirement_check.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

license header
  tests/unit/neptune/new/test_requirement_check.py
Due: none

add leaderboard entries fetching error handling
  pyproject.toml
  src/neptune/api/searching_entries.py
  src/neptune/api/utils.py
  src/neptune/exceptions.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

improve arg validation in fetch_runs_table
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Extend nql typing and functionality and use it in fetch_runs_table
  src/neptune/internal/backends/nql.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/utils.py
  tests/unit/neptune/new/internal/backends/test_nql.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Extend & add e2e test to include fetch_runs_table raw query functionality
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: none

introduce query arg to fetch_runs_table
  src/neptune/common/warnings.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/utils.py
  tests/e2e/standard/test_fetch_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

add e2e testing invalid query handling in test_fetch_runs
  tests/e2e/standard/test_fetch_tables.py
Due: none

isort fix
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

doc change and bugfix
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

updadate changelog
  CHANGELOG.md
Due: none

Update src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review changes
  pyproject.toml
  src/neptune/api/utils.py
  src/neptune/common/warnings.py
  src/neptune/exceptions.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy
