Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

More info exposed
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

storage used fix
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

remove composer installation step
  .github/actions/test-e2e/action.yml
Due: none

requirements
  .github/neptune_client_pyproject.toml
  dev_requirements.txt
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update src/neptune/management/__init__.py
  src/neptune/management/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

Update src/neptune/management/internal/api.py
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

fix?
  dev_requirements.txt
  pyproject.toml
Due: none

revert
  dev_requirements.txt
  pyproject.toml
Due: none

temp remove composer
  dev_requirements.txt
Due: none

scale images to [0,1] range
  src/neptune/internal/utils/images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

do not scale arrays that are already scaled
  src/neptune/internal/utils/images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

mosaicml requirement
  dev_requirements.txt
Due: none

adjust unit tests
  tests/unit/neptune/new/internal/utils/test_images.py
Due: none

update changelog
  CHANGELOG.md
Due: none

unit tests for _scale_array
  tests/unit/neptune/new/internal/utils/test_images.py
Due: none

self review
  tests/unit/neptune/new/internal/utils/test_images.py
Due: none

introduce autoscale param
  src/neptune/internal/utils/images.py
  src/neptune/types/atoms/file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

current
  .github/neptune_client_pyproject.toml
  dev_requirements.txt
  pyproject.toml
Due: none

current 2
  .github/neptune_client_pyproject.toml
  dev_requirements.txt
  pyproject.toml
Due: none

code review
  src/neptune/internal/utils/images.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

a slightly different approach
  src/neptune/internal/utils/images.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

naming
  src/neptune/internal/utils/images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

better warning logic
  src/neptune/internal/utils/images.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix mosaicml version
  dev_requirements.txt
Due: none

current
  dev_requirements.txt
Due: none

code review
  CHANGELOG.md
  src/neptune/internal/utils/images.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

more current
  .github/workflows/integrations.yml
  dev_requirements.txt
Due: none

even more current
  .github/actions/test-e2e/action.yml
  .github/workflows/integrations.yml
Due: none

composer -> mosaicml
  tests/e2e/integrations/test_mosaicml.py
  tests/e2e/pytest.ini
Due: none

experiment: add is_integration flag
  .github/actions/test-e2e/action.yml
  .github/workflows/integrations.yml
Due: none

add is_integration to inputs
  .github/actions/test-e2e/action.yml
Due: none

scale images to [0,1] range (#1664)
  CHANGELOG.md
  src/neptune/internal/utils/images.py
  src/neptune/types/atoms/file.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Install integration dependencies in seperate GH action step
  .github/actions/install-package/action.yml
  .github/actions/test-e2e/action.yml
  .github/workflows/integrations.yml
  dev_requirements.txt
Due: none

adjust as_image docstring
  src/neptune/types/atoms/file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

review comment
  src/neptune/types/atoms/file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3
