Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Update src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Suggestions reapplied
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

docstring proposition for ProgressBarCallback
  src/neptune/typing.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

docstring review
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

docstrings review 2
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Docstrings fixes
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

docstring adjustments
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/typing.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Use simple instead of atomic phrasing
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Use progress bar in downloading File and FileSet (#1620)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/attributes/atoms/artifact.py
  src/neptune/attributes/atoms/file.py
  src/neptune/attributes/file_set.py
  src/neptune/attributes/series/file_series.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/offline_neptune_backend.py
  src/neptune/internal/backends/utils.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/metadata_containers_table.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/typing.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/internal/backends/test_hosted_file_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pre-commit suggestions
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add progress bar to fetching FloatSeries and StringSeries (#1633)
  CHANGELOG.md
  src/neptune/attributes/series/fetchable_series.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

unit test to cover the bug
  tests/unit/neptune/new/client/test_run_tables.py
Due: none

Fix datetime attribute fetching in fetch_runs_table
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

self review + more tests
  src/neptune/metadata_containers/utils.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

Changed format of warning messages
  src/neptune/common/warnings.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

CHANGELOG updated
  CHANGELOG.md
Due: none

Make trash_objects() raise ProjectNotFound exception if invalid project name
  src/neptune/management/internal/api.py
  tests/e2e/management/test_management.py
  tests/unit/neptune/management/internal/test_api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

log number of successes and failures
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

guard against date format being incorrect
  src/neptune/metadata_containers/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

unit test
  tests/unit/neptune/new/client/test_project.py
Due: none

warn if incorrect date format
  src/neptune/metadata_containers/utils.py
  tests/unit/neptune/new/client/test_project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

warning message
  src/neptune/metadata_containers/utils.py
  tests/unit/neptune/new/client/test_project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Parse `datetime` attribute values from string to datetime (#1634)
  CHANGELOG.md
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/utils.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Removed namespace docstrings
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

test logger info called
  tests/unit/neptune/management/internal/test_api.py
Due: none

Consistency
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Restoring old formatting
  src/neptune/common/warnings.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

more specific testing
  tests/unit/neptune/management/internal/test_api.py
Due: none

Disable progress bar for small fetchings
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

`trash_objects()` to raise ProjectNotFound if invalid project name (#1636)
  CHANGELOG.md
  src/neptune/management/internal/api.py
  tests/e2e/management/test_management.py
  tests/unit/neptune/management/internal/test_api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

handle series fetching
  src/neptune/attributes/series/fetchable_series.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

handle files
  src/neptune/internal/backends/hosted_file_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

one-liner
  src/neptune/internal/backends/hosted_file_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_file_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Disable progress bar for small fetchings (#1638)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/attributes/series/fetchable_series.py
  src/neptune/internal/backends/hosted_file_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
