Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

Changelog updated
  CHANGELOG.md
Due: none

Changelog updated with PR id
  CHANGELOG.md
Due: none

DiskQueue and related proper typings, tests and minor styling updates (#1484)
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/queue/__init__.py
  src/neptune/internal/queue/disk_queue.py
  src/neptune/internal/queue/json_file_splitter.py
  src/neptune/internal/queue/sync_offset_file.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/queue/__init__.py
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/queue/test_json_file_splitter.py
  tests/unit/neptune/new/internal/test_disk_queue.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

correct references to project name parameter
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

clarify project visibility
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

Upgraded performance of sending series data to Neptune (#1483)
  CHANGELOG.md
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/queue/__init__.py
  src/neptune/internal/queue/disk_queue.py
  src/neptune/internal/queue/json_file_splitter.py
  src/neptune/internal/queue/sync_offset_file.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/queue/__init__.py
  tests/unit/neptune/new/internal/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/queue/test_json_file_splitter.py
  tests/unit/neptune/new/internal/test_disk_queue.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

tweak trashing docstrings
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

tweak invite_to_workspace docstring
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

formatting
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

chore: Compress (gzip) request if server support it - PR
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Gzip request body if server support it (#1476)
  CHANGELOG.md
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Tests for batcher
  src/neptune/internal/operation_processors/batcher.py
  tests/unit/neptune/new/internal/operation_processors/__init__.py
  tests/unit/neptune/new/internal/operation_processors/test_batcher.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Calls to execute operations only when needed
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Refactored to not build preprocessor every time
  src/neptune/internal/operation_processors/batcher.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactor 5
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixes
  src/neptune/internal/operation_processors/batcher.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Python3.7 typings
  src/neptune/internal/operation.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Copy evaluation in async processor
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Collect and retry, no bytes size
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Batch collection extracted to separate class
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/batcher.py
  src/neptune/internal/queue/disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

No batch truncation
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Separate execute operations method
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/preprocessor/accumulated_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactor 3
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/preprocessor/accumulated_operations.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Accumulator refactor and tests added
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/preprocessor/operations_accumulator.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_accumulator.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactor 4
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/preprocessor/accumulated_operations.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pre-commit suggestions
  src/neptune/internal/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactor 6
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/preprocessor/operations_accumulator.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed final ops
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG updated
  CHANGELOG.md
Due: none

Minor refactors
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

batcher fixed
  src/neptune/internal/operation_processors/batcher.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactor
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/preprocessor/accumulated_operations.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactor 2
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/preprocessor/accumulated_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Better coverage with mypy fixed and small refactors
  pyproject.toml
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/operations_preprocessor.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/preprocessor/__init__.py
  src/neptune/internal/preprocessor/accumulated_operations.py
  src/neptune/internal/preprocessor/exceptions.py
  src/neptune/internal/preprocessor/operations_accumulator.py
  src/neptune/internal/preprocessor/operations_preprocessor.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
  tests/unit/neptune/new/internal/preprocessor/__init__.py
  tests/unit/neptune/new/internal/preprocessor/test_operations_preprocessor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Params
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

More tests
  src/neptune/internal/operation_processors/batcher.py
  tests/unit/neptune/new/internal/operation_processors/test_batcher.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Better coverage
  tests/unit/neptune/new/internal/preprocessor/test_operations_preprocessor.py
Due: none

No cleaning up parent directory
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/queue/disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client
