Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

small bug fixes
  src/neptune/core/components/queue/aggregating_disk_queue.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

small updates
  src/neptune/core/operations/utils.py
  tests/unit/neptune/new/core/components/queue/test_aggregaring_disk_queue.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

chore: Add bokeh_sampledata to dev_requirements.txt
  dev_requirements.txt
Due: none

chore: remove tests dependency on `bokeh_sampledata`
  tests/e2e/plot_utils.py
Due: none

chore: Updated bokeh e2e test (#1838)
  tests/e2e/plot_utils.py
Due: none

aggregating batching based on operation step (#1833)
  src/neptune/core/components/queue/aggregating_disk_queue.py
  src/neptune/core/operation_processors/async_operation_processor/async_operation_processor.py
  src/neptune/core/operation_processors/async_operation_processor/processing_resources.py
  src/neptune/core/operation_processors/async_operation_processor/queue_observer.py
  src/neptune/core/operations/utils.py
  tests/unit/neptune/new/core/components/queue/test_aggregaring_disk_queue.py
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

enforce passing steps to log/append/extend
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

fix tests
  tests/unit/neptune/new/attributes/series/test_float_series.py
  tests/unit/neptune/new/test_handler.py
Due: none

typing
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

fix tests
  tests/unit/neptune/new/test_handler.py
Due: none

changelog
  CHANGELOG.md
Due: none

chore: Update macOS version in Integrations matrix
  .github/workflows/integrations.yml
Due: none

chore: Update macOS version in Integrations matrix (#1840)
  .github/workflows/integrations.yml
Due: none

small updates
  tests/unit/neptune/new/core/operations/test_operations.py
Due: none

use aggregating disk queue in async operation processor
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_async_operation_processor.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: none

use AggregatingDiskQueue instead of DiskQueue in async_op_processor
  src/neptune/core/components/queue/aggregating_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

add performance tests of put
  tests/performance/disk_queue/__init__.py
  tests/performance/disk_queue/test_queue.py
Due: none

small bug fixes
  src/neptune/core/components/queue/aggregating_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Add performance tests of queue
  tests/performance/conftest.py
  tests/performance/disk_queue/test_queue.py
Due: none

remove refractor artifact
  tests/unit/neptune/new/core/operation_processors/async_operation_processor/test_async_operation_processor.py
Due: none

enforce passing steps to log/append/extend (#1839)
  CHANGELOG.md
  src/neptune/handler.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
  tests/unit/neptune/new/test_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

add disk usage raport
  tests/performance/disk_queue/test_queue.py
Due: none

Use ingestion proto buffers from neptune-api
  pyproject.toml
  src/neptune/api/operations.py
  src/neptune/api/proto/neptune_pb/ingest/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/common_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/common_pb2.pyi
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/client_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/client_pb2.pyi
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/ingest_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/ingest_pb2.pyi
  tests/unit/neptune/new/api/test_operation_to_api_visitor.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Test fixes
  tests/unit/neptune/new/api/test_operations.py
  tests/unit/neptune/new/core/operations/test_operations.py
Due: none

Basic sync flow
  CHANGELOG.md
  src/neptune/attributes/atoms/copiable_atom.py
  src/neptune/attributes/series/float_series.py
  src/neptune/attributes/series/string_series.py
  src/neptune/core/operation_processors/factory.py
  src/neptune/core/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/run.py
  src/neptune/objects/with_backend.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
  tests/unit/neptune/new/attributes/sets/test_string_set.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/client/test_run_tables.py
  tests/unit/neptune/new/core/operation_processors/test_sync_operation_processor.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
  tests/unit/neptune/new/internal/backends/test_operations_preprocessor.py
  tests/unit/neptune/new/internal/test_streams.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_logging.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Debug mode renamed to disabled
  CHANGELOG.md
  src/neptune/core/operation_processors/factory.py
  src/neptune/integrations/python_logger.py
  src/neptune/internal/backends/factory.py
  src/neptune/objects/mode.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  tests/unit/neptune/new/attributes/test_attribute_base.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_logging.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

CHANGELOG
  CHANGELOG.md
Due: none

Small revert
  src/neptune/integrations/python_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Use ingestion proto buffers from neptune-api and fix the serialization (#1843)
  pyproject.toml
  src/neptune/api/operations.py
  src/neptune/api/proto/neptune_pb/ingest/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/common_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/common_pb2.pyi
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/__init__.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/client_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/client_pb2.pyi
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/ingest_pb2.py
  src/neptune/api/proto/neptune_pb/ingest/v1/pub/ingest_pb2.pyi
  tests/unit/neptune/new/api/test_operation_to_api_visitor.py
  tests/unit/neptune/new/api/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Debug mode renamed to disabled (#1844)
  CHANGELOG.md
  src/neptune/core/operation_processors/factory.py
  src/neptune/internal/backends/factory.py
  src/neptune/objects/mode.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  tests/unit/neptune/new/attributes/test_attribute_base.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_logging.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Proxies parameter removed
  CHANGELOG.md
  src/neptune/exceptions.py
  src/neptune/internal/backends/factory.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/utils.py
  src/neptune/internal/oauth.py
  src/neptune/internal/utils/utils.py
  src/neptune/internal/websockets/reconnecting_websocket.py
  src/neptune/internal/websockets/websocket_client_adapter.py
  src/neptune/internal/websockets/websockets_factory.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/objects/with_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

`proxies` parameter removed (#1842)
  CHANGELOG.md
  src/neptune/exceptions.py
  src/neptune/internal/backends/factory.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/utils.py
  src/neptune/internal/oauth.py
  src/neptune/internal/utils/utils.py
  src/neptune/internal/websockets/reconnecting_websocket.py
  src/neptune/internal/websockets/websocket_client_adapter.py
  src/neptune/internal/websockets/websockets_factory.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/objects/with_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Run creation time fixed and offline mode working
  src/neptune/api/operation_to_api.py
  src/neptune/api/operations.py
  src/neptune/core/operations/operation.py
  src/neptune/core/operations/operation_visitor.py
  src/neptune/objects/neptune_object.py
  tests/unit/neptune/new/api/test_operation_to_api_visitor.py
  tests/unit/neptune/new/api/test_operations.py
  tests/unit/neptune/new/attributes/test_attribute_base.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Fixes
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Fixes
  src/neptune/api/operations.py
  tests/unit/neptune/new/api/test_operation_to_api_visitor.py
  tests/unit/neptune/new/api/test_operations.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

Run creation time fixed and offline mode working (#1845)
  src/neptune/api/operation_to_api.py
  src/neptune/api/operations.py
  src/neptune/core/operations/operation.py
  src/neptune/core/operations/operation_visitor.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/run.py
  tests/unit/neptune/new/api/test_operation_to_api_visitor.py
  tests/unit/neptune/new/api/test_operations.py
  tests/unit/neptune/new/attributes/test_attribute_base.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Backend renamed to legacy
  src/neptune/attributes/attribute.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/objects/with_backend.py
  tests/unit/neptune/new/attributes/test_attribute_base.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Internal backend instance renamed to legacy backend (#1846)
  src/neptune/attributes/attribute.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/objects/with_backend.py
  tests/unit/neptune/new/attributes/test_attribute_base.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_experiment.py
  tests/unit/neptune/new/test_handler.py
  tests/unit/neptune/new/test_log_handler.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Integrations e2e tests removed
  .github/workflows/e2e.yml
  .github/workflows/help-command.yml
  .github/workflows/run-all-test-command.yml
  .github/workflows/run-integrations-command.yml
  .github/workflows/slash-commands.yml
  tests/e2e/integrations/__init__.py
  tests/e2e/integrations/test_huggingface.py
  tests/e2e/integrations/test_lightning.py
  tests/e2e/integrations/test_mosaicml.py
  tests/e2e/integrations/test_zenml.py
  tests/e2e/pytest.ini
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  py3.11: any of: src/neptune
  py3.12: any of: src/neptune
  e2e-standard: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/objects/**, src/neptune/new/**, src/neptune/types/**, src/neptune/vendor/**, src/neptune/*.py
