Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

uncomment back e2e
  .github/workflows/e2e.yml
Due: none

changelog
  CHANGELOG.md
Due: none

Small fixes
  src/neptune/core/components/queue/disk_queue.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Modules added
  src/neptune/core/__init__.py
  src/neptune/core/components/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Queue module
  src/neptune/core/components/queue/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Tests structure
  tests/unit/neptune/new/core/__init__.py
  tests/unit/neptune/new/core/components/__init__.py
  tests/unit/neptune/new/core/components/queue/__init__.py
Due: none

Metadata File moved to core.components
  src/neptune/core/components/metadata_file.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/core/components/test_metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pre-commit applied
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

get_container_dir moved to utils
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Operation storage moved to core components
  src/neptune/cli/sync.py
  src/neptune/core/components/operation_storage.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Minor adjustments
  src/neptune/core/components/operation_storage.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

add parametrization to ascending param in e2e tests
  tests/e2e/standard/test_fetch_tables.py
Due: none

SyncOffsetFile moved to core components
  src/neptune/core/components/queue/sync_offset_file.py
  src/neptune/internal/disk_queue.py
  tests/unit/neptune/new/cli/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

JsonFileSplitter moved to core components
  src/neptune/core/components/queue/json_file_splitter.py
  src/neptune/internal/disk_queue.py
  tests/unit/neptune/new/core/components/queue/test_json_file_splitter.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add `ascending` parameter to `fetch_*_table` (#1602)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

DiskQueue moved to core.components
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/core/components/queue/disk_queue.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/core/components/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/test_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Offline directory new path
  src/neptune/cli/sync.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  tests/e2e/standard/test_cli.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Changelog updated
  CHANGELOG.md
Due: none

Small refactors
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactors part 2
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Utils refactor
  src/neptune/internal/operation_processors/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactors part 5
  src/neptune/internal/operation_processors/operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small refactors part 4
  src/neptune/attributes/atoms/file.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add progress_bar param do fetch_*_tables
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/utils.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  src/neptune/progress_bar.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add and update tests
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/internal/backends/test_utils.py
Due: none

better mock.patch import
  tests/unit/neptune/new/internal/backends/test_utils.py
Due: none

add test for _check_if_tqdm_installed
  tests/unit/neptune/new/internal/backends/test_utils.py
Due: none

add unit tests for progress bars
  src/neptune/progress_bar.py
  tests/unit/neptune/new/test_progress_bar.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

only run progress bar if total smaller than step size
  src/neptune/api/searching_entries.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Optionally mute all logging in _wait_for_queue_empty
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

less invasive muting
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

introduce message queue
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

pass msg_queue to _wait_for_queue_empty method
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update dependency_tracking.py
  src/neptune/internal/utils/dependency_tracking.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add seaborn figure support utils and respective unit tests
  pyproject.toml
  src/neptune/internal/utils/images.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Enable seaborn figure support in File atom
  src/neptune/internal/utils/images.py
  src/neptune/types/atoms/file.py
  tests/e2e/plot_utils.py
  tests/e2e/standard/test_files.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

update changelog version
  CHANGELOG.md
Due: none

include Seaborn in File docstrings
  src/neptune/types/atoms/file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
