Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  py3.11:
    paths:
      - src/neptune
    carryforward: true

  py3.12:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/objects/**
        - src/neptune/new/**
        - src/neptune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

update README to point to new client or legacy docs
  README.md
Due: none

redirect docs URLs to legacy
  .github/SECURITY.md
  pyproject.toml
  src/neptune/__init__.py
  src/neptune/exceptions.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/exceptions.py
  src/neptune/internal/warnings.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

add version number
  README.md
Due: none

fix: Handle case when egisteredMemberInfo is None in get_*_member_list() methods
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

chore: remove commented debug lines
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

tests: update action versions in GitHub workflow for artifact uploads
  .github/actions/test-unit/action.yml
Due: none

fix: Handle case when `registeredMemberInfo` is None (#1911)
  .github/actions/test-unit/action.yml
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard

tests: Upgrade actions/upload-artifact from v3 to v4 in test workflows
  .github/actions/test-e2e/action.yml
  .github/actions/test-unit/action.yml
Due: none

minimize readme and redirect docs URLs
  .github/SECURITY.md
  README.md
  src/neptune/__init__.py
  src/neptune/common/exceptions.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/common/warnings.py
  src/neptune/exceptions.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/utils/deprecation.py
  src/neptune/management/__init__.py
  src/neptune/management/internal/api.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/run.py
  src/neptune/types/atoms/file.py
  src/neptune/utils.py
  src/neptune/version.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Apply suggestions from code review
  src/neptune/cli/containers.py
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Update src/neptune/internal/threading/daemon.py
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

Better error message for HTTPTooManyRequests (#1895)
  CHANGELOG.md
  src/neptune/cli/containers.py
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

add 'Legacy' to H1
  README.md
Due: none

Update 1.x docs for Legacy deprecation (#1914)
  .github/SECURITY.md
  README.md
  src/neptune/__init__.py
  src/neptune/common/exceptions.py
  src/neptune/common/hardware/gpu/gpu_monitor.py
  src/neptune/common/warnings.py
  src/neptune/exceptions.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/utils/deprecation.py
  src/neptune/management/__init__.py
  src/neptune/management/internal/api.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/run.py
  src/neptune/types/atoms/file.py
  src/neptune/utils.py
  src/neptune/version.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

update pre-commit config
  .pre-commit-config.yaml
Due: none

Update docs for soft launch (#1910)
  .github/SECURITY.md
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  src/neptune/__init__.py
  src/neptune/exceptions.py
  src/neptune/handler.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/exceptions.py
  src/neptune/internal/warnings.py
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/neptune_object.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

adjust default README
  README.md
Due: none

update 1.x README
  README.md
Due: none

Update README.md
  README.md
Due: none

Update 1.x README (#1916)
  README.md
Due: none

Adjust default README (#1915)
  README.md
Due: none

chore: Use retry mechanism while refreshing oauth token.
  src/neptune/common/oauth.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

fix: Use retry mechanism while refreshing oauth token.
  src/neptune/common/oauth.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

chore: Update CHANGELOG for version 1.14.1 with oauth token retry mechanism fix.
  CHANGELOG.md
Due: none

chore: Update CHANGELOG for version 1.14.1 with fix for missing distutils dependency on Python 3.12+
  .github/actions/test-e2e/action.yml
  .github/actions/test-unit/action.yml
  CHANGELOG.md
  pyproject.toml
Due: none

chore: Update CI workflows to support Python 3.9 across multiple configurations
  .github/workflows/e2e.yml
  .github/workflows/help-command.yml
  .github/workflows/integrations.yml
  .github/workflows/unit-in-pull-request.yml
  .github/workflows/unit.yml
  codecov.yml
Due: none

Revert "chore: Update CI workflows to support Python 3.9 across multiple configurations"
  .github/workflows/e2e.yml
  .github/workflows/help-command.yml
  .github/workflows/integrations.yml
  .github/workflows/unit-in-pull-request.yml
  .github/workflows/unit.yml
  codecov.yml
Due: none

Use retry mechanism while refreshing oauth token.
  .github/actions/test-e2e/action.yml
  .github/actions/test-unit/action.yml
  CHANGELOG.md
  pyproject.toml
  src/neptune/common/oauth.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, py3.11, py3.12, e2e-standard, client

chore: Pin `simplejson` version to below `3.19` in `pyproject.toml` and update CHANGELOG.md
  CHANGELOG.md
  pyproject.toml
Due: none

chore: Pin `simplejson` version to below `3.19` in `pyproject.toml` and update CHANGELOG.md (#1920)
  CHANGELOG.md
  pyproject.toml
Due: none

Remove support contact info
  README.md
Due: none

Bump gh-action-pypi-publish version
  .github/workflows/release.yml
Due: none
