Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

try action with push
  .github/workflows/TEST-run-docker-only-tests.yml
Due: none

fix image name
  .github/workflows/TEST-run-docker-only-tests.yml
Due: none

Add PR link to CHANGELOG
  CHANGELOG.md
Due: none

add enabling the tests
  tests/unit/neptune/legacy/internal/hardware/gauges/docker_checker.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_cpu_gauges.py
  tests/unit/neptune/legacy/internal/hardware/gauges/test_memory_gauges.py
  tests/unit/neptune/legacy/internal/hardware/resources/test_system_resource_info_factory.py
Due: none

abstact some logic to seperate methods for AsyncOperationProcessor
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

try caching the dependency
  .github/actions/test-docker/action.yml
  .github/workflows/TEST-run-docker-only-tests.yml
  cgrouptest.Dockerfile
Due: none

fix typo
  .github/workflows/TEST-run-docker-only-tests.yml
Due: none

fix
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

code review
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

abstract some logic to seperate methods for AsyncOperationProcessor (#1557)
  CHANGELOG.md
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add custom context with cached pip dependencies
  .github/actions/test-docker/action.yml
  .github/workflows/TEST-run-docker-only-tests.yml
  cgrouptest.Dockerfile
Due: none

check what is the pip cache dir on container
  .github/actions/test-docker/action.yml
Due: none

update pip cache path
  .github/actions/test-docker/action.yml
Due: none

Update src/neptune/internal/utils/disk_utilization.py
  src/neptune/internal/utils/disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

change docker version
  cgrouptest.Dockerfile
Due: none

Return 2 env vars for control disk usage
  src/neptune/envs.py
  src/neptune/internal/utils/disk_utilization.py
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Rework condition to follow previous flow
  src/neptune/internal/utils/disk_utilization.py
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Restore batch size param in AsyncOperationProcessor
  src/neptune/envs.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

validate value of NEPTUNE_ASYNC_BATCH_SIZE
  src/neptune/internal/operation_processors/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Restore batch size param in AsyncOperationProcessor (#1558)
  src/neptune/envs.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Use ValueErro instead of assert
  src/neptune/internal/utils/disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update CHANGELOG.md
  CHANGELOG.md
Due: none

fix cgroup test
  .github/actions/test-docker/action.yml
  cgrouptest.Dockerfile
  src/neptune/common/hardware/cgroup/cgroup_monitor.py
  src/neptune/common/hardware/cgroup/cgroup_v1_filesystem_reader.py
  src/neptune/common/hardware/cgroup/cgroup_v2_filesystem_reader.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Introduce disk utilization error handler
  src/neptune/exceptions.py
  src/neptune/internal/utils/disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

adjust unit tests
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
Due: none

Added support for experimental extras
  pyproject.toml
Due: none

Changelog updated
  CHANGELOG.md
Due: none

Added support for experimental extras (#1560)
  CHANGELOG.md
  pyproject.toml
Due: none

Reverted PartitionedOperationsProcessor
  CHANGELOG.md
  src/neptune/envs.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add unit tests
  src/neptune/internal/utils/disk_utilization.py
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

test run method
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
Due: none

type hint correction
  src/neptune/internal/utils/disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

async partition op builder
  src/neptune/internal/operation_processors/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update src/neptune/exceptions.py
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

exclude pass lines in abstract methods from coverage report
  src/neptune/internal/utils/disk_utilization.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Reverted PartitionedOperationsProcessor (#1561)
  CHANGELOG.md
  src/neptune/envs.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix e2e
  tests/e2e/standard/test_cli.py
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
