Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Switch to fork with Flake8 pyproject Python3.12 support (#1695)
  .pre-commit-config.yaml
Due: none

fix imports
  src/neptune/objects/model.py
  src/neptune/objects/model_version.py
  src/neptune/objects/project.py
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

fix gragging common import in e2e
  tests/e2e/standard/test_fetch_tables.py
Due: none

changelog
  CHANGELOG.md
Due: none

Changelog updated with 2.0.0
  CHANGELOG.md
Due: none

Remove neptune.new (#1684)
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/neptune/new/__init__.py
  src/neptune/new/_compatibility.py
  src/neptune/new/constants.py
  src/neptune/new/envs.py
  src/neptune/new/exceptions.py
  src/neptune/new/handler.py
  src/neptune/new/project.py
  src/neptune/new/run.py
  src/neptune/new/runs_table.py
  src/neptune/new/utils.py
  src/neptune/new/version.py
  tests/unit/neptune/new/test_imports.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pyproject.toml updated with 2.0.0
  pyproject.toml
Due: none

Remove neptune.logging package
  codecov.yml
  pyproject.toml
  src/neptune/integrations/python_logger.py
  src/neptune/internal/streams/std_stream_capture_logger.py
  src/neptune/logging/__init__.py
  src/neptune/logging/logger.py
  tests/unit/neptune/new/internal/test_streams.py
  tests/unit/neptune/new/test_imports.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Remove neptune-client
  .github/neptune_client_pyproject.toml
  .github/workflows/release.yml
  src/neptune/exceptions.py
  src/neptune/integrations/python_logger.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/utils/logger.py
  src/neptune/utils.py
  src/neptune/version.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

small changes to improve code quality
  CHANGELOG.md
  tests/e2e/standard/test_multiprocessing.py
  tests/unit/neptune/new/internal/operation_processors/test_lazy_operation_processor_wrapper.py
Due: none

Remove neptune.logging package (#1698)
  CHANGELOG.md
  codecov.yml
  pyproject.toml
  src/neptune/integrations/python_logger.py
  src/neptune/internal/streams/std_stream_capture_logger.py
  src/neptune/logging/__init__.py
  src/neptune/logging/logger.py
  tests/unit/neptune/new/internal/test_streams.py
  tests/unit/neptune/new/test_imports.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Apply suggestions from code review
  CHANGELOG.md
  src/neptune/internal/utils/logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

increase sleep duration in fetch e2e tests
  tests/e2e/standard/test_fetch_tables.py
Due: none

update changelog
  CHANGELOG.md
Due: none

increase wait duration
  tests/e2e/standard/test_fetch_tables.py
Due: none

increase sleep duration in management e2e tests
  tests/e2e/management/test_management.py
Due: none

extreamly increase sleep duration
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_fetch_tables.py
Due: none

Improve date parsing (#1680)
  CHANGELOG.md
  src/neptune/internal/utils/iso_dates.py
  src/neptune/metadata_containers/utils.py
  tests/unit/neptune/new/client/test_project.py
  tests/unit/neptune/new/client/test_run_tables.py
  tests/unit/neptune/new/internal/utils/test_iso_dates.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

increase e2e test timeout
  tests/e2e/management/test_management.py
Due: none

increase sleep duration in fetch e2e tests (#1700)
  CHANGELOG.md
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_fetch_tables.py
Due: none

Remove neptune-client (#1699)
  .github/neptune_client_pyproject.toml
  .github/workflows/release.yml
  CHANGELOG.md
  src/neptune/exceptions.py
  src/neptune/integrations/python_logger.py
  src/neptune/internal/backends/hosted_client.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/utils/logger.py
  src/neptune/utils.py
  src/neptune/version.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

disable neptune model
  src/neptune/exceptions.py
  src/neptune/objects/model.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version_tables.py
  tests/unit/neptune/new/test_experiment.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

updated changelog
  CHANGELOG.md
Due: none

skip e2e tests that include Model
  tests/e2e/base.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
  tests/e2e/utils.py
Due: none

Disable background jobs and metadata logging
  src/neptune/objects/run.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/test_log_handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

current
  src/neptune/objects/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

rename sth
  tests/e2e/base.py
  tests/e2e/conftest.py
  tests/e2e/standard/test_multiple.py
  tests/e2e/utils.py
Due: none

mark test as xfail instead of skipping them
  tests/e2e/conftest.py
  tests/e2e/standard/test_fetch_tables.py
  tests/e2e/standard/test_init.py
  tests/e2e/utils.py
Due: none

expect tests to fail instead of skipping them
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/client/test_model.py
  tests/unit/neptune/new/client/test_model_version_tables.py
  tests/unit/neptune/new/test_experiment.py
Due: none

bugfix
  tests/e2e/standard/test_init.py
Due: none

enchance AVAILABLE_CONTAINERS to be pytest params
  tests/e2e/base.py
  tests/e2e/conftest.py
  tests/e2e/management/test_management.py
  tests/e2e/standard/test_copy.py
  tests/e2e/standard/test_init.py
  tests/e2e/utils.py
Due: none

bugfix
  tests/e2e/management/test_management.py
Due: none

Allow to set step size for leaderboard entries fetching
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
