Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

inform about casting to float
  src/neptune/internal/types/stringify_value.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: Add version validation to release action.
  .github/workflows/release.yml
Due: none

Update src/neptune/internal/types/stringify_value.py
  src/neptune/internal/types/stringify_value.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

apply pre-commit
  src/neptune/internal/types/stringify_value.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Enable wait-for-green-master in release workflow
  .github/workflows/release.yml
Due: none

chore: Add version validation to release action. (#1444)
  .github/workflows/release.yml
Due: none

add trufflehog to pre-commit (#1441)
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

Call execute operations with list
  CHANGELOG.md
  src/neptune/new/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

CHANGELOG updated
  CHANGELOG.md
Due: none

cast integers outside of 32bits to float in StringifyValue (#1443)
  CHANGELOG.md
  src/neptune/attributes/atoms/integer.py
  src/neptune/constants.py
  src/neptune/internal/types/stringify_value.py
  tests/unit/neptune/new/test_stringify_unsupported.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

remove trufflehog from pre-commit
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

remove trufflehog from pre-commit (#1447)
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

make interactive warning exceedingly helpful
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix request import
  src/neptune/api/requests_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Update changelog
  CHANGELOG.md
Due: none

[Enhance] Enhance the logic for importing exceptions from `request` (#1434)
  CHANGELOG.md
  src/neptune/api/requests_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

run unit tests in pull request from fork
  .github/workflows/unit-in-pull-request.yml
Due: none

Revert "chore: Add version validation to release action. (#1444)"
  .github/workflows/release.yml
Due: none

Revert "chore: Add version validation to release action." (#1450)
  .github/workflows/release.yml
Due: none

fix requests import bug
  src/neptune/api/requests_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

update changelog
  CHANGELOG.md
Due: none

revert accidental commit XD
  .github/workflows/unit-in-pull-request.yml
Due: none

simplify
  src/neptune/api/requests_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

changelog
  CHANGELOG.md
Due: none

fix requests import bug (#1451)
  CHANGELOG.md
  src/neptune/api/requests_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

chore: Add PartitionedOperationProcessor
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/partitioned_op_processor.py
  src/neptune/types/mode.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Add PartitionedOperationProcessor
  src/neptune/internal/backends/factory.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Add PartitionedOperationProcessor
  src/neptune/internal/operation_processors/partitioned_op_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Add PartitionedOperationProcessor
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Add PartitionedOperationProcessor
  src/neptune/common/oauth.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

chore: Add PartitionedOperationProcessor
  src/neptune/internal/disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Add PartitionedOperationProcessor
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

chore: Add PartitionedOperationProcessor
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add handling of projects limits
  CHANGELOG.md
  src/neptune/internal/backends/swagger_client_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

pre-release changelog update
  CHANGELOG.md
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
