Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Update src/neptune/cli/commands.py
  src/neptune/cli/commands.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

more editorial changes
  src/neptune/common/exceptions.py
  src/neptune/common/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

cli and docstrings language review
  src/neptune/__init__.py
  src/neptune/cli/__main__.py
  src/neptune/cli/clear.py
  src/neptune/cli/commands.py
  src/neptune/cli/status.py
  src/neptune/cli/utils.py
  src/neptune/exceptions.py
  src/neptune/version.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update after comments
  src/neptune/cli/commands.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

more editorial changes
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

handler.py review
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

improvements after review
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

review fixes + changelog
  CHANGELOG.md
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fixes
  src/neptune/cli/commands.py
  src/neptune/handler.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add parentheses
  CHANGELOG.md
Due: none

Fix race condition between close and flush in disk queue (#1470)
  CHANGELOG.md
  src/neptune/internal/disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Exec directories in offline mode
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Restored queue size
  src/neptune/internal/disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Refactor
  CHANGELOG.md
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pre-commit applied
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Testing
  src/neptune/common/backends/utils.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/legacy/internal/api_clients/hosted_api_clients/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

update changelog
  CHANGELOG.md
Due: none

update changelog (#1472)
  CHANGELOG.md
Due: none

add newline at the end of the diff file
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

fix tests
  src/neptune/internal/utils/git.py
  tests/unit/neptune/new/internal/utils/test_git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add newline at the end of the diff file (#1473)
  CHANGELOG.md
  src/neptune/internal/utils/git.py
  tests/unit/neptune/new/internal/utils/test_git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add support for jax ArrayImpl objects
  src/neptune/internal/utils/images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Gzip upload flag in ClientConfig
  src/neptune/internal/backends/api_model.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add unit test
  pyproject.toml
  tests/unit/neptune/new/internal/utils/test_images.py
Due: none

unit tests for py3.8
  .github/workflows/unit-in-pull-request.yml
Due: none

skip installation and test on windows
  pyproject.toml
  tests/unit/neptune/new/internal/utils/test_images.py
Due: none

programatically delete trashed objects
  src/neptune/management/__init__.py
  src/neptune/management/internal/api.py
  tests/unit/neptune/management/internal/test_api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

name refactor
  src/neptune/management/__init__.py
  src/neptune/management/internal/api.py
  tests/unit/neptune/management/internal/test_api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

sketch fetching trashed run subtable and clearing trash function
  src/neptune/management/__init__.py
  src/neptune/management/internal/api.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

implement trashing models
  src/neptune/management/internal/api.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

refactor + unit tests
  src/neptune/management/internal/api.py
  src/neptune/management/internal/utils.py
  tests/unit/neptune/management/internal/test_api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

add e2e + temp uncomment management e2e tests
  .github/workflows/e2e.yml
  src/neptune/management/internal/utils.py
  tests/e2e/management/test_management.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

docs
  src/neptune/management/internal/api.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

longer sleep time
  tests/e2e/management/test_management.py
Due: none

use backoff
  tests/e2e/management/test_management.py
Due: none

add project syncing
  tests/e2e/management/test_management.py
Due: none

more time for backoff
  tests/e2e/management/test_management.py
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
