Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

Update pyproject.toml
  pyproject.toml
Due: none

simplify + integration imports
  src/neptune/exceptions.py
  src/neptune/integrations/aws/__init__.py
  src/neptune/integrations/fastai/__init__.py
  src/neptune/integrations/kedro/__init__.py
  src/neptune/integrations/lightgbm/__init__.py
  src/neptune/integrations/mosaicml/__init__.py
  src/neptune/integrations/optuna/__init__.py
  src/neptune/integrations/prophet/__init__.py
  src/neptune/integrations/pytorch/__init__.py
  src/neptune/integrations/pytorch_lightning/__init__.py
  src/neptune/integrations/sacred/__init__.py
  src/neptune/integrations/sklearn/__init__.py
  src/neptune/integrations/tensorboard/__init__.py
  src/neptune/integrations/tensorflow_keras/__init__.py
  src/neptune/integrations/transformers/__init__.py
  src/neptune/integrations/xgboost/__init__.py
  src/neptune/internal/utils/requirement_check.py
  src/neptune/new/exceptions.py
  src/neptune/utils.py
  tests/unit/neptune/new/test_imports.py
  tests/unit/neptune/new/test_requirement_check.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add missing import
  tests/unit/neptune/new/test_imports.py
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

WIP
  src/neptune/api/searching_entries.py
  src/neptune/attributes/series/fetchable_series.py
  src/neptune/handler.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

WIP
  src/neptune/api/searching_entries.py
  tests/unit/neptune/new/attributes/series/test_float_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Update SECURITY.md
  SECURITY.md
Due: none

changelog
  CHANGELOG.md
Due: none

add __all__ to requiremnt_check.py
  src/neptune/internal/utils/requirement_check.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix custom offset & limit Float and String values fetching and refractor e2e tests
  src/neptune/attributes/series/fetchable_series.py
  tests/e2e/standard/test_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add unit test for string series fetching with custom offset & limit
  tests/unit/neptune/new/attributes/series/test_float_series.py
  tests/unit/neptune/new/attributes/series/test_string_series.py
Due: none

update changelog
  CHANGELOG.md
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

Update src/neptune/exceptions.py
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update pyproject.toml (#1671)
  pyproject.toml
Due: none

Runtime dependencies check (#1670)
  CHANGELOG.md
  src/neptune/exceptions.py
  src/neptune/integrations/aws/__init__.py
  src/neptune/integrations/fastai/__init__.py
  src/neptune/integrations/kedro/__init__.py
  src/neptune/integrations/lightgbm/__init__.py
  src/neptune/integrations/mosaicml/__init__.py
  src/neptune/integrations/optuna/__init__.py
  src/neptune/integrations/prophet/__init__.py
  src/neptune/integrations/pytorch/__init__.py
  src/neptune/integrations/pytorch_lightning/__init__.py
  src/neptune/integrations/sacred/__init__.py
  src/neptune/integrations/sklearn/__init__.py
  src/neptune/integrations/tensorboard/__init__.py
  src/neptune/integrations/tensorflow_keras/__init__.py
  src/neptune/integrations/transformers/__init__.py
  src/neptune/integrations/xgboost/__init__.py
  src/neptune/internal/utils/requirement_check.py
  src/neptune/new/exceptions.py
  tests/unit/neptune/new/test_imports.py
  tests/unit/neptune/new/test_requirement_check.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

small import change
  src/neptune/api/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

cache requirements
  src/neptune/internal/utils/requirement_check.py
  tests/unit/neptune/new/internal/utils/test_requirement_check.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Moved SECURITY.md to .github
  .github/SECURITY.md
Due: none

set maxsize for lru_cache
  src/neptune/internal/utils/requirement_check.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Create SECURITY.md (#1672)
  .github/SECURITY.md
Due: none

cache requirements (#1675)
  CHANGELOG.md
  src/neptune/internal/utils/requirement_check.py
  tests/unit/neptune/new/internal/utils/test_requirement_check.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move invalid query handling from decorator to get_single_page() func body
  src/neptune/api/searching_entries.py
  src/neptune/api/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Update NeptuneInvalidQueryException message
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Introduce querying capabilities to fetch_runs_table (#1660)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/exceptions.py
  src/neptune/internal/backends/nql.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/utils.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/internal/backends/test_nql.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

introduce query arg to fetch_runs_table
  src/neptune/common/warnings.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

add leaderboard entries fetching error handling
  pyproject.toml
  src/neptune/api/utils.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review changes
  pyproject.toml
  src/neptune/api/utils.py
  src/neptune/common/warnings.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

update changelog and docs
  CHANGELOG.md
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

introduce querying capabilities to fetch_models_table()
  src/neptune/metadata_containers/project.py
  tests/e2e/standard/test_fetch_tables.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move invalid query handling from decorator to get_single_page() func body
  src/neptune/api/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

bugfix fetch_models_table
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

allow user to control logging level
  src/neptune/internal/utils/logger.py
  tests/unit/conftest.py
  tests/unit/neptune/new/test_logging.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

use fixture
  tests/unit/conftest.py
Due: none

scope fixture to session
  tests/unit/conftest.py
Due: none
