Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

chore: changelog update (#1457)
  CHANGELOG.md
Due: none

Merge with master
  CHANGELOG.md
Due: none

expose _state attribute via property
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

refactor python logger using property
  src/neptune/integrations/python_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

make property return string, not enum
  src/neptune/integrations/python_logger.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

property -> getter method
  CHANGELOG.md
  src/neptune/integrations/python_logger.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add docstrings
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

expose _state attribute with a getter method (#1463)
  CHANGELOG.md
  src/neptune/integrations/python_logger.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

NPT-13623 - Fix token expired exception arguments error
  src/neptune/common/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

update NeptuneLimitExceedException message
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

setup airflow e2e execution in workflow
  .github/workflows/integrations.yml
Due: none

master -> main
  .github/workflows/integrations.yml
Due: none

add neptune-airflow to pyproject
  pyproject.toml
Due: none

add airflow installation step
  .github/workflows/integrations.yml
Due: none

only python-version passed to install airflow
  .github/workflows/integrations.yml
Due: none

temp comment
  .github/workflows/integrations.yml
Due: none

checkout
  .github/workflows/integrations.yml
Due: none

uncomment
  .github/workflows/integrations.yml
Due: none

working dir
  .github/workflows/integrations.yml
Due: none

btw - mlflow fix in pyproject
  pyproject.toml
Due: none

bump low version of py for hugginface e2e
  .github/workflows/integrations.yml
Due: none

changelog
  CHANGELOG.md
Due: none

setup airflow e2e execution in workflow (#1466)
  .github/workflows/integrations.yml
  CHANGELOG.md
  pyproject.toml
Due: none

bump low version of py for hugginface e2e (#1468)
  .github/workflows/integrations.yml
Due: none

fix bug with passing None as exception to ApiMethodWrapper.handle_neptune_http_errors
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/internal/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

handle errors in ApiMethodWrapper.handle_neptune_http_errors
  src/neptune/api/exceptions_utils.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/internal/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/api/exceptions_utils.py
  src/neptune/internal/backends/swagger_client_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/api/exceptions_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

refactor handling errors in swagger client wrapper
  src/neptune/api/exceptions_utils.py
  src/neptune/common/backends/utils.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/swagger_client_wrapper.py
  tests/unit/neptune/new/api/test_exceptions_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Fix exception handling in `ApiMethodWrapper.handle_neptune_http_errors` (#1469)
  CHANGELOG.md
  src/neptune/api/exceptions_utils.py
  src/neptune/common/backends/utils.py
  src/neptune/internal/backends/hosted_file_operations.py
  src/neptune/internal/backends/swagger_client_wrapper.py
  tests/unit/neptune/new/api/test_exceptions_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Fix race condition between close and flush in disk queue
  CHANGELOG.md
  src/neptune/internal/disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

editorial
  src/neptune/cli/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client
