Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

comment out integrations that work
  .github/workflows/integrations.yml
Due: none

code review
  tests/unit/neptune/new/attributes/atoms/test_float.py
Due: none

Experimental package support
  src/neptune/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move function to common module
  src/neptune/attributes/atoms/float.py
  src/neptune/common/utils.py
  src/neptune/types/series/float_series.py
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Changelog updated
  CHANGELOG.md
Due: none

Refactor
  src/neptune/__init__.py
  src/neptune/internal/extensions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Newlines
  src/neptune/__init__.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

make generic
  src/neptune/types/series/float_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Fixes
  src/neptune/internal/extensions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

zenml py3.10
  .github/workflows/integrations.yml
Due: none

Revert "chore: Add `safe_function` to MetaDataContainer and Handler, optionally with default value."
  src/neptune/handler.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/model_version.py
  src/neptune/metadata_containers/project.py
  src/neptune/metadata_containers/run.py
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

zenml server
  pyproject.toml
Due: none

Revert introduction of safe_container
  CHANGELOG.md
  src/neptune/common/warnings.py
  src/neptune/envs.py
  src/neptune/handler.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/safe_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Revert the introduction of async batch size
  src/neptune/envs.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/partitioned_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert the introduction of async batch size
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/utils/monotonic_inc_batch_size.py
  tests/unit/neptune/new/internal/utils/test_monotonic_inc_batch_size.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert deletion of introduction warn_once max capacity
  src/neptune/common/warnings.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Support for Py3.7
  src/neptune/internal/extensions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

remove zenml constraint
  pyproject.toml
Due: none

Added support for plugins/extensions (#1545)
  CHANGELOG.md
  src/neptune/__init__.py
  src/neptune/internal/extensions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

hf and zenml fixed
  .github/workflows/integrations.yml
Due: none

Fix entrypoints
  src/neptune/internal/extensions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Support for breaking-changes
  src/neptune/internal/extensions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Support for breaking-changes 2
  src/neptune/internal/extensions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Rework disk usage limitation: use single env var instead of 2 / add additional validations for input value / add additional warnings
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/utils/disk_full.py
  src/neptune/internal/utils/disk_utilization.py
  tests/unit/neptune/new/internal/utils/test_disk_utilization.py
  tests/unit/neptune/new/internal/utils/test_full_disk.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix entrypoints (#1548)
  src/neptune/internal/extensions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

apply code review
  src/neptune/attributes/atoms/float.py
  src/neptune/common/utils.py
  src/neptune/internal/types/stringify_value.py
  src/neptune/internal/types/utils.py
  src/neptune/types/series/float_series.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

code review
  CHANGELOG.md
  src/neptune/attributes/atoms/float.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

revert flag for remote signals
  CHANGELOG.md
  src/neptune/internal/extensions.py
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

mypy
  src/neptune/internal/extensions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

revert flag for remote signals (#1550)
  CHANGELOG.md
  src/neptune/internal/extensions.py
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

clarify MetadataContainerNotFound message
  src/neptune/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

revert OperationsErrorsProcessor
  CHANGELOG.md
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operations_errors_processor.py
  tests/unit/neptune/new/internal/utils/test_operations_errors_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

revert OperationsErrorsProcessor (#1552)
  CHANGELOG.md
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operations_errors_processor.py
  tests/unit/neptune/new/internal/utils/test_operations_errors_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move error handling to separate method in AsyncOperationProcessor
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

changelog
  CHANGELOG.md
Due: none

Set sysId as run name by default
  CHANGELOG.md
  src/neptune/metadata_containers/run.py
  tests/e2e/standard/test_init.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

move error handling to separate method in AsyncOperationProcessor (#1553)
  CHANGELOG.md
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update action and change the dockerfile name
  .github/actions/test-docker/action.yml
  .github/workflows/TEST-run-docker-only-tests.yml
  cgrouptest.Dockerfile
Due: none
