Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Proof of concept
  src/neptune/internal/operation_processors/subprocess_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Signals processor
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/subprocess_operation_processor.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fixed SignalsProcessor and debug removed
  src/neptune/internal/operation_processors/subprocess_operation_processor.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Use op processors factory
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/subprocess_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pre-commit fixed
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/subprocess_operation_processor.py
  src/neptune/internal/signals_processing/abstract.py
  src/neptune/internal/signals_processing/background_job.py
  src/neptune/internal/signals_processing/signals_processor.py
  src/neptune/internal/signals_processing/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Small fix
  src/neptune/internal/operation_processors/subprocess_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

File fixed
  src/neptune/internal/operation_processors/factory.py
  src/neptune/internal/operation_processors/subprocess_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Turn off source code and git
  src/neptune/internal/operation_processors/subprocess_operation_processor.py
  src/neptune/metadata_containers/run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Progress bars
  src/neptune/progress_bar.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

small improvements
  src/neptune/internal/utils/runningmode.py
  src/neptune/progress_bar.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix checking column type
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

which progress bar
  src/neptune/internal/backends/utils.py
  src/neptune/progress_bar.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add code review and basic rework
  src/neptune/attributes/atoms/git_ref.py
  src/neptune/internal/backends/api_model.py
  src/neptune/internal/backends/hosted_artifact_operations.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/offline_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

minor improvements
  src/neptune/internal/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

handle heterogenous column types
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

unit test for _get_column_type_from_entries
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: none

e2e for non-atomic column type
  tests/e2e/standard/test_fetch_tables.py
Due: none

use typing_extensions
  src/neptune/progress_bar.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

code review2
  src/neptune/internal/backends/hosted_neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Sorting for `fetch_*_table` (#1595)
  CHANGELOG.md
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/api/test_searching_entries.py
  tests/unit/neptune/new/client/abstract_tables_test.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix sorting bug
  src/neptune/internal/backends/hosted_neptune_backend.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

WithResources and AutoCloseable interfaces and MetadataFile adjusted
  src/neptune/core/__init__.py
  src/neptune/core/components/__init__.py
  src/neptune/core/components/abstract.py
  src/neptune/core/components/metadata_file.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_offline_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_sync_operation_processor.py
  tests/unit/neptune/new/internal/test_metadata_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

get_container_dir moved
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

OperationStorage reworked
  src/neptune/internal/operation_processors/operation_storage.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_sync_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Operation storage moved to new core module
  src/neptune/cli/sync.py
  src/neptune/core/components/operation_storage.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/operation.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  tests/unit/neptune/new/internal/backends/test_hosted_neptune_backend.py
  tests/unit/neptune/new/internal/backends/test_neptune_backend_mock.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

WithResources added to OperationStorage
  src/neptune/core/components/abstract.py
  src/neptune/core/components/operation_storage.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

DiskQueue reworked
  src/neptune/cli/sync.py
  src/neptune/core/components/queue/__init__.py
  src/neptune/internal/disk_queue.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  tests/e2e/standard/test_cli.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/client/abstract_experiment_test_mixin.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

DiskQueue moved to new module
  pyproject.toml
  src/neptune/cli/commands.py
  src/neptune/cli/path_option.py
  src/neptune/cli/sync.py
  src/neptune/cli/utils.py
  src/neptune/core/components/queue/disk_queue.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/test_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Cleaning internal data removed
  src/neptune/core/components/queue/disk_queue.py
  src/neptune/envs.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  src/neptune/internal/utils/files.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Moved sync offset file and json file splitter to new module
  pyproject.toml
  src/neptune/core/components/queue/disk_queue.py
  src/neptune/core/components/queue/json_file_splitter.py
  src/neptune/core/components/queue/sync_offset_file.py
  tests/unit/neptune/new/cli/utils.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Added mypy suggestions to json file splitter and sync offset file
  pyproject.toml
  src/neptune/core/components/queue/json_file_splitter.py
  src/neptune/core/components/queue/sync_offset_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Tests for json file splitter and disk queue added
  tests/unit/neptune/new/core/__init__.py
  tests/unit/neptune/new/core/components/__init__.py
  tests/unit/neptune/new/core/components/queue/__init__.py
  tests/unit/neptune/new/core/components/queue/test_disk_queue.py
  tests/unit/neptune/new/core/components/queue/test_json_file_splitter.py
  tests/unit/neptune/new/internal/test_disk_queue.py
  tests/unit/neptune/new/internal/utils/test_json_file_splitter.py
Due: none

Added tests for disk queue
  pyproject.toml
  src/neptune/cli/sync.py
  src/neptune/core/components/abstract.py
  src/neptune/core/components/queue/disk_queue.py
  tests/unit/neptune/new/core/components/queue/test_disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix sorting bug (#1601)
  src/neptune/internal/backends/hosted_neptune_backend.py
  tests/unit/neptune/new/internal/backends/test_hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Resource tracking
  src/neptune/core/components/abstract.py
  src/neptune/core/components/metadata_file.py
  src/neptune/core/components/operation_storage.py
  src/neptune/core/components/queue/disk_queue.py
  src/neptune/core/components/queue/sync_offset_file.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/offline_operation_processor.py
  src/neptune/internal/operation_processors/sync_operation_processor.py
  src/neptune/internal/operation_processors/utils.py
  tests/unit/neptune/new/core/components/queue/test_disk_queue.py
  tests/unit/neptune/new/internal/operation_processors/test_async_operation_processor.py
  tests/unit/neptune/new/internal/operation_processors/test_offline_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add ascending parameter
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  tests/e2e/standard/test_fetch_tables.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

check e2e
  .github/workflows/e2e.yml
Due: none

Data_path removed from operation_storage
  src/neptune/core/components/operation_storage.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  tests/unit/neptune/new/attributes/atoms/test_file.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Disk queue adjustments
  src/neptune/core/components/queue/disk_queue.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
