Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Increase `custom_run_id` length limit to 128.
  src/neptune/internal/utils/limits.py
  tests/unit/neptune/new/client/test_run.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update CHANGELOG.md
  CHANGELOG.md
Due: none

improve messages
  src/neptune/internal/operation_processors/async_operation_processor.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Suggestions from code review
  src/neptune/internal/utils/dependency_tracking.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Code review 1 - move objects to different places
  src/neptune/api/searching_entries.py
  src/neptune/internal/utils/__init__.py
  src/neptune/progress_bar.py
  src/neptune/typing.py
  src/neptune/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

adjust after moving objects
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
  src/neptune/internal/backends/neptune_backend_mock.py
  src/neptune/internal/backends/utils.py
  src/neptune/metadata_containers/metadata_container.py
  src/neptune/metadata_containers/model.py
  src/neptune/metadata_containers/project.py
  tests/unit/neptune/new/internal/backends/test_utils.py
  tests/unit/neptune/new/test_progress_bar.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

implement changes from code review
  CHANGELOG.md
  src/neptune/internal/utils/images.py
  tests/e2e/plot_utils.py
  tests/unit/neptune/new/internal/utils/test_images.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix tests
  src/neptune/api/searching_entries.py
  tests/unit/neptune/new/api/test_searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

delete redundant comments
  src/neptune/api/searching_entries.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3

Update the year in the license header source file
  .github/license_header.txt
Due: none

update pre-commit
  .pre-commit-config.yaml
Due: none

Revert "update pre-commit"
  .pre-commit-config.yaml
Due: none

update pre-commit + insert missing licenses
  .pre-commit-config.yaml
  src/neptune/api/dtos.py
  src/neptune/internal/constants.py
  src/neptune/internal/utils/dependency_tracking.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update the year in the license header source file (#1614)
  .github/license_header.txt
  .pre-commit-config.yaml
  src/neptune/api/dtos.py
  src/neptune/internal/constants.py
  src/neptune/internal/utils/dependency_tracking.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update dependency_tracking.py (#1612)
  CHANGELOG.md
  src/neptune/internal/utils/dependency_tracking.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Add seaborn to dev requirements
  pyproject.toml
Due: none

alphabetical order
  pyproject.toml
Due: none

Add seaborn to dev requirements (#1615)
  pyproject.toml
Due: none

Introduce operation logger
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix tests
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

typing
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add unit tests for operation logger
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
Due: none

changelog
  CHANGELOG.md
Due: none

fix miss-spelling
  src/neptune/internal/operation_processors/operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add more info to the queue signal
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Also send success signal
  src/neptune/internal/operation_processors/operation_logger.py
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

always send a signal to the queue
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_logger.py
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add signal type info
  src/neptune/internal/operation_processors/operation_logger.py
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

more structured signals
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_logger.py
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

expose signal type and signal data
  src/neptune/internal/operation_processors/operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

rename objects
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_logger.py
  tests/unit/neptune/new/internal/operation_processors/test_operation_logger.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

simplify + more type checking
  src/neptune/internal/backends/utils.py
  src/neptune/utils.py
  tests/unit/neptune/new/internal/backends/test_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

fix tests
  src/neptune/internal/backends/utils.py
  tests/unit/neptune/new/test_progress_bar.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

feat(api): add support for proto api endpoints
  src/neptune/attributes/series/fetchable_series.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/neptune_backend.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add test for invalid type provided to which_progress_bar func
  tests/unit/neptune/new/internal/backends/test_utils.py
Due: none

code review
  src/neptune/api/searching_entries.py
  src/neptune/internal/backends/utils.py
  src/neptune/internal/utils/__init__.py
  src/neptune/utils.py
  tests/unit/neptune/new/internal/backends/test_utils.py
  tests/unit/neptune/new/test_progress_bar.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

test which_progress_bar as function
  tests/unit/neptune/new/internal/backends/test_utils.py
Due: none

Better value validation for state parameter of
  src/neptune/internal/utils/__init__.py
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Pre-commit
  src/neptune/metadata_containers/project.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
