Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  unit:
    paths:
      - src/neptune
    carryforward: true

  e2e:
    paths:
      - src/neptune
    carryforward: true

  ubuntu:
    paths:
      - src/neptune
    carryforward: true

  macos:
    paths:
      - src/neptune
    carryforward: true

  windows:
    paths:
      - src/neptune
    carryforward: true

  py3.7:
    paths:
      - src/neptune
    carryforward: true

  py3.8:
    paths:
      - src/neptune
    carryforward: true

  py3.9:
    paths:
      - src/neptune
    carryforward: true

  py3.10:
    paths:
      - src/neptune
    carryforward: true

  e2e-standard:
    paths:
      - src/neptune
    carryforward: true

  e2e-management:
    paths:
      - src/neptune/management
    carryforward: true

  e2e-s3-gcs:
    paths:
      - src/neptune
    carryforward: true

  e2e-s3:
    paths:
      - src/neptune
    carryforward: true

component_management:
  individual_components:
    - component_id: client
      name: client
      paths:
        - src/neptune/attributes/**
        - src/neptune/cli/**
        - src/neptune/common/**
        - src/neptune/internal/**
        - src/neptune/logging/**
        - src/neptune/metadata_containers/**
        - src/neptune/new/**
        - src/netpune/types/**
        - src/neptune/vendor/**
        - src/neptune/*.py

    - component_id: legacy
      name: legacy
      paths:
        - src/neptune/legacy/**
        - src/neptune/common/**

    - component_id: management
      name: management
      paths:
        - src/neptune/management/**

style change
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

initial_commit
  some_file.txt
Due: none

add e2e test for tracking uncommitted changes
  src/neptune/metadata_containers/run.py
  tests/e2e/standard/test_init.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

delete e2e artifact
  some_file.txt
Due: none

improve exception handling
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

add unit test for track_uncommited_changes
  src/neptune/internal/utils/git.py
  tests/unit/neptune/new/internal/utils/test_git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

update changelog
  CHANGELOG.md
Due: none

run e2e tests
  .github/workflows/e2e.yml
Due: none

uncomment back
  .github/workflows/e2e.yml
Due: none

Update src/neptune/management/exceptions.py
  src/neptune/management/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

fix test_git_default and check if it runs in CI
  .github/workflows/e2e.yml
  tests/e2e/standard/test_init.py
Due: none

only run standard e2e
  .github/workflows/e2e.yml
Due: none

Added support of active projects exception (#1348)
  CHANGELOG.md
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/management/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, management

apply code review suggestions
  .github/workflows/e2e.yml
  tests/e2e/conftest.py
  tests/e2e/standard/test_init.py
  tests/unit/neptune/new/client/test_run.py
Due: none

fix e2e test
  tests/e2e/standard/test_init.py
Due: none

uncomment back + add unit test for GitRef DISABLED
  .github/workflows/e2e.yml
  tests/unit/neptune/new/client/test_run.py
Due: none

apply code review
  src/neptune/metadata_containers/run.py
  tests/unit/neptune/new/internal/utils/test_git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

apply code review
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix SSL errors after forking process
  src/neptune/common/backends/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Current
  src/neptune/api/__init__.py
  src/neptune/api/api_operations.py
  src/neptune/api/exceptions.py
  src/neptune/common/backends/utils.py
  src/neptune/internal/backends/hosted_neptune_backend.py
  src/neptune/internal/backends/swagger_client_wrapper.py
  src/neptune/management/exceptions.py
  src/neptune/management/internal/api.py
  src/neptune/management/internal/map_exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Fix
  CHANGELOG.md
  src/neptune/common/backends/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Current 2
  src/neptune/api/api_operations.py
  src/neptune/api/dtos.py
  src/neptune/management/internal/api.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, management

Review fixes
  src/neptune/common/backends/utils.py
  src/neptune/common/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Review fix 2
  src/neptune/common/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Fix imports
  src/neptune/common/backends/utils.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Fix SSL errors after forking process (#1353)
  CHANGELOG.md
  src/neptune/common/backends/utils.py
  src/neptune/common/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

More SSL errors fixes
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/threading/daemon.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "Fix SSL errors after forking process (#1353)"
  CHANGELOG.md
  src/neptune/common/backends/utils.py
  src/neptune/common/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Revert "Fix SSL errors after forking process (#1353)" (#1356)
  CHANGELOG.md
  src/neptune/common/backends/utils.py
  src/neptune/common/utils.py
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

apply code review
  src/neptune/attributes/constants.py
  src/neptune/internal/utils/git.py
  tests/unit/neptune/new/client/test_run.py
  tests/unit/neptune/new/internal/utils/test_git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

self-review
  src/neptune/internal/utils/git.py
  tests/unit/neptune/new/internal/utils/test_git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Update README.md
  README.md
Due: none

fix management link
  README.md
Due: none

Update README.md (#1357)
  README.md
Due: none

Fix ImportError when git is missing
  CHANGELOG.md
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix type checking
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fix ImportError when git is missing (#1359)
  CHANGELOG.md
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client
