Repository neptune-ai/neptune-client: changes, and which Codecov flags are due for each by the changed paths.
All: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-management, e2e-s3-gcs, e2e-s3, client, legacy, management

Close all http connections in fork process.
  src/neptune/internal/backends/hosted_client.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Revert "More SSL errors fixes"
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/threading/daemon.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Close all http connections in fork process.
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Removed git default test
  tests/e2e/standard/test_init.py
Due: none

Removed git default test (#1361)
  tests/e2e/standard/test_init.py
Due: none

Update src/neptune/common/exceptions.py
  src/neptune/common/exceptions.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

CHANGELOG
  CHANGELOG.md
Due: none

Minor refactor and added support for read-only exception
  src/neptune/common/backends/utils.py
  src/neptune/common/exceptions.py
  src/neptune/internal/backends/swagger_client_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Refactor and message text
  src/neptune/common/backends/utils.py
  src/neptune/common/exceptions.py
  src/neptune/internal/backends/swagger_client_wrapper.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

CHANGELOG updated
  CHANGELOG.md
Due: none

review suggestions
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

return typing
  src/neptune/common/backends/utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

CHANGELOG fix
  CHANGELOG.md
Due: none

Tests for ensure_json_body
  src/neptune/api/__init__.py
  src/neptune/api/requests_utils.py
  src/neptune/common/backends/utils.py
  tests/unit/neptune/new/api/__init__.py
  tests/unit/neptune/new/api/test_requests_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Auto review
  tests/unit/neptune/new/api/test_requests_utils.py
Due: none

Tests for handle_json_errors
  src/neptune/api/exceptions_utils.py
  src/neptune/common/backends/utils.py
  src/neptune/internal/backends/swagger_client_wrapper.py
  tests/unit/neptune/new/api/test_exceptions_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Support for read-only archived project exception (#1355)
  CHANGELOG.md
  src/neptune/api/__init__.py
  src/neptune/api/exceptions_utils.py
  src/neptune/api/requests_utils.py
  src/neptune/common/backends/utils.py
  src/neptune/common/exceptions.py
  src/neptune/internal/backends/swagger_client_wrapper.py
  tests/unit/neptune/new/api/__init__.py
  tests/unit/neptune/new/api/test_exceptions_utils.py
  tests/unit/neptune/new/api/test_requests_utils.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client, legacy

Daemon add state
  src/neptune/internal/operation_processors/async_operation_processor.py
  src/neptune/internal/operation_processors/operation_processor.py
  src/neptune/internal/threading/daemon.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Daemon add state
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Daemon add state
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

temp update GH actions
  .github/actions/test-unit/action.yml
  .github/workflows/unit-in-pull-request.yml
Due: none

fix path
  .github/actions/test-unit/action.yml
Due: none

run all tests in that file
  .github/actions/test-unit/action.yml
Due: none

run all unit tests
  .github/actions/test-unit/action.yml
Due: none

Daemon pause fixes
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

remove argument with number of processes
  .github/actions/test-unit/action.yml
Due: none

bring back -n 2 and set untracked_files=True
  .github/actions/test-unit/action.yml
  src/neptune/internal/utils/git.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

check other os and python versions
  .github/workflows/unit-in-pull-request.yml
Due: none

only on 3.10
  .github/workflows/unit-in-pull-request.yml
Due: none

unnessesary 'latest'
  .github/workflows/unit-in-pull-request.yml
Due: none

Pause BG jobs
  src/neptune/internal/backgroud_job_list.py
  src/neptune/internal/background_job.py
  src/neptune/internal/disk_queue.py
  src/neptune/internal/hardware/hardware_metric_reporting_job.py
  src/neptune/internal/streams/std_capture_background_job.py
  src/neptune/internal/streams/std_stream_capture_logger.py
  src/neptune/internal/utils/ping_background_job.py
  src/neptune/internal/utils/traceback_job.py
  src/neptune/internal/websockets/websocket_signals_background_job.py
  src/neptune/metadata_containers/metadata_container.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Daemon change pause condition
  src/neptune/internal/threading/daemon.py
Due: unit, e2e, ubuntu, macos, windows, py3.7, py3.8, py3.9, py3.10, e2e-standard, e2e-s3-gcs, e2e-s3, client

Fork in test
  tests/e2e/standard/test_multiprocessing.py
Due: none

Fix python version in Actions to 3.7.16, related to https://github.com/actions/setup-python/issues/682
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit-in-pull-request.yml
  .github/workflows/unit.yml
Due: none

Revert "Fix python version in Actions to 3.7.16, related to https://github.com/actions/setup-python/issues/682"
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit-in-pull-request.yml
  .github/workflows/unit.yml
Due: none

Fix python version in Actions to 3.7.16 for macos
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

Fix python version in Actions to 3.7.16, related to https://github.co… (#1363)
  .github/workflows/e2e.yml
  .github/workflows/integrations.yml
  .github/workflows/unit.yml
Due: none

Path conditions:
  unit: any of: src/neptune
  e2e: any of: src/neptune
  ubuntu: any of: src/neptune
  macos: any of: src/neptune
  windows: any of: src/neptune
  py3.7: any of: src/neptune
  py3.8: any of: src/neptune
  py3.9: any of: src/neptune
  py3.10: any of: src/neptune
  e2e-standard: any of: src/neptune
  e2e-management: any of: src/neptune/management
  e2e-s3-gcs: any of: src/neptune
  e2e-s3: any of: src/neptune
  client: any of: src/neptune/attributes/**, src/neptune/cli/**, src/neptune/common/**, src/neptune/internal/**, src/neptune/logging/**, src/neptune/metadata_containers/**, src/neptune/new/**, src/netpune/types/**, src/neptune/vendor/**, src/neptune/*.py
  legacy: any of: src/neptune/legacy/**, src/neptune/common/**
  management: any of: src/neptune/management/**
